Repository ppy/osu-web, pull requests merged in 2019-11, with the labels that each got.

#5206 Use custom OAuth classes in Passport
  app/Models/OAuth/AuthCode.php
  app/Models/OAuth/Client.php
  app/Models/OAuth/Token.php
  app/Providers/AuthServiceProvider.php
Labels: code quality

#5207 Use new framework methods
  app/Http/Controllers/ScoresController.php
  database/factories/ScoreBestFactory.php
  database/factories/UserFactory.php
  tests/Browser/SanityTest.php
  tests/Controllers/Chat/Channels/MessagesControllerTest.php
  tests/Controllers/ScoresControllerTest.php
Labels: code quality

#5211 Add missing $casts on BeatmapPack
  app/Models/BeatmapPack.php
Labels: code quality

#5216 Fix beatmap search filter state initializing too early
  resources/assets/lib/beatmaps/beatmapset-search-controller.ts
Labels: resolves issue, search

#5214 Add interop endpoint for sending user message
  app/Http/Controllers/Chat/Channels/MessagesController.php
  app/Http/Controllers/Chat/ChatController.php
  app/Http/Controllers/LegacyInterOpController.php
  app/Libraries/Chat.php
  routes/web.php
Labels: api

#5248 Create helper to make using group colours less tedious.
  resources/assets/less/bem/beatmap-discussion-post.less
  resources/assets/less/bem/beatmap-discussions-user-filter.less
  resources/assets/less/bem/modding-profile-vote-card.less
  resources/assets/less/bem/user-group-badge.less
  resources/assets/less/colors.less
Labels: code quality

#5247 Fix country ranking API
  app/Http/Controllers/RankingController.php
Labels: resolves issue

#5218 Better sort and cursor matching for beatmapset search
  app/Http/Controllers/BeatmapsetsController.php
  app/Http/Controllers/UsersController.php
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
  app/Libraries/Search/ForumSearchRequestParams.php
  app/Libraries/Search/MultiSearch.php
  app/Libraries/Search/PostSearchRequestParams.php
  app/Libraries/Search/UserSearchRequestParams.php
  app/Libraries/Search/WikiSearchRequestParams.php
  tests/Libraries/Search/BeatmapsetSearchRequestParamsTest.php
Labels: search

#5242 Add RSS for news
  app/Http/Controllers/NewsController.php
  resources/views/news/index-rss.blade.php
Labels: news

#5241 Separate news post lookup and sync
  app/Http/Controllers/NewsController.php
  app/Jobs/UpdateWiki.php
  app/Models/NewsPost.php
Labels: code quality, news

#5251 Allow guest access to comments via API
  app/Http/Middleware/AuthApi.php
  tests/Controllers/CommentsControllerTest.php
Labels: resolves issue

#5259 Fix travis giving up too early waiting for elasticsearch to start
  .travis.yml
Labels: tooling

#5250 Send user report notifications to discord
  .env.example
  app/Models/BeatmapDiscussionPost.php
  app/Models/Comment.php
  app/Models/Reportable.php
  app/Models/User.php
  app/Models/UserReport.php
  app/Notifications/UserReportNotification.php
  config/osu.php
Labels: admin

#5075 Allow double posting per-forum
  app/Libraries/OsuAuthorize.php
  app/Models/Forum/Topic.php
  config/osu.php
Labels: forum

#5263 Change misleading friends string in the profile
  resources/lang/en/friends.php
Labels: localisation, resolves issue

#5260 Cache 404 response on news page sync
  app/Models/NewsPost.php
Labels: news

#5253 Refactor Wiki Page model
  app/Console/Commands/EsIndexWiki.php
  app/Http/Controllers/LegalController.php
  app/Http/Controllers/NewsController.php
  app/Http/Controllers/WikiController.php
  app/Jobs/UpdateWiki.php
  app/Libraries/Search/WikiSearch.php
  app/Models/NewsPost.php
  app/Models/Wiki/Page.php
  app/Models/Wiki/PageSearchResult.php
  resources/views/home/_search_result_wiki_page.blade.php
  resources/views/wiki/_notice.blade.php
  resources/views/wiki/show.blade.php
Labels: code quality, wiki

#5283 Fix marking notification read moves things around
  resources/assets/lib/notification-widget/main.tsx
  resources/assets/lib/notification-widget/type-group.tsx
  resources/assets/lib/notification-widget/worker.ts
Labels: notifications, resolves issue

#5240 Add route and localisation builds to webpack build step
  .travis.yml
  SETUP.md
  build.sh
  docker/dependencies/start.sh
  karma.conf.js
  package.json
  tests/karma/globals.js
  webpack.config.js
  webpack.mix.js
  yarn.lock
Labels: tooling

#5285 Fix user verification instance cache
  app/Libraries/UserVerification.php
Labels: testing

#5258 Refactor Wiki Image
  app/Http/Controllers/WikiController.php
  app/Jobs/UpdateWiki.php
  app/Models/Wiki/Image.php
Labels: code quality, wiki

#5257 Add opengraph for featured artists
  app/Models/Artist.php
  resources/views/artists/show.blade.php
Labels: ux

#5291 Fix locale files not being resolved in mix build
  webpack.config.js
  webpack.mix.js
Labels: tooling

#5293 Update typescript to 3.7
  package.json
  yarn.lock
Labels: dependencies

#5290 Update to use new high scores table index
  app/Http/Controllers/BeatmapsController.php
  app/Jobs/RemoveBeatmapsetBestScores.php
  app/Models/Score/Best/Model.php
  database/migrations/2019_11_14_032004_add_new_index_to_scores_high.php
Labels: database

#5256 Wiki Redirect library cleanup
  app/Http/Controllers/WikiController.php
  app/Jobs/UpdateWiki.php
  app/Libraries/WikiRedirect.php
  app/Models/NewsPost.php
  app/Models/Wiki/Image.php
  app/Models/Wiki/Page.php
  app/Models/Wiki/WikiObject.php
Labels: code quality, wiki

#5296 Simplify user model's friend/block caching
  app/Models/User.php
Labels: code quality, database

#5295 Fix beatmap button positions
  resources/assets/coffee/react/beatmap-discussions/header.coffee
  resources/assets/coffee/react/beatmapset-page/header.coffee
  resources/assets/less/bem/beatmap-discussions-header-bottom.less
Labels: design, modding discussions

#5221 Add quick search endpoint
  app/Http/Controllers/HomeController.php
  app/Libraries/Search/QuickSearch.php
  app/Libraries/Search/UserSearch.php
  routes/web.php
Labels: search

#5215 Various user modding history discussion page index fixes
  app/Http/Controllers/Users/ModdingHistoryController.php
Labels: modding discussions

#5234 Add wiki notice for articles in need of cleanup or rewrite
  app/Models/Wiki/Page.php
  resources/lang/en/wiki.php
  resources/views/wiki/_notice.blade.php
Labels: wiki

#5312 Faster removal of existing scores when beatmapset gets ranked
  app/Jobs/RemoveBeatmapsetBestScores.php
Labels: database, performance

#5310 Fix Multiplayer history pager colour
  resources/assets/coffee/react/mp-history/content.coffee
  resources/assets/less/bem/mp-history-content.less
Labels: resolves issue

#5320 Allow beatmap lookup by id
  app/Http/Controllers/API/BeatmapsController.php
Labels: api

#5294 Add relationship between reviews and their child issues
  app/Models/BeatmapDiscussion.php
  app/Transformers/BeatmapDiscussionTransformer.php
  database/migrations/2019_11_07_095402_add_parent_id_to_beatmap_discussions.php
  resources/assets/coffee/react/beatmap-discussions/discussion.coffee
  resources/assets/coffee/react/beatmap-discussions/discussions.coffee
  resources/assets/coffee/react/beatmap-discussions/user-card.coffee
  resources/assets/less/bem/beatmap-discussion-post.less
  resources/assets/less/bem/beatmap-discussion-review-post-embed.less
  resources/assets/less/bem/beatmap-discussion-user-card.less
  resources/assets/less/bem/beatmap-discussion-vote.less
  resources/assets/less/bem/beatmap-discussion.less
  resources/assets/lib/beatmap-discussions/beatmaps-context.ts
  resources/assets/lib/beatmap-discussions/discussions-context.ts
  resources/assets/lib/beatmap-discussions/review-post-embed.tsx
  resources/assets/lib/globals.d.ts
  resources/lang/en/beatmap_discussions.php
Labels: modding discussions

#5297 Add tab for beatmap discussion reviews
  app/Http/Controllers/BeatmapsetsController.php
  resources/assets/coffee/_classes/beatmap-discussion-helper.coffee
  resources/assets/coffee/react/beatmap-discussions/discussions.coffee
  resources/assets/coffee/react/beatmap-discussions/main.coffee
  resources/assets/coffee/react/beatmap-discussions/mode-switcher.coffee
  resources/lang/en/beatmaps.php
Labels: modding discussions

#5305 Fix Markdown link colour (in beatmap discussion reviews) and add nofollow
  resources/assets/less/bem/beatmap-discussion-review-post.less
  resources/assets/lib/beatmap-discussions/review-post.tsx
Labels: modding discussions

#5339 Stop updating order tracking number status
  app/Console/Commands/StoreCheckOrderTrackingStatus.php
  app/Console/Kernel.php
Labels: store
