Repository ppy/osu-web, pull requests merged in 2019-12, with the labels that each got.

#5228 Remove unused in taiko stats (AR/CS) from taiko beatmapsets page
  resources/assets/coffee/react/beatmapset-page/stats.coffee
Labels: beatmap info

#5318 Localise beatmap statuses
  resources/assets/coffee/react/_components/beatmapset-panel.coffee
  resources/assets/coffee/react/beatmapset-page/header.coffee
  resources/assets/coffee/react/beatmapset-page/hype.coffee
  resources/lang/en/beatmapsets.php
  resources/views/beatmapset_watches/index.blade.php
Labels: localisation, resolves issue

#5372 Configurable redis port and database from env
  .env.example
  config/database.php
Labels: code quality

#5363 Add hint when email login is disabled
  app/Http/Controllers/SessionsController.php
  resources/lang/en/users.php
Labels: ux

#5375 Always use font-default on user card
  resources/assets/less/bem/user-card.less
Labels: resolves issue

#5385 Hide profile section from mobile nav when logged out
  app/helpers.php
Labels: mobile, ux

#5369 Add columns needed for database-sourced group id
  database/migrations/2019_12_04_015903_add_extra_columns_to_groups.php
Labels: database

#5333 Don't show report beatmap button for people who can disqualify
  resources/assets/coffee/react/beatmapset-page/hype.coffee
  resources/lang/en/beatmapsets.php
Labels: beatmap discussions

#5386 Clears notifications when a channel/pm is marked as read
  app/Http/Controllers/Chat/ChannelsController.php
  app/Http/Controllers/LegacyInterOpController.php
  app/Models/Chat/UserChannel.php
  routes/web.php
Labels: chat, ux

#5389 Fix check for showing disqualify button
  resources/assets/coffee/react/beatmap-discussions/nominations.coffee
Labels: beatmap discussions

#5329 Add rank sorting to the user listing
  app/Http/Controllers/FriendsController.php
  app/Http/Controllers/GroupsController.php
  app/Transformers/UserCompactTransformer.php
  resources/assets/lib/globals.d.ts
  resources/assets/lib/sort.tsx
  resources/assets/lib/user-list.tsx
  resources/lang/en/sort.php
Labels: friend listing, resolves issue

#5359 Updated to use `fs.mkdir` module
  generate-localizations.js
  package.json
Labels: resolves issue, tooling

#5394 Add migration for show_in_client on user_contest_entries
  database/migrations/2019_12_11_045755_add_show_in_client_to_user_contest_entries.php
Labels: database

#5222 Truncate large numbers in beatmap stats
  resources/assets/coffee/react/_components/beatmap-basic-stats.coffee
Labels: beatmap info, resolves issue

#5417 Faster chat presence
  app/Models/Chat/UserChannel.php
Labels: chat, performance

#5399 Mark as read fixes for the web chat client
  resources/assets/lib/chat/chat-orchestrator.ts
Labels: chat, resolves issue

#5404 Chat UI fixes (including autoscroll)
  resources/assets/less/bem-index.less
  resources/assets/less/bem/chat-conversation-list-separator.less
  resources/assets/less/bem/chat-conversation.less
  resources/assets/lib/chat/chat-state-store.ts
  resources/assets/lib/chat/conversation-list.tsx
  resources/assets/lib/chat/conversation-view.tsx
  resources/assets/lib/chat/message-divider.tsx
Labels: chat, resolves issue

#5419 Remove unused styles and views
  resources/assets/less/bem-index.less
  resources/assets/less/bem/page-mode-v2.less
  resources/views/forum/topics/_header_breadcrumb.blade.php
  resources/views/home/news.blade.php
  resources/views/news/_header.blade.php
Labels: code quality

#5418 Add tag for grouping to datadog request_time metric
  app/Http/Controllers/Controller.php
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  app/Http/Controllers/Multiplayer/RoomsController.php
  app/Http/Controllers/Passport/AuthorizationController.php
  app/Http/Middleware/DatadogMetrics.php
Labels: resolves issue

#5455 Remove duplicate code
  app/Http/Controllers/RankingController.php
Labels: code quality

#5454 Fix header menu and title overlap
  resources/assets/coffee/_classes/sticky-header.coffee
Labels: design

#5466 Fix marking api sessions verified
  app/Http/Middleware/AuthApi.php
  app/Http/Middleware/VerifyUserAlways.php
Labels: api

#5469 Fix user_votes not included in comments API response
  app/Http/Middleware/AuthApi.php
Labels: resolves issue

#5264 Update comment permalinks to copy the url to clipboard when clicked
  resources/assets/coffee/_classes/tooltip-default.coffee
  resources/assets/coffee/react/_components/click-to-copy.coffee
  resources/assets/coffee/react/_components/comment.coffee
  resources/assets/coffee/react/beatmap-discussions/post.coffee
  resources/assets/coffee/react/profile-page/links.coffee
  resources/assets/less/bem/click-to-copy.less
  resources/assets/lib/click-to-copy.tsx
  resources/lang/en/common.php
Labels: comments, resolves issue
