Repository ppy/osu-web, pull requests merged in 2020-12, with the labels that each got.

#6886 Allow middle-clicking beatmap scoreboard rows
  resources/assets/coffee/react/beatmapset-page/score-top.coffee
  resources/assets/coffee/react/beatmapset-page/scoreboard-table-row.coffee
  resources/assets/less/bem/beatmap-score-top.less
  resources/assets/less/bem/beatmap-scoreboard-table.less
  resources/assets/less/utilities.less
Labels: area:beatmap-info, type:ux

#6929 Ensure wiki images endpoint to only serve images
  app/Http/Controllers/WikiController.php
Labels: area:wiki, type:code-quality

#6930 Include total length in beatmap json response
  app/Transformers/BeatmapCompactTransformer.php
  app/Transformers/BeatmapTransformer.php
  resources/docs/source/includes/_structures/beatmap.md
  resources/docs/source/includes/_structures/beatmap_compact.md
Labels: area:beatmap-info, type:api

#6924 Fix "in" appearing twice in silence expiry messages
  resources/lang/en/users.php
Labels: type:localisation

#6925 Fix front-end part of full BN nomination check
  resources/assets/lib/beatmap-discussions/nominator.tsx
  resources/assets/lib/beatmapsets/beatmapset-json.ts
Labels: area:user-profile

#6920 Reduce username hover area on beatmap scoreboard
  resources/assets/coffee/react/beatmapset-page/scoreboard-table-row.coffee
  resources/assets/less/bem/beatmap-scoreboard-table.less
Labels: area:beatmap-info, type:ux

#6934 Support beatmapset rule violation message
  resources/assets/coffee/react/beatmapset-page/header.coffee
  resources/lang/en/beatmapsets.php
Labels: area:beatmap-info

#6909 Add per-user new beatmap notification
  app/Http/Controllers/InterOp/BeatmapsetsController.php
  app/Jobs/Notifications/UserBeatmapsetNew.php
  app/Models/Follow.php
  app/Models/Notification.php
  app/Models/User.php
  app/Transformers/UserCompactTransformer.php
  database/migrations/2020_11_26_055928_add_modding_and_user_to_follows.php
  resources/assets/coffee/react/profile-page/detail-bar.coffee
  resources/assets/less/bem/notification-popup-item.less
  resources/assets/lib/follow-user-modding-button.tsx
  resources/assets/lib/globals.d.ts
  resources/assets/lib/interfaces/current-user.ts
  resources/assets/lib/notification-maps/category.ts
  resources/assets/lib/notification-maps/icons.ts
  resources/assets/lib/notification-maps/message.ts
  resources/assets/lib/notification-maps/type.ts
  resources/assets/lib/notification-maps/url.ts
  resources/assets/lib/notification-widget/item-compact.tsx
  resources/assets/lib/user-card.tsx
  resources/assets/lib/utils/css.ts
  resources/lang/en/follows.php
  resources/lang/en/notifications.php
  routes/web.php
Labels: area:notifications

#6938 Fix username position on scoreboard when scrolling
  resources/assets/coffee/react/beatmapset-page/scoreboard-table-row.coffee
Labels: area:beatmap-info

#6838 Add ability to see user's comments
  app/Http/Controllers/CommentsController.php
  app/Libraries/CommentBundle.php
  app/Libraries/CommentBundleParams.php
  app/Models/User.php
  app/Transformers/UserTransformer.php
  database/migrations/2020_11_04_144136_add_index_to_user_id_on_comments.php
  resources/assets/coffee/react/_components/comments-manager.coffee
  resources/assets/coffee/react/comments-index.coffee
  resources/assets/coffee/react/comments-index/main.coffee
  resources/assets/coffee/react/profile-page/links.coffee
  resources/assets/less/bem/comments.less
  resources/lang/en/comments.php
  resources/lang/en/users.php
Labels: area:user-profile

#6952 Fix wiki locale on redirect
  app/Http/Controllers/WikiController.php
Labels: area:wiki

#6948 Don't show nominations sort for graveyarded beatmaps
  resources/assets/coffee/react/beatmaps/search-sort.coffee
Labels: area:beatmap-listing

#6954 Use composer 2 for phpcs Github action
  .github/workflows/phpcs.yml
Labels: area:tooling

#6931 New multiplayer room type
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  app/Models/Multiplayer/Room.php
  database/migrations/2020_12_03_075220_add_realtime_to_multiplayer_rooms.php
  resources/views/multiplayer/rooms/show.blade.php
  tests/Controllers/Multiplayer/RoomsControllerTest.php
Labels: area:multiplayer

#6953 Combine watchlist pages
  app/Http/Controllers/BeatmapsetWatchesController.php
  app/Http/Controllers/FollowsController.php
  app/Http/Controllers/Forum/TopicWatchesController.php
  app/Models/Follow.php
  resources/assets/less/bem/beatmapset-watches.less
  resources/assets/less/bem/forum-list.less
  resources/assets/less/bem/page-tabs.less
  resources/assets/lib/friends-index/main.tsx
  resources/assets/lib/home-links.ts
  resources/lang/en/beatmapset_watches.php
  resources/lang/en/follows.php
  resources/lang/en/forum.php
  resources/lang/en/layout.php
  resources/lang/en/page_title.php
  resources/views/emails/beatmapset/update_notice.blade.php
  resources/views/emails/forum/new_reply.blade.php
  resources/views/follows/_subtypes.blade.php
  resources/views/follows/forum_topic.blade.php
  resources/views/follows/forum_topic/_topic.blade.php
  resources/views/follows/forum_topic/_topic_buttons.blade.php
  resources/views/follows/modding.blade.php
  resources/views/home/_user_header_default.blade.php
  resources/views/layout/_popup_user.blade.php
  resources/views/layout/header_mobile/user.blade.php
  routes/web.php
Labels: area:dashboard

#6959 Migrate to Github Actions from TravisCI
  .github/workflows/lint.yml
  .github/workflows/phpcs.yml
  .github/workflows/tests.yml
  .travis.yml
  bin/db_setup.sh
  build.sh
Labels: area:tooling

#6965 Fix audio player looping problem when the page is in background
  resources/assets/lib/osu-audio/main.ts
Labels: type:reliability

#6973 Ignore paypal masspay from IPN processing
  app/Libraries/Payments/PaypalPaymentProcessor.php
Labels: area:store

#6977 Always use current time for room starts_at
  app/Models/Multiplayer/Room.php
Labels: area:multiplayer

#6932 Separate web socket connection handling from notifications
  resources/assets/lib/chat-icon.tsx
  resources/assets/lib/interfaces/xhr-collection.ts
  resources/assets/lib/notification-icon.tsx
  resources/assets/lib/notification-widget/main.tsx
  resources/assets/lib/notifications/worker.ts
  resources/assets/lib/osu-core.ts
  resources/assets/lib/register-components.coffee
  resources/assets/lib/socket-message-event.ts
  resources/assets/lib/socket-worker.ts
  resources/lang/en/notifications.php
Labels: area:notifications

#6978 Clean up TypeScript typing
  resources/assets/lib/beatmaps/beatmapset-search.ts
  resources/assets/lib/beatmaps/result-set.ts
  resources/assets/lib/notifications/worker.ts
Labels: type:code-quality

#6960 Rename follow user modding
  app/Jobs/Notifications/UserBeatmapsetNew.php
  app/Models/Follow.php
  app/Models/Notification.php
  app/Models/User.php
  app/Transformers/UserCompactTransformer.php
  database/migrations/2020_12_09_052337_add_mapping_to_follows.php
  resources/assets/coffee/react/profile-page/detail-bar.coffee
  resources/assets/lib/follow-user-mapping-button.tsx
  resources/assets/lib/interfaces/current-user.ts
  resources/assets/lib/notification-maps/type.ts
  resources/assets/lib/user-card.tsx
  resources/lang/en/follows.php
  resources/lang/en/notifications.php
Labels: type:code-quality

#6969 Show 'no conversations yet' when close all chat channel
  resources/assets/lib/chat.ts
  resources/assets/lib/chat/main-view.tsx
Labels: area:chat

#6984 Declare correct context type for components
  resources/assets/lib/beatmap-discussions/editor-beatmap-selector.tsx
  resources/assets/lib/beatmap-discussions/editor-discussion-component.tsx
  resources/assets/lib/beatmap-discussions/editor-insertion-menu.tsx
  resources/assets/lib/beatmap-discussions/editor-issue-type-selector.tsx
  resources/assets/lib/beatmap-discussions/editor-toolbar.tsx
  resources/assets/lib/beatmap-discussions/editor.tsx
  resources/assets/lib/beatmap-discussions/icon-dropdown-menu.tsx
  resources/assets/lib/beatmap-discussions/slate-context.ts
  resources/assets/lib/notification-widget/item-group.tsx
  resources/assets/lib/notification-widget/item.tsx
  resources/assets/lib/notifications-index/main.tsx
  resources/assets/lib/user-card-brick.tsx
Labels: type:code-quality

#6983 Remove beatmapset discussion reviews config toggle
  .env.example
  app/Http/Controllers/BeatmapDiscussionsController.php
  app/Libraries/BeatmapsetDiscussionReview.php
  app/Libraries/ModdingHistoryEventsBundle.php
  app/Models/BeatmapDiscussion.php
  app/Models/Beatmapset.php
  config/osu.php
  resources/assets/coffee/react/beatmap-discussions/main.coffee
  resources/assets/coffee/react/beatmap-discussions/mode-switcher.coffee
  resources/assets/lib/interfaces/review-editor-config-json.ts
  resources/views/beatmap_discussions/index.blade.php
  tests/Controllers/BeatmapDiscussionsControllerTest.php
  tests/Libraries/BeatmapsetDiscussionReviewTest.php
Labels: type:code-quality

#6972 Allow delete comment on deleted beatmaps
  app/Models/Comment.php
Labels: area:comments

#6993 Reduce data queried for mobile navbar usercard
  resources/assets/coffee/_classes/store-supporter-tag.coffee
  resources/assets/lib/register-components.coffee
  resources/assets/lib/user-card-store.tsx
  resources/views/layout/header_mobile/user.blade.php
  resources/views/objects/_usercard.blade.php
  resources/views/store/products/supporter-tag.blade.php
Labels: area:user-profile, type:code-quality, type:performance

#6980 Allow store orders to be cancelled
  app/Http/Controllers/Store/OrdersController.php
  app/Models/Store/Order.php
  resources/assets/lib/store.ts
  resources/lang/en/store.php
  resources/views/store/orders/index.blade.php
  routes/web.php
Labels: area:store

#6982 Persistent notification widgets and icons
  resources/assets/lib/react-turbolinks.coffee
  resources/assets/lib/user-card-tooltip.tsx
  resources/views/layout/_header_mobile.blade.php
  resources/views/layout/_nav2.blade.php
Labels: type:ux

#6997 Linkify comment replies in stack properly
  resources/assets/lib/notification-maps/url.ts
Labels: area:notifications, type:ux

#6955 Display mapping followers count
  app/Http/Controllers/FollowsController.php
  app/Http/Controllers/UsersController.php
  app/Jobs/UpdateUserMappingFollowerCountCache.php
  app/Models/User.php
  app/Transformers/UserCompactTransformer.php
  resources/assets/coffee/react/profile-page/detail-bar.coffee
  resources/assets/lib/follow-user-mapping-button.tsx
  resources/lang/en/follows.php
Labels: area:user-profile

#7000 Don't count deleted comments for profile display
  app/Transformers/UserTransformer.php
Labels: area:comments

#6992 Add min plays to list of reasons for not being able to chat
  resources/assets/lib/chat/conversation-view.tsx
  resources/lang/en/chat.php
Labels: area:chat

#7006 Fix error on missing follow
  app/Http/Controllers/FollowsController.php
  tests/Controllers/FollowsControllerTest.php
Labels: type:reliability

#6979 Delay verification box when triggered during navigation
  resources/assets/coffee/_classes/user-verification.coffee
Labels: type:ux

#7013 Enforce ends_at for some multiplayer rooms
  app/Models/Multiplayer/Room.php
Labels: area:multiplayer

#7014 Add database and elasticsearch explicit flag for beatmapsets
  app/Models/Beatmapset.php
  config/schemas/beatmaps.json
  database/migrations/2020_08_27_202640_add_nsfw_flag_to_beatmapsets.php
Labels: area:beatmap-info, type:database

#7012 Require verification for delete actions
  app/Http/Middleware/VerifyUserAlways.php
Labels: type:reliability

#7018 Limit number of channels used for presence
  .env.example
  app/Models/Chat/UserChannel.php
  config/osu.php
Labels: area:chat, type:performance

#6966 Add watchlist listing for comment and mapper
  app/Http/Controllers/FollowsController.php
  app/Transformers/CommentTransformer.php
  app/Transformers/FollowCommentTransformer.php
  app/Transformers/FollowModdingTransformer.php
  app/Transformers/FollowTransformer.php
  resources/assets/coffee/_classes/current-user-observer.coffee
  resources/assets/less/bem-index.less
  resources/assets/less/bem/beatmapset-list-view.less
  resources/assets/less/bem/beatmapset-status.less
  resources/assets/less/bem/btn-circle.less
  resources/assets/less/bem/follow-mapper.less
  resources/assets/less/bem/follows-table.less
  resources/assets/lib/beatmapset-list-view.tsx
  resources/assets/lib/follow-toggle.tsx
  resources/assets/lib/follow-user-mapping-button.tsx
  resources/assets/lib/follows-comment.ts
  resources/assets/lib/follows-comment/main.tsx
  resources/assets/lib/follows-mapping.ts
  resources/assets/lib/follows-mapping/main.tsx
  resources/assets/lib/follows-subtypes.tsx
  resources/assets/lib/interfaces/comment-json.ts
  resources/assets/lib/interfaces/follow-comment-json.ts
  resources/assets/lib/interfaces/follow-json.ts
  resources/assets/lib/interfaces/follow-mapping-json.ts
  resources/lang/en/beatmapsets.php
  resources/lang/en/follows.php
  resources/views/follows/_subtypes.blade.php
  resources/views/follows/comment.blade.php
  resources/views/follows/mapping.blade.php
  webpack.unmix.js
Labels: area:dashboard

#6990 Cleanup beatmapset discussion related routes
  app/Http/Controllers/RedirectController.php
  app/Models/BeatmapDiscussion.php
  app/helpers.php
  resources/assets/coffee/react/beatmap-discussions/discussion.coffee
  resources/assets/coffee/react/beatmap-discussions/new-discussion.coffee
  resources/assets/coffee/react/beatmap-discussions/new-reply.coffee
  resources/assets/coffee/react/beatmap-discussions/post.coffee
  resources/assets/coffee/react/modding-profile/discussions.coffee
  resources/assets/lib/beatmap-discussions/event.tsx
  routes/web.php
  tests/BeatmapsetDisqualifyTest.php
  tests/BroadcastNotificationTest.php
  tests/Browser/BeatmapDiscussionPostsTest.php
  tests/Browser/SanityTest.php
  tests/Commands/NotificationsSendMailTest.php
  tests/Controllers/BeatmapDiscussionPostsControllerTest.php
  tests/Controllers/BeatmapDiscussionsControllerTest.php
Labels: area:beatmap-discussions, type:code-quality

#6989 Add sort by post time option for forum topic search
  app/Libraries/Elasticsearch/HasSearch.php
  app/Libraries/Search/ForumSearchParams.php
  app/Libraries/Search/ForumSearchRequestParams.php
  app/helpers.php
  resources/assets/less/bem/sort.less
  resources/lang/en/sort.php
  resources/views/home/search.blade.php
  resources/views/objects/search/_forum_sort.blade.php
Labels: area:forum, area:search

#6968 Include required OAuth scopes in apidoc
  app/Http/Controllers/Chat/Channels/MessagesController.php
  app/Http/Controllers/Chat/ChannelsController.php
  app/Http/Controllers/Chat/ChatController.php
  app/Http/Controllers/CommentsController.php
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  app/Http/Controllers/NotificationsController.php
  app/Http/Controllers/OAuth/TokensController.php
  app/Http/Controllers/SpotlightsController.php
  app/Http/Controllers/UsersController.php
  app/Libraries/ApidocRouteHelper.php
  app/Libraries/RouteScopesHelper.php
  resources/docs/css/style.css
  resources/docs/source/assets/stylus/_osu.styl
  resources/views/vendor/apidoc/partials/info.blade.php
  resources/views/vendor/apidoc/partials/route.blade.php
  tests/RouteScopesTest.php
  tests/api_routes.json
Labels: type:documentation

#7022 Fix test data provider warnings
  app/Transformers/FollowCommentTransformer.php
  app/Transformers/FollowModdingTransformer.php
Labels: type:code-quality

#7027 Fix forum search result's username and timestamp
  resources/assets/less/bem/search-forum-post.less
Labels: area:forum, type:ux
