Repository ppy/osu-web, pull requests merged in 2020-09, with the labels that each got.

#6581 Skip notification digest mail on blank address
  app/Jobs/UserNotificationDigest.php
  app/Models/User.php
Labels: type:reliability

#6579 Fix error reporting failure when connection to Paypal fails
  app/Http/Controllers/Payments/PaypalController.php
  composer.lock
Labels: type:code-quality

#6582 Fix recording last highest score id on multiplayer
  app/Models/Multiplayer/UserScoreAggregate.php
Labels: area:multiplayer

#6588 Switch UserBestScoreCheck to cursor over score_id
  app/Libraries/UserBestScoresCheck.php
Labels: type:performance

#6591 Remove unused json transformer include
  app/Transformers/BeatmapCompactTransformer.php
Labels: type:code-quality

#6555 Replace paragraph about no items with counter
  resources/assets/coffee/react/modding-profile/votes.coffee
  resources/assets/coffee/react/profile-page/beatmaps.coffee
  resources/assets/coffee/react/profile-page/historical.coffee
  resources/assets/coffee/react/profile-page/top-ranks.coffee
  resources/assets/less/bem/page-extra.less
  resources/assets/less/bem/show-more-link.less
  resources/assets/less/bem/title.less
  resources/lang/en/users.php
Labels: area:user-profile

#6532 Allow only triggering captcha after hitting threshold of failed attempts
  .env.example
  app/Http/Controllers/SessionsController.php
  app/helpers.php
  config/captcha.php
  resources/assets/coffee/_classes/user-login.coffee
  resources/assets/coffee/logout.coffee
  resources/assets/lib/captcha.ts
  resources/lang/en/users.php
  resources/views/layout/_popup_login.blade.php
Labels: type:ux

#6565 Cap height of message-area to prevent textarea overflow
  resources/assets/less/bem/beatmap-discussion-editor.less
  resources/assets/less/bem/beatmap-discussion-new.less
Labels: area:beatmap-discussions

#6584 Add forum name to topics on subscriptions page
  resources/assets/less/bem/forum-topic-entry.less
  resources/lang/en/forum.php
  resources/views/forum/forums/_topic.blade.php
  resources/views/forum/topic_watches/_topic.blade.php
Labels: area:forum

#6585 Split off object structure documentation files
  app/Http/Controllers/RankingController.php
  app/Http/Controllers/SpotlightsController.php
  resources/docs/source/includes/_structures.md
  resources/docs/source/includes/_structures/beatmapset.md
  resources/docs/source/includes/_structures/chat_channel.md
  resources/docs/source/includes/_structures/chat_message.md
  resources/docs/source/includes/_structures/comment.md
  resources/docs/source/includes/_structures/comment_bundle.md
  resources/docs/source/includes/_structures/comment_sort.md
  resources/docs/source/includes/_structures/commentable_meta.md
  resources/docs/source/includes/_structures/cursor.md
  resources/docs/source/includes/_structures/game_mode.md
  resources/docs/source/includes/_structures/multiplayer_score.md
  resources/docs/source/includes/_structures/multiplayer_scores.md
  resources/docs/source/includes/_structures/multiplayer_scores_around.md
  resources/docs/source/includes/_structures/multiplayer_scores_cursor.md
  resources/docs/source/includes/_structures/multiplayer_scores_sort.md
  resources/docs/source/includes/_structures/notification.md
  resources/docs/source/includes/_structures/ranking_type.md
  resources/docs/source/includes/_structures/rankings.md
  resources/docs/source/includes/_structures/spotlight.md
  resources/docs/source/includes/_structures/spotlights.md
  resources/docs/source/includes/_structures/user.md
  resources/docs/source/includes/_structures/user_compact.md
  resources/docs/source/includes/_structures/user_statistics.md
  resources/docs/source/includes/_structures/wiki_page.md
  resources/views/vendor/apidoc/partials/frontmatter.blade.php
Labels: type:documentation

#6594 Simplify dealing with twitch stream user data
  app/Models/LivestreamCollection.php
  app/Models/Twitch/Stream.php
  resources/views/livestreams/_featured.blade.php
  resources/views/livestreams/_livestream.blade.php
Labels: type:code-quality

#6600 Shorter scoreboard time display
  resources/lang/en/common.php
Labels: area:beatmap-info, type:ux

#6606 Fix timeago in forum search results
  resources/views/objects/search/_forum_post.blade.php
Labels: area:search

#6595 Fix missing beatmap fail rate charts when switching difficulties
  resources/assets/coffee/_classes/stacked-bar-chart.coffee
  resources/assets/coffee/react/beatmapset-page/info.coffee
Labels: area:beatmap-info

#6607 Fix failtime chart when the data is all zero
  resources/assets/coffee/_classes/stacked-bar-chart.coffee
Labels: area:beatmap-info

#6558 Link user modding events to general listing page and fix pagination links
  app/Http/Controllers/Users/ModdingHistoryController.php
  app/Libraries/ModdingHistoryEventsBundle.php
  app/Models/BeatmapsetEvent.php
  resources/assets/coffee/react/modding-profile/events.coffee
  resources/views/beatmap_discussions/index.blade.php
  resources/views/beatmapset_events/index.blade.php
  routes/web.php
Labels: area:beatmap-discussions

#6599 Clean up notification dispatch calls
  app/Http/Controllers/BeatmapDiscussionPostsController.php
  app/Http/Controllers/CommentsController.php
  app/Http/Controllers/LegacyInterOpController.php
  app/Libraries/BeatmapsetDiscussionReview.php
  app/Libraries/ForumUpdateNotifier.php
  app/Models/Beatmapset.php
  app/Models/Chat/Channel.php
  app/helpers.php
  tests/Jobs/UserNotificationDigestTest.php
Labels: type:code-quality

#6608 Show failtime for all modes
  app/Transformers/BeatmapCompactTransformer.php
Labels: area:beatmap-info

#6616 Add sort index and remove unused disqus index
  database/migrations/2020_09_09_042555_update_comments_index.php
Labels: type:database

#6615 Fix Edge browser name
  composer.lock
Labels: area:settings

#6611 Move some manual file copy to webpack
  .gitignore
  resources/assets/fonts/extra/extra.eot
  resources/assets/fonts/extra/extra.svg
  resources/assets/fonts/extra/extra.ttf
  resources/assets/fonts/extra/extra.woff
  resources/assets/fonts/extra/extra.woff2
  resources/assets/fonts/torus/Torus-Bold.otf
  resources/assets/fonts/torus/Torus-Heavy.otf
  resources/assets/fonts/torus/Torus-Light.otf
  resources/assets/fonts/torus/Torus-Regular.otf
  resources/assets/fonts/torus/Torus-SemiBold.otf
  resources/assets/fonts/torus/Torus-Thin.otf
  resources/assets/fonts/venera/Venera-500.otf
  resources/assets/less/app.less
  resources/assets/less/base.less
  resources/assets/less/torus.less
  resources/assets/less/venera.less
  resources/views/layout/metadata.blade.php
  webpack.mix.js
Labels: type:code-quality

#6515 Documentation for Users endpoint related objects
  app/Http/Controllers/UsersController.php
  app/Models/Beatmap.php
  resources/docs/css/style.css
  resources/docs/source/assets/stylus/_osu.styl
  resources/docs/source/includes/_structures/beatmap.md
  resources/docs/source/includes/_structures/beatmap_compact.md
  resources/docs/source/includes/_structures/beatmapset.md
  resources/docs/source/includes/_structures/beatmapset_compact.md
  resources/docs/source/includes/_structures/event.md
  resources/docs/source/includes/_structures/group.md
  resources/docs/source/includes/_structures/kudosu_history.md
  resources/docs/source/includes/_structures/score.md
  resources/docs/source/includes/_structures/timestamp.md
  resources/docs/source/includes/_structures/user.md
  resources/docs/source/includes/_structures/user_compact.md
Labels: type:documentation

#6592 Smaller API response when starting new chat conversation
  app/Http/Controllers/Chat/Channels/MessagesController.php
  app/Http/Controllers/Chat/ChannelsController.php
  app/Http/Controllers/Chat/ChatController.php
  app/Http/Controllers/LegacyInterOpController.php
  app/Libraries/Chat.php
  app/Models/Chat/Channel.php
  app/Transformers/Chat/ChannelTransformer.php
  resources/assets/lib/chat/chat-api-responses.ts
  resources/assets/lib/chat/chat-worker.ts
  resources/assets/lib/models/chat/channel.ts
  resources/assets/lib/stores/channel-store.ts
  resources/views/vendor/apidoc/partials/info.blade.php
  tests/Controllers/Chat/ChatControllerTest.php
Labels: type:api

#6617 Update page icons
  public/images/icons/artists.svg
  public/images/icons/beatmappacks.svg
  public/images/icons/beatmapsets.svg
  public/images/icons/changelog.svg
  public/images/icons/chat.svg
  public/images/icons/contests.svg
  public/images/icons/forum.svg
  public/images/icons/friends.svg
  public/images/icons/help.svg
  public/images/icons/home.svg
  public/images/icons/news.svg
  public/images/icons/notifications.svg
  public/images/icons/profile.svg
  public/images/icons/rankings.svg
  public/images/icons/search.svg
  public/images/icons/settings.svg
  public/images/icons/store.svg
  public/images/icons/tournaments.svg
  resources/assets/less/bem/header-v4.less
  resources/assets/less/bem/simple-menu.less
  resources/assets/lib/friends-index/main.tsx
  resources/assets/lib/groups-show/main.tsx
  resources/views/accounts/edit.blade.php
  resources/views/beatmap_discussion_posts/index.blade.php
  resources/views/beatmap_discussions/index.blade.php
  resources/views/beatmapset_events/index.blade.php
  resources/views/beatmapset_watches/index.blade.php
  resources/views/forum/topic_watches/index.blade.php
  resources/views/home/_user_header_default.blade.php
  resources/views/layout/error.blade.php
  resources/views/livestreams/index.blade.php
Labels: type:design

#6625 Fix duration localisation not being applied in supporter gift mails
  app/Mail/SupporterGift.php
  resources/views/emails/store/supporter_gift.blade.php
  tests/Libraries/Fulfillments/SupporterTagFulfillmentTest.php
Labels: type:localisation

#6609 Clean up getting params from request
  app/Http/Controllers/AccountController.php
  app/Http/Controllers/BeatmapDiscussionPostsController.php
  app/Http/Controllers/BeatmapDiscussionsController.php
  app/Http/Controllers/BeatmapsetDiscussionVotesController.php
  app/Http/Controllers/CommentsController.php
  app/Http/Controllers/FollowsController.php
  app/Http/Controllers/Forum/TopicsController.php
  app/Http/Controllers/PasswordResetController.php
  app/Http/Controllers/ReportsController.php
  app/Http/Controllers/StoreController.php
  app/Http/Controllers/UsersController.php
Labels: type:code-quality

#6623 Localise beatmapset status in recent events on user profile page
  resources/assets/coffee/react/profile-page/recent-activity.coffee
  resources/lang/en/events.php
Labels: area:user-profile, type:localisation

#6624 Don't render beatmap discussion starting post twice
  resources/assets/coffee/react/beatmap-discussions/discussion.coffee
  resources/assets/coffee/react/beatmap-discussions/post.coffee
  resources/assets/less/bem/beatmap-discussion-post.less
  resources/assets/less/bem/beatmap-discussion.less
  tests/Browser/BeatmapDiscussionPostsTest.php
Labels: area:beatmap-discussions, type:performance

#6636 Fix BBCode [img] test
  tests/Libraries/bbcode_examples/basic_img.base.txt
  tests/Libraries/bbcode_examples/basic_img.db.txt
  tests/Libraries/bbcode_examples/basic_img.html
Labels: type:testing

#6626 Skip rendering hidden beatmap discussions
  resources/assets/coffee/react/beatmap-discussions/discussions.coffee
  resources/assets/less/utilities.less
Labels: area:beatmap-discussions, type:performance

#6646 Fix typos
  resources/views/vendor/apidoc/partials/info.blade.php
Labels: type:documentation

#6641 Remove unused variable
  resources/assets/coffee/react/beatmap-discussions/post.coffee
Labels: area:beatmap-discussions, type:code-quality

#6632 Skip initial render of discussion editor
  resources/assets/coffee/react/beatmap-discussions/post.coffee
Labels: area:beatmap-discussions, type:performance

#6627 Use pre-indexed data for beatmap discussion related lookups
  resources/assets/coffee/_classes/beatmap-discussion-helper.coffee
  resources/assets/coffee/react/beatmap-discussions/discussion.coffee
  resources/assets/coffee/react/beatmap-discussions/discussions.coffee
  resources/assets/coffee/react/beatmap-discussions/main.coffee
Labels: area:beatmap-discussions, type:performance

#6642 Don't trigger page change event when rendering discussion post
  resources/assets/coffee/react/beatmap-discussions/post.coffee
Labels: area:beatmap-discussions, type:performance

#6640 Combine discussion states
  resources/assets/coffee/react/beatmap-discussions/discussion.coffee
  resources/assets/coffee/react/beatmap-discussions/discussions.coffee
  resources/assets/coffee/react/beatmap-discussions/main.coffee
Labels: area:beatmap-discussions, type:performance

#6648 Cleanup unused image assets
  public/images/backgrounds/buttonblue@2x.png
  public/images/backgrounds/buttonpink@2x.png
  public/images/backgrounds/grid-0.1.png
  public/images/backgrounds/page-light.png
  public/images/backgrounds/page-light@2x.png
  public/images/backgrounds/watercolour-square-blue.jpg
  public/images/backgrounds/watercolour-square-blue@2x.jpg
  public/images/backgrounds/world_map.svg
  public/images/badges/user-achievements/all-secret-valediction.png
  public/images/badges/user-achievements/all-secret-valediction@2x.png
Labels: type:code-quality

#6628 Disable 'save' button when editing a discussion/review and it exceeds the length limits
  resources/assets/coffee/react/beatmap-discussions/post.coffee
  resources/assets/lib/beatmap-discussions/editor.tsx
Labels: area:beatmap-discussions

#6662 Fix blank form when editing existing beatmap discussion review
  resources/assets/lib/beatmap-discussions/editor.tsx
Labels: area:beatmap-discussions

#6666 Remove random non-breaking spaces
  webpack.config.js
Labels: type:code-quality

#6643 Limit marking as read to push notifications.
  app/Models/UserNotification.php
Labels: area:notifications

#6655 Remove user brick background
  resources/assets/less/bem/user-card-brick.less
  resources/assets/lib/user-card-brick.tsx
Labels: area:friend-listing, type:design

#6668 Extract timestamp decoration style out into separate BEM block
  resources/assets/coffee/_classes/beatmap-discussion-helper.coffee
  resources/assets/less/bem-index.less
  resources/assets/less/bem/beatmap-discussion-timestamp-decoration.less
  resources/assets/less/bem/beatmapset-discussion-message.less
  resources/assets/lib/beatmap-discussions/editor.tsx
  resources/assets/lib/beatmap-discussions/review-post.tsx
Labels: area:beatmap-discussions, type:code-quality

#6663 Show username change history even for admin changes
  app/Models/UsernameChangeHistory.php
Labels: area:user-profile

#6664 Fix discussion post paddings
  resources/assets/less/bem/beatmap-discussion-post.less
  resources/assets/less/bem/beatmap-discussion.less
  resources/views/beatmap_discussion_posts/_item.blade.php
  resources/views/beatmap_discussions/_item.blade.php
Labels: area:beatmap-discussions, type:design

#6665 Better duration format when the file hasn't been loaded
  resources/assets/less/bem/audio-player.less
  resources/assets/lib/osu-audio/main.ts
Labels: type:ux

#6660 Move back to upstream Slate
  package.json
  resources/assets/lib/beatmap-discussions/drafts-context.ts
  resources/assets/lib/beatmap-discussions/editor-beatmap-selector.tsx
  resources/assets/lib/beatmap-discussions/editor-discussion-component.tsx
  resources/assets/lib/beatmap-discussions/editor-helpers.ts
  resources/assets/lib/beatmap-discussions/editor-issue-type-selector.tsx
  resources/assets/lib/beatmap-discussions/editor.tsx
  resources/assets/lib/beatmap-discussions/review-document.ts
  resources/assets/lib/interfaces/beatmap-discussion-review.ts
  yarn.lock
Labels: area:beatmap-discussions

#6651 Add max_combo to multiplayer room beatmap json
  app/Http/Controllers/Multiplayer/RoomsController.php
Labels: area:multiplayer, type:api

#6675 Remove slack notification for forum updates
  app/Http/Controllers/Forum/TopicsController.php
  app/Jobs/NotifyForumUpdateSlack.php
  app/Libraries/ForumUpdateNotifier.php
  composer.json
  composer.lock
  config/app.php
  config/slack.php
Labels: type:code-quality

#6686 Add support for user registration email domain block list
  app/Models/User.php
  database/migrations/2020_09_25_092826_create_phpbb_banlist.php
  resources/lang/en/model_validation.php
Labels: area:user-profile

#6619 Beatmap discussions mobile overflow/usability fixes
  resources/assets/coffee/react/beatmap-discussions/mode-switcher.coffee
  resources/assets/less/bem/back-to-top.less
  resources/assets/less/bem/beatmap-discussion-editor.less
  resources/assets/less/bem/beatmap-discussion-expand.less
  resources/assets/less/bem/beatmap-discussion-new.less
  resources/assets/less/bem/beatmap-discussion-user-card.less
  resources/assets/less/bem/beatmap-discussion.less
  resources/assets/less/bem/beatmap-discussions.less
  resources/assets/less/bem/page-mode-link.less
  resources/assets/less/bem/page-mode.less
Labels: area:beatmap-discussions, type:ux

#6650 Reduce initial work on beatmap discussion post render
  resources/assets/coffee/react/beatmap-discussions/discussion.coffee
  resources/assets/coffee/react/beatmap-discussions/post.coffee
  resources/assets/less/bem/user-list-popup.less
  resources/assets/lib/report-reportable.tsx
Labels: area:beatmap-discussions, type:performance

#6676 BeatmapsetSearchFilters cleanup
  resources/assets/lib/beatmaps/beatmapset-search-controller.ts
  resources/assets/lib/beatmapset-search-filters.ts
Labels: type:code-quality

#6658 Faster discussion timeline chart
  resources/assets/coffee/_classes/beatmap-discussion-helper.coffee
  resources/assets/coffee/_classes/beatmap-discussions-chart.coffee
  resources/assets/coffee/react/beatmap-discussions/header.coffee
  resources/assets/less/bem-index.less
  resources/assets/less/bem/beatmap-discussions-chart.less
  resources/assets/less/bem/beatmap-discussions-header-top.less
  resources/assets/less/bem/beatmapset-discussions-chart.less
  resources/assets/less/variables.less
  resources/assets/lib/beatmap-discussions/chart.tsx
  resources/assets/lib/beatmap-discussions/discussions-context.ts
  resources/assets/lib/beatmap-discussions/editor-discussion-component.tsx
  resources/assets/lib/beatmap-discussions/editor.tsx
  resources/assets/lib/beatmap-discussions/event.tsx
  resources/assets/lib/beatmap-discussions/new-review.tsx
  resources/assets/lib/beatmap-discussions/review-document.ts
  resources/assets/lib/globals.d.ts
  resources/assets/lib/interfaces/beatmapset-event-json.ts
Labels: area:beatmap-discussions, type:performance

#6700 Fix store order history stripe position
  resources/assets/less/bem/store-order.less
Labels: type:design

#6702 Remove store product banner text overlay
  resources/views/store/products/show.blade.php
Labels: area:store, type:design

#6704 Ignore mass-payment callbacks from PayPal
  app/Libraries/Payments/PaypalPaymentProcessor.php
Labels: area:store

#6699 Fix the 'user card' padding/alignment of modding posts
  resources/assets/less/bem/beatmap-discussion-user-card.less
Labels: area:beatmap-discussions
