Repository ppy/osu-web, pull requests merged in 2020-06, with the labels that each got.

#6071 Add new notification type for the creation of modding reviews
  app/Jobs/BroadcastNotification.php
  app/Libraries/BeatmapsetDiscussionReview.php
  app/Models/Notification.php
  resources/assets/lib/notification-maps/category.ts
  resources/assets/lib/notification-maps/message.ts
  resources/assets/lib/notification-maps/url.ts
  resources/lang/en/notifications.php
Labels: area:beatmap-discussions, area:notifications

#6077 Easier hover target for beatmap review toolbar
  resources/assets/less/bem/beatmap-discussion-editor.less
Labels: area:beatmap-discussions, type:ux

#6063 Include Beatmap checksum in Timeshift room responses
  app/Http/Controllers/Multiplayer/RoomsController.php
  app/Transformers/BeatmapCompactTransformer.php
Labels: area:multiplayer

#6064 Add endpoint returning playlist item's scores
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  app/Models/Multiplayer/PlaylistItem.php
  app/Models/Multiplayer/PlaylistItemUserHighScore.php
  database/migrations/2020_05_28_072624_add_multiplayer_scores_high_top_scores_index.php
  routes/web.php
  tests/api_routes.json
Labels: area:multiplayer

#6090 Fix missing usergroup badge
  resources/assets/coffee/react/beatmap-discussions/discussion.coffee
  resources/assets/coffee/react/beatmap-discussions/user-card.coffee
Labels: area:user-profile

#6029 Use user default mode for redirects
  app/Http/Controllers/GroupsController.php
  app/Http/Controllers/RankingController.php
  app/helpers.php
  resources/assets/lib/utils/beatmap-helper.ts
  resources/views/forum/topics/_post_info.blade.php
Labels: type:ux

#5889 Add friends filter for ranking
  app/Http/Controllers/RankingController.php
  app/Models/Country.php
  app/Models/UserStatistics/Model.php
  app/Transformers/CountryTransformer.php
  resources/assets/coffee/osu_common.coffee
  resources/assets/coffee/react/_components/comments-sort.coffee
  resources/assets/less/bem-index.less
  resources/assets/less/bem/page-mode.less
  resources/assets/less/bem/ranking-filter.less
  resources/assets/less/bem/ranking-select-options.less
  resources/assets/lib/coffee-modules.d.ts
  resources/assets/lib/globals.d.ts
  resources/assets/lib/ranking-filter.tsx
  resources/assets/lib/register-components.coffee
  resources/assets/lib/sort.tsx
  resources/lang/en/rankings.php
  resources/lang/en/sort.php
  resources/views/objects/_country_flag.blade.php
  resources/views/rankings/index.blade.php
  tests/Controllers/RankingControllerTest.php
  tslint.json
Labels: area:rankings

#6092 Improve visibility of spaces in username in some places
  resources/assets/coffee/react/profile-page/header-info.coffee
  resources/assets/less/bem/beatmapset-mapping.less
  resources/assets/less/bem/profile-previous-usernames.less
  resources/assets/less/bem/user-search-card.less
  resources/assets/less/utilities.less
  resources/assets/lib/user-card.tsx
  resources/views/master.blade.php
  resources/views/users/show.blade.php
Labels: area:user-profile

#6106 Don't save new PM channel if message is not sent
  app/Http/Controllers/ChatController.php
  app/Libraries/Chat.php
  app/Models/Chat/Channel.php
  tests/Libraries/ChatTest.php
Labels: area:chat

#6114 Add endpoint to rejoin PM channel
  app/Http/Controllers/Chat/ChannelsController.php
  app/Libraries/Chat.php
  app/Models/Chat/Channel.php
  app/Transformers/Chat/ChannelTransformer.php
  resources/docs/source/includes/_structures.md
  routes/web.php
  tests/Controllers/Chat/ChannelsControllerTest.php
  tests/api_routes.json
Labels: area:chat

#6039 Trigger disqualification/reset of nominations when a review contains problem(s)
  app/Libraries/BeatmapsetDiscussionReview.php
  database/factories/BeatmapsetFactory.php
  resources/assets/coffee/react/beatmap-discussions/post.coffee
  resources/assets/lib/beatmap-discussions/editor-helpers.ts
  resources/assets/lib/beatmap-discussions/editor.tsx
  resources/assets/lib/beatmapsets/beatmapset-json.ts
  tests/Libraries/BeatmapsetDiscussionReviewTest.php
Labels: area:beatmap-discussions, area:notifications

#6120 Fix review beatmap selector on the modding profile/history pages
  app/Http/Controllers/BeatmapDiscussionsController.php
  app/Libraries/ModdingHistoryEventsBundle.php
  resources/assets/coffee/react/beatmap-discussions-history.coffee
  resources/assets/coffee/react/beatmap-discussions-history/main.coffee
  resources/assets/coffee/react/modding-profile.coffee
  resources/assets/coffee/react/modding-profile/main.coffee
  resources/assets/lib/beatmap-discussions/editor.tsx
Labels: area:beatmap-discussions

#6143 Disable docker elasticsearch index auto creation
  docker-compose.yml
Labels: area:tooling

#6165 Fix env name in example
  .env.example
Labels: type:code-quality

#6159 Lint js files in top directory
  generate-localizations.js
  karma.conf.js
  package.json
  webpack.config.js
  webpack.mix.js
Labels: type:code-quality

#6180 Add pitch adjustment settings to WU and WD mods
  app/Libraries/Multiplayer/Mod.php
Labels: area:multiplayer

#6163 Allow using shift+enter to insert newlines inside of embeds
  resources/assets/lib/beatmap-discussions/editor-helpers.ts
  resources/assets/lib/beatmap-discussions/editor.tsx
Labels: area:beatmap-discussions

#6126 Show max combo in (some of) beatmap json
  app/Http/Controllers/API/BeatmapsController.php
  app/Http/Controllers/BeatmapsetsController.php
  app/Libraries/Search/BeatmapsetSearch.php
  app/Models/Beatmap.php
  app/Transformers/BeatmapCompactTransformer.php
Labels: type:api

#6125 Add highlight for perfect accuracy and combo
  app/Http/Controllers/ScoresController.php
  resources/assets/coffee/react/beatmapset-page/score-top.coffee
  resources/assets/coffee/react/beatmapset-page/scoreboard.coffee
  resources/assets/less/bem/beatmap-score-top.less
  resources/assets/less/bem/beatmap-scoreboard-table.less
  resources/assets/less/bem/score-stats.less
  resources/assets/less/variables.less
  resources/assets/lib/interfaces/beatmap-json.ts
  resources/assets/lib/scores-show/main.tsx
  resources/assets/lib/scores-show/stats.tsx
  resources/assets/lib/utils/css.ts
Labels: area:beatmap-info

#6149 Add public scope-accessible beatmapset events API
  app/Http/Controllers/BeatmapsetEventsController.php
  routes/web.php
  tests/api_routes.json
Labels: type:api

#6142 Add option to return failed plays in user scores endpoint
  app/Http/Controllers/UsersController.php
  app/Models/Score/Model.php
Labels: type:api

#6161 Prevent error when failing to cast input to string
  app/helpers.php
Labels: type:code-quality

#6138 Add option to allow guest search
  .env.example
  app/Libraries/OsuAuthorize.php
  app/Libraries/Search/BeatmapsetSearch.php
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
  config/osu.php
  resources/assets/coffee/_classes/beatmapset-filter.coffee
  resources/assets/coffee/react/beatmaps/search-content.coffee
  resources/assets/coffee/react/beatmaps/search-panel.coffee
  resources/assets/lib/beatmaps.ts
  resources/assets/lib/beatmaps/beatmapset-search-controller.ts
  resources/views/beatmapsets/index.blade.php
Labels: area:tooling

#6219 Remove datadog enable check
  app/Libraries/Elasticsearch/Search.php
  app/Providers/AppServiceProvider.php
  app/helpers.php
  config/datadog-helper.php
Labels: type:code-quality

#6227 Add additional exclusions when indexing Beatmapsets
  app/Models/Elasticsearch/BeatmapsetTrait.php
  app/Models/Elasticsearch/PostTrait.php
  app/Models/Elasticsearch/TopicTrait.php
  app/Models/Elasticsearch/UserTrait.php
  app/Traits/EsIndexableModel.php
Labels: area:beatmap-listing, area:search

#6229 Add meta tag on pages webcrawlers should not be indexing
  app/Http/Controllers/BeatmapsetsController.php
  resources/views/layout/metadata.blade.php
Labels: area:beatmap-info

#6223 Add multiplayer rooms and scores to public scope
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  app/Http/Controllers/Multiplayer/RoomsController.php
  tests/api_routes.json
Labels: type:api

#6235 Update translations from crowdin
  resources/lang/de/beatmaps.php
  resources/lang/de/rankings.php
  resources/lang/es/beatmaps.php
  resources/lang/es/rankings.php
  resources/lang/es/users.php
  resources/lang/fi/beatmaps.php
  resources/lang/id/accounts.php
  resources/lang/id/beatmappacks.php
  resources/lang/id/beatmaps.php
  resources/lang/id/common.php
  resources/lang/id/community.php
  resources/lang/id/events.php
  resources/lang/id/notifications.php
  resources/lang/id/users.php
  resources/lang/it/beatmaps.php
  resources/lang/ko/beatmaps.php
  resources/lang/ko/beatmapsets.php
  resources/lang/nl/beatmaps.php
  resources/lang/pl/accounts.php
  resources/lang/pl/beatmap_discussions.php
  resources/lang/pl/beatmaps.php
  resources/lang/pl/common.php
  resources/lang/pl/rankings.php
  resources/lang/pl/sort.php
  resources/lang/pt-br/beatmaps.php
  resources/lang/pt-br/beatmapsets.php
  resources/lang/pt-br/layout.php
  resources/lang/pt-br/notifications.php
  resources/lang/pt-br/users.php
  resources/lang/pt/accounts.php
  resources/lang/pt/beatmaps.php
  resources/lang/pt/common.php
  resources/lang/pt/rankings.php
  resources/lang/pt/sort.php
  resources/lang/ro/accounts.php
  resources/lang/ro/api.php
  resources/lang/ro/authorization.php
  resources/lang/ro/beatmap_discussions.php
  resources/lang/ro/beatmaps.php
  resources/lang/ro/beatmapset_events.php
  resources/lang/ro/beatmapsets.php
  resources/lang/ru/accounts.php
  resources/lang/sv/beatmaps.php
  resources/lang/th/accounts.php
  resources/lang/th/beatmaps.php
  resources/lang/tr/accounts.php
  resources/lang/tr/authorization.php
  resources/lang/tr/beatmap_discussions.php
  resources/lang/tr/beatmaps.php
  resources/lang/tr/beatmapset_events.php
  resources/lang/tr/common.php
  resources/lang/tr/forum.php
  resources/lang/tr/model_validation.php
  resources/lang/tr/notifications.php
  resources/lang/tr/oauth.php
  resources/lang/tr/rankings.php
  resources/lang/tr/scores.php
  resources/lang/tr/sort.php
  resources/lang/tr/tournament.php
  resources/lang/zh-tw/tournament.php
Labels: type:localisation

#6168 Fix check for new problem on qualified map
  app/Http/Controllers/BeatmapDiscussionPostsController.php
  app/Libraries/BeatmapsetDiscussionReview.php
  app/Models/BeatmapDiscussion.php
  tests/Models/BeatmapDiscussionPostTest.php
Labels: area:notifications

#6233 API middleware cleanups
  app/Http/Kernel.php
  app/Http/Middleware/DisableSessionCookiesForAPI.php
  app/Http/Middleware/VerifyUserAlways.php
  app/Libraries/RouteScopesHelper.php
  app/Providers/AdditionalDuskServiceProvider.php
  routes/web.php
  tests/api_routes.json
Labels: type:code-quality

#6150 Update BBCode editor for beatmap description and profile page
  resources/assets/coffee/_classes/bbcode-preview.coffee
  resources/assets/coffee/_classes/forum-topic-reply.coffee
  resources/assets/coffee/main.coffee
  resources/assets/coffee/react/_components/bbcode-editor.coffee
  resources/assets/coffee/react/beatmapset-page/info.coffee
  resources/assets/coffee/react/profile-page/user-page-editor.coffee
  resources/assets/less/base.less
  resources/assets/less/bem-index.less
  resources/assets/less/bem/bbcode-editor.less
  resources/assets/less/bem/beatmapset-description-editor.less
  resources/assets/less/bem/btn-circle.less
  resources/assets/less/bem/page-extra.less
  resources/assets/less/bem/post-editor-footer.less
  resources/assets/less/bem/post-editor.less
  resources/views/forum/topics/_post_box_footer.blade.php
  resources/views/forum/topics/_post_edit_form.blade.php
Labels: area:beatmap-info, area:user-profile, type:ux

#6199 Hide replies of deleted discussion
  app/Models/BeatmapDiscussionPost.php
Labels: area:beatmap-discussions

#6205 Combine database-based cursor handling to a helper
  app/Http/Controllers/CommentsController.php
  app/Http/Controllers/NewsController.php
  app/Libraries/CommentBundle.php
  app/Libraries/CommentBundleParams.php
  app/Libraries/DbCursorHelper.php
  app/Models/Comment.php
  app/Models/Model.php
  app/Models/NewsPost.php
  app/Models/Score/Best/Model.php
  app/Models/UserProfileCustomization.php
  app/helpers.php
Labels: type:code-quality

#6209 Multiplayer score pagination
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  app/Models/Multiplayer/PlaylistItemUserHighScore.php
Labels: area:multiplayer
