Repository ppy/osu-web, pull requests merged in 2020-01, with the labels that each got.

#5492 Show beatmap metadata in multiplayer room history even if deleted
  app/Models/Multiplayer/PlaylistItem.php
  tests/Models/Multiplayer/RoomTest.php
Labels: multiplayer

#5494 Fix missing hit_accuracy in spotlight ranking API
  app/Models/UserStatistics/Fruits.php
  app/Models/UserStatistics/Mania.php
  app/Models/UserStatistics/Model.php
  app/Models/UserStatistics/Osu.php
  app/Models/UserStatistics/Taiko.php
  app/Transformers/UserStatisticsTransformer.php
  resources/views/rankings/_spotlight_rankings_table.blade.php
Labels: resolves issue

#5157 Add an ability to pin comments
  app/Http/Controllers/CommentsController.php
  app/Libraries/CommentBundle.php
  app/Libraries/OsuAuthorize.php
  app/Transformers/CommentTransformer.php
  database/migrations/2019_10_21_075612_add_pinned_field_to_comments.php
  resources/assets/coffee/react/_components/comment.coffee
  resources/assets/coffee/react/_components/comments-manager.coffee
  resources/assets/coffee/react/_components/comments.coffee
  resources/assets/less/bem/comment.less
  resources/assets/less/bem/comments.less
  resources/assets/lib/interfaces/comment-json.ts
  resources/assets/lib/models/comment.ts
  resources/assets/lib/stores/root-data-store.ts
  resources/assets/lib/stores/ui-state-store.ts
  resources/lang/en/comments.php
  resources/lang/en/common.php
  routes/web.php
Labels: comments, resolves issue

#5472 Encode args for redirecting in RedirectController
  app/Http/Controllers/RedirectController.php
Labels: api

#5475 Display forum flags on mobile devices
  resources/assets/less/bem/forum-post-info.less
  resources/views/forum/topics/_post_info.blade.php
Labels: mobile, resolves issue

#5489 Add spotlight list to API
  app/Http/Controllers/SpotlightsController.php
  resources/docs/source/includes/_structures.md
  routes/web.php
Labels: api, resolves issue

#5508 Multiplayer mod settings object
  app/Libraries/Multiplayer/Mod.php
  app/Models/Multiplayer/PlaylistItem.php
  app/Models/Multiplayer/RoomScore.php
  database/migrations/2020_01_17_080543_update_multiplayer_mods.php
Labels: multiplayer

#5509 Multiplayer mod updates
  app/Libraries/Multiplayer/Mod.php
  app/helpers.php
Labels: multiplayer

#5524 Make direct download button use beatmap id instead of beatmapset id
  resources/assets/coffee/_classes/url.coffee
  resources/assets/coffee/react/beatmapset-page/header.coffee
Labels: beatmap listing, resolves issue

#5534 Allow going to store page quickly by clicking topmost supporter heart
  resources/views/home/support-the-game.blade.php
Labels: store, ux

#5548 Include optional translation of supporter donation email
  app/Mail/DonationThanks.php
  app/Models/SupporterTag.php
  resources/lang/en/mail.php
  resources/views/emails/store/donation_thanks.blade.php
Labels: resolves issue

#5528 Update wiki indexing command
  .env.example
  app/Console/Commands/EsIndexWiki.php
  app/Libraries/OsuWiki.php
  app/Libraries/Search/WikiSearch.php
  app/Models/ChangelogEntry.php
  app/Models/Elasticsearch/BeatmapsetTrait.php
  app/Models/Elasticsearch/PostTrait.php
  app/Models/Elasticsearch/TopicTrait.php
  app/Models/Elasticsearch/UserTrait.php
  app/Models/Elasticsearch/WikiPageTrait.php
  app/Models/NewsPost.php
  app/Models/Wiki/Page.php
  app/Traits/EsIndexable.php
  app/Traits/EsIndexableModel.php
  config/osu.php
  config/schemas/wiki_page.json
Labels: tooling, wiki

#5557 Add initial_rate to wind-up/wind-down mods
  app/Libraries/Multiplayer/Mod.php
Labels: multiplayer

#5556 Fix comments listing page count
  app/Http/Controllers/CommentsController.php
  app/Libraries/CommentBundle.php
  app/Libraries/CommentBundleParams.php
Labels: resolves issue

#5567 Fix unplayed filter not filtering properly
  app/Libraries/Search/BeatmapsetSearch.php
Labels: beatmap listing, resolves issue
