Repository ppy/osu-web, pull requests merged in 2020-03, with the labels that each got.

#5645 Allow restricted users to see their own scores
  app/Http/Controllers/BeatmapsController.php
  app/Http/Controllers/UsersController.php
  app/Models/Score/Best/Model.php
  app/Models/Score/Model.php
  app/Transformers/BeatmapTransformer.php
  app/Transformers/UserTransformer.php
  resources/assets/coffee/react/beatmapset-page/score-top.coffee
Labels: type:ux

#5706 Improve performance of chat presence polling
  app/Models/Chat/UserChannel.php
Labels: area:chat, type:performance

#5688 Change how the Markdown within beatmap discussion reviews are rendered
  resources/assets/lib/beatmap-discussions/disable-tokenizers-plugin.ts
  resources/assets/lib/beatmap-discussions/review-post.tsx
Labels: area:beatmap-discussions

#5689 Change handling of urls within beatmap discussion reviews
  resources/assets/lib/beatmap-discussions/autolink-plugin.ts
  resources/assets/lib/beatmap-discussions/review-post.tsx
  resources/assets/lib/globals.d.ts
Labels: area:beatmap-discussions

#5699 Add test helpers for creating users
  tests/TestCase.php
  tests/Transformers/BeatmapDiscussionPostTransformerTest.php
  tests/Transformers/BeatmapDiscussionTransformerTest.php
  tests/Transformers/BeatmapTransformerTest.php
  tests/Transformers/BeatmapsetDescriptionTransformerTest.php
  tests/Transformers/BeatmapsetEventTransformerTest.php
  tests/Transformers/BeatmapsetTransformerTest.php
  tests/Transformers/CommentTransformerTest.php
  tests/Transformers/OAuth/ClientTransformerTest.php
  tests/Transformers/UserTransformerTest.php
Labels: type:api

#5726 Remove report link and move wiki link to help
  app/helpers.php
Labels: type:ux

#5653 Adjust profile page on mobile
  resources/assets/coffee/react/modding-profile/detail-bar.coffee
  resources/assets/coffee/react/profile-page/detail-bar.coffee
  resources/assets/less/bem/profile-detail-bar.less
  resources/assets/less/bem/profile-detail-mobile.less
  resources/assets/less/bem/profile-stats.less
  resources/assets/less/variables.less
Labels: platform:mobile

#5700 Add users.read API scope
  app/Http/Controllers/UsersController.php
  app/Providers/AuthServiceProvider.php
  database/factories/UserFactory.php
  resources/lang/en/api.php
  tests/RouteScopesTest.php
  tests/Transformers/UserTransformerTest.php
Labels: type:api

#5730 Remove chat limitation notices
  resources/assets/lib/chat/conversation-view.tsx
  resources/assets/lib/chat/main-view.tsx
  resources/lang/en/chat.php
Labels: area:chat

#5704 Fix negative unread notification count
  app/Libraries/NotificationsBundle.php
  app/Models/UserNotification.php
  resources/assets/lib/interfaces/notification-json.ts
  resources/assets/lib/notifications/notification-events.ts
  resources/assets/lib/notifications/worker.ts
  tests/karma/notifications/notification-index.spec.ts
  tests/karma/notifications/notification-stack.spec.ts
  tests/karma/notifications/notification-widget.spec.ts
Labels: area:notifications

#5686 Fix error on beatmap listing when loading more as guest
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
  tests/Libraries/Search/BeatmapsetSearchRequestParamsTest.php
Labels: area:beatmap-listing

#5714 Enable quick submit for editing forum post
  resources/views/forum/topics/_post_edit_form.blade.php
Labels: area:forum

#5737 Fix error when submitting score in multiplayer rooms
  database/migrations/2020_03_09_100459_remove_multiplayer_rooms_high_accuracy_precision.php
Labels: area:multiplayer, type:database

#5736 Add chat channel types database index
  database/migrations/2020_03_09_095216_add_channel_type_index_to_channels.php
Labels: type:database

#5738 Fix translated dates not showing on beatmap info
  resources/assets/coffee/react/_components/beatmapset-mapping.coffee
  resources/assets/less/bem/beatmapset-mapping.less
  resources/lang/en/beatmapsets.php
Labels: area:beatmap-info

#5703 Fix notification widget sometimes not correctly marking notifications as read
  app/Http/Controllers/NotificationsController.php
  app/Models/UserNotification.php
Labels: area:notifications

#5652 Auto-generated wiki sitemap
  .travis.yml
  app/Console/Commands/EsIndexWiki.php
  app/Console/Commands/MigrateFreshAllCommand.php
  app/Http/Controllers/WikiController.php
  app/Libraries/Wiki/WikiSitemap.php
  app/helpers.php
  resources/lang/en/layout.php
  resources/lang/en/page_title.php
  resources/lang/en/wiki.php
  resources/views/wiki/_sitemap_section.blade.php
  resources/views/wiki/sitemap.blade.php
  routes/web.php
Labels: area:wiki

#5756 Don't show legacy PM notification if none
  resources/assets/lib/notifications/legacy-pm.tsx
Labels: area:notifications

#5758 Title case wiki sitemap url
  routes/web.php
Labels: area:wiki

#5778 Add pagination limits
  .env.example
  app/Libraries/CommentBundle.php
  app/Models/BeatmapDiscussion.php
  app/Models/BeatmapDiscussionPost.php
  app/Models/BeatmapDiscussionVote.php
  app/Models/BeatmapsetEvent.php
  app/Models/Model.php
  app/helpers.php
  config/osu.php
Labels: type:performance

#5767 Fix IME input on beatmap listing
  resources/assets/coffee/react/beatmaps/search-panel.coffee
Labels: area:beatmap-listing

#5761 Check discussion lock status on hype validation
  app/Models/Beatmapset.php
  resources/assets/coffee/react/beatmap-discussions/nominations.coffee
  resources/lang/en/model_validation.php
Labels: area:beatmap-discussions

#5790 Update documentation for getting OAuth tokens
  resources/assets/lib/oauth/own-clients.tsx
  resources/views/accounts/edit.blade.php
  resources/views/vendor/apidoc/partials/info.blade.php
Labels: type:documentation

#5797 Add note about state parameter in API documentation
  resources/views/vendor/apidoc/partials/info.blade.php
Labels: type:documentation

#5769 Convert ShowMoreLink component to Typescript
  resources/assets/coffee/react/_components/show-more-link.coffee
  resources/assets/less/bem/show-more-link.less
  resources/assets/lib/coffee-modules.d.ts
  resources/assets/lib/landing-news.tsx
  resources/assets/lib/show-more-link.tsx
Labels: type:code-quality

#5554 Add api endpoint to get wiki content
  app/Http/Controllers/WikiController.php
  app/Http/Middleware/AuthApi.php
  app/Libraries/Wiki/MarkdownRenderer.php
  app/Models/Wiki/Page.php
  app/Transformers/WikiPageTransformer.php
  app/helpers.php
  resources/docs/source/includes/_structures.md
  routes/web.php
Labels: area:wiki, type:api

#5684 Allow clearing all notifications
  app/Models/UserNotification.php
  resources/assets/less/bem-index.less
  resources/assets/less/bem/notification-popup-item-group.less
  resources/assets/less/bem/notification-popup-item.less
  resources/assets/less/bem/notification-popup.less
  resources/assets/less/bem/notification-read-button.less
  resources/assets/lib/notification-widget/item-group.tsx
  resources/assets/lib/notification-widget/item.tsx
  resources/assets/lib/notification-widget/main.tsx
  resources/assets/lib/notifications/notification-identity.ts
  resources/assets/lib/notifications/notification-read-button.tsx
  resources/assets/lib/stores/widget-notification-stack-store.ts
  resources/lang/ar/notifications.php
  resources/lang/be/notifications.php
  resources/lang/bg/notifications.php
  resources/lang/cs/notifications.php
  resources/lang/da/notifications.php
  resources/lang/de/notifications.php
  resources/lang/el/notifications.php
  resources/lang/en/notifications.php
  resources/lang/es/notifications.php
  resources/lang/fi/notifications.php
  resources/lang/fr/notifications.php
  resources/lang/hu/notifications.php
  resources/lang/id/notifications.php
  resources/lang/it/notifications.php
  resources/lang/ja/notifications.php
  resources/lang/ko/notifications.php
  resources/lang/nl/notifications.php
  resources/lang/no/notifications.php
  resources/lang/pl/notifications.php
  resources/lang/pt-br/notifications.php
  resources/lang/pt/notifications.php
  resources/lang/ro/notifications.php
  resources/lang/ru/notifications.php
  resources/lang/sv/notifications.php
  resources/lang/th/notifications.php
  resources/lang/tr/notifications.php
  resources/lang/uk/notifications.php
  resources/lang/vi/notifications.php
  resources/lang/zh-tw/notifications.php
  resources/lang/zh/notifications.php
  tests/karma/notifications/notification-events-type.spec.ts
Labels: area:notifications

#5810 Add taiko random mod
  app/Libraries/Multiplayer/Mod.php
  tests/Libraries/Multiplayer/ModTest.php
Labels: area:multiplayer

#5746 Select closest available channel after parting a channel
  resources/assets/lib/actions/chat-actions.ts
  resources/assets/lib/chat/chat-orchestrator.ts
  resources/assets/lib/stores/channel-store.ts
Labels: area:chat

#5820 Remove old API transformers
  app/Transformers/API/BeatmapPackTransformer.php
  app/Transformers/API/BeatmapTransformer.php
  app/Transformers/API/EventTransformer.php
  app/Transformers/API/GameTransformer.php
  app/Transformers/API/MatchTransformer.php
  app/Transformers/API/Multiplayer/ScoreTransformer.php
  app/Transformers/API/ScoreTransformer.php
  app/Transformers/API/StatisticsTransformer.php
  app/Transformers/API/UserScoreTransformer.php
  app/Transformers/API/UserTransformer.php
Labels: type:code-quality

#5812 Improve message of beatmap discussion posting errors
  app/Http/Controllers/BeatmapDiscussionPostsController.php
  resources/lang/en/beatmaps.php
Labels: area:beatmap-discussions

#5838 Add missing parameter in OAuth api doc
  resources/views/vendor/apidoc/partials/info.blade.php
Labels: type:documentation
