Repository ppy/osu-web, pull requests merged in 2020-07, with the labels that each got.

#6210 Add interop endpoint for user creation
  app/Http/Controllers/InterOp/UsersController.php
  app/Libraries/UserRegistration.php
  routes/web.php
  tests/Controllers/InterOp/UsersControllerTest.php
  tests/Controllers/LegacyInterOpControllerTest.php
  tests/TestCase.php
Labels: type:api

#6170 Perform portal cleanup when navigating
  resources/assets/lib/portal.tsx
Labels: area:beatmap-discussions

#6254 Use current url to generate url on js side
  resources/assets/lib/laroute.ts
  resources/assets/lib/ziggy.d.ts
Labels: type:code-quality

#6231 Remove status page
  app/Http/Controllers/StatusController.php
  public/images/headers/status.png
  public/images/headers/status@2x.png
  resources/assets/coffee/_classes/radar-chart.coffee
  resources/assets/coffee/_classes/status-chart.coffee
  resources/assets/coffee/_classes/status-map.coffee
  resources/assets/coffee/react/status-page.coffee
  resources/assets/coffee/react/status-page/incident.coffee
  resources/assets/coffee/react/status-page/incidents.coffee
  resources/assets/coffee/react/status-page/map.coffee
  resources/assets/coffee/react/status-page/page.coffee
  resources/assets/coffee/react/status-page/uptime.coffee
  resources/assets/less/bem-index.less
  resources/assets/less/bem/line-chart.less
  resources/assets/less/bem/status-chart.less
  resources/assets/less/bem/status-charts.less
  resources/assets/less/bem/status-header.less
  resources/assets/less/bem/status-incident.less
  resources/assets/less/bem/status-incidents.less
  resources/assets/less/bem/status-info.less
  resources/assets/less/bem/status-map.less
  resources/assets/less/bem/status-recent.less
  resources/lang/ar/status_page.php
  resources/lang/be/status_page.php
  resources/lang/bg/status_page.php
  resources/lang/cs/status_page.php
  resources/lang/da/status_page.php
  resources/lang/de/status_page.php
  resources/lang/el/status_page.php
  resources/lang/en/status_page.php
  resources/lang/es/status_page.php
  resources/lang/fi/status_page.php
  resources/lang/fr/status_page.php
  resources/lang/hu/status_page.php
  resources/lang/id/status_page.php
  resources/lang/it/status_page.php
  resources/lang/ja/status_page.php
  resources/lang/ko/status_page.php
  resources/lang/nl/status_page.php
  resources/lang/no/status_page.php
  resources/lang/pl/status_page.php
  resources/lang/pt-br/status_page.php
  resources/lang/pt/status_page.php
  resources/lang/ro/status_page.php
  resources/lang/ru/status_page.php
  resources/lang/sk/status_page.php
  resources/lang/sv/status_page.php
  resources/lang/th/status_page.php
  resources/lang/tr/status_page.php
  resources/lang/uk/status_page.php
  resources/lang/vi/status_page.php
  resources/lang/zh-tw/status_page.php
  resources/lang/zh/status_page.php
  resources/views/status/main.blade.php
  routes/web.php
  webpack.mix.js
Labels: type:code-quality

#6266 Link quick search button to search page for guest
  resources/assets/lib/quick-search-button.tsx
Labels: area:search

#6252 Fix null user in beatmap scoreboard
  app/Transformers/ScoreTransformer.php
Labels: type:reliability

#6212 Add scores#show endpoint and include surrounding scores and position where relevant
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  app/Libraries/DbCursorHelper.php
  app/Models/Multiplayer/Score.php
  app/Transformers/Multiplayer/ScoreTransformer.php
  database/factories/Multiplayer/ScoreFactory.php
  resources/docs/source/includes/_structures.md
  routes/web.php
  tests/Controllers/Multiplayer/Rooms/Playlist/ScoresControllerTest.php
  tests/api_routes.json
Labels: area:multiplayer

#6279 Timeshift rankings
  app/Http/Controllers/Multiplayer/RoomsController.php
  app/Libraries/RouteSection.php
  app/helpers.php
  database/factories/UserFactory.php
  resources/assets/lib/multiplayer-select-options.tsx
  resources/assets/lib/osu-url-helper.ts
  resources/assets/lib/register-components.coffee
  resources/lang/en/layout.php
  resources/lang/en/page_title.php
  resources/lang/en/rankings.php
  resources/views/multiplayer/rooms/_rankings_table.blade.php
  resources/views/multiplayer/rooms/show.blade.php
  resources/views/rankings/country.blade.php
  resources/views/rankings/index.blade.php
  routes/web.php
  tests/Browser/SanityTest.php
  tests/api_routes.json
Labels: area:multiplayer

#6237 Add OAuth client credentials grant support
  app/Http/Controllers/UsersController.php
  app/Http/Middleware/AuthApi.php
  app/Http/Middleware/RequireScopes.php
  app/Libraries/OsuAuthorize.php
  app/Models/OAuth/Token.php
  app/Providers/AppServiceProvider.php
  app/helpers.php
  tests/Controllers/Chat/Channels/MessagesControllerTest.php
  tests/Models/OAuth/ClientTest.php
  tests/RequireScopesTest.php
  tests/RouteScopesTest.php
  tests/TestCase.php
  tests/api_routes.json
Labels: type:api

#6268 Add score date to beatmap leaderboard
  resources/assets/coffee/react/beatmapset-page/score-top.coffee
  resources/assets/coffee/react/beatmapset-page/scoreboard-table-row.coffee
  resources/assets/coffee/react/beatmapset-page/scoreboard-table.coffee
  resources/assets/less/bem/beatmap-scoreboard-table.less
  resources/assets/lib/scoreboard-time.tsx
  resources/lang/en/beatmapsets.php
  resources/lang/en/common.php
Labels: area:beatmap-info

#6282 Improve chat UI performance with many channels
  resources/assets/less/bem/chat-conversation-list-item.less
  resources/assets/lib/chat/conversation-list-item.tsx
Labels: area:chat, type:performance

#6302 Fix overflow in footer
  resources/assets/less/bem/footer.less
Labels: platform:mobile

#6310 Fix trying to get chat messages from non-existent channel
  app/Http/Controllers/Chat/Channels/MessagesController.php
Labels: area:chat

#6324 Add support for play mode variant to tournament
  app/Models/Tournament.php
  app/Models/UserStatistics/Model.php
  database/migrations/2020_07_17_021430_add_play_mode_variant_to_tournaments.php
  tests/Models/TournamentTest.php
Labels: area:tournament

#6349 Fix missing hit_accuracy in API response
  app/Models/UserStatistics/Mania4k.php
  app/Models/UserStatistics/Mania7k.php
Labels: type:api

#6350 Fix chat input and no conversations page width mobile
  resources/assets/less/bem/chat-input.less
  resources/assets/less/bem/osu-layout.less
Labels: area:chat, platform:mobile

#6341 Add user cover to beatmaps score response
  app/Http/Controllers/BeatmapsController.php
Labels: type:api

#6365 Manually set default SQL mode
  config/database.php
Labels: type:database

#6305 Throttle sending chat read marker
  resources/assets/lib/chat/chat-orchestrator.ts
Labels: area:chat

#6371 StyleCI update
  .styleci.yml
  app/Http/Controllers/Forum/TopicsController.php
  app/Models/BeatmapDiscussion.php
  app/Models/Forum/Topic.php
  config/database.php
  tests/Libraries/Transactions/AfterCommitTest.php
Labels: type:code-quality

#6348 Include artist when changing display preferences for Beatmap
  app/Models/Beatmapset.php
  app/Transformers/BeatmapsetCompactTransformer.php
  resources/assets/coffee/react/_components/beatmapset-panel.coffee
  resources/assets/coffee/react/beatmap-discussions/header.coffee
  resources/assets/coffee/react/beatmapset-page/header.coffee
  resources/assets/coffee/react/mp-history/game-header.coffee
  resources/assets/coffee/react/profile-page/beatmap-playcount.coffee
  resources/assets/lib/beatmapsets/beatmapset-json.ts
  resources/assets/lib/play-detail.coffee
  resources/assets/lib/quick-search/beatmapset.tsx
  resources/assets/lib/scores-show/beatmap-info.tsx
  resources/assets/lib/user-link.tsx
  resources/assets/lib/utils/beatmap-helper.ts
  resources/lang/en/accounts.php
  resources/views/beatmapsets/show.blade.php
  resources/views/packs/raw.blade.php
Labels: area:settings

#6287 Fix timestamps of embedded issues not being displayed when editing a review
  resources/assets/coffee/_classes/beatmap-discussion-helper.coffee
  resources/assets/lib/beatmap-discussions/editor-discussion-component.tsx
  resources/assets/lib/beatmap-discussions/review-document.ts
  resources/assets/lib/globals.d.ts
Labels: area:beatmap-discussions

#6384 Add start scale to grow/deflate mods
  app/Libraries/Multiplayer/Mod.php
Labels: area:multiplayer

#6388 Fix redis prefix for password reset throttling namespace
  app/Http/Controllers/PasswordResetController.php
Labels: type:database

#6387 Allow using separate redis for cache
  .env.example
  config/cache.php
  config/database.php
Labels: type:database

#6236 New insertion bar for beatmap discussion reviews
  resources/assets/less/bem-index.less
  resources/assets/less/bem/beatmap-discussion-editor-insertion-menu.less
  resources/assets/less/bem/beatmap-discussion-editor.less
  resources/assets/less/bem/beatmap-discussion-new.less
  resources/assets/lib/beatmap-discussions/editor-discussion-component.tsx
  resources/assets/lib/beatmap-discussions/editor-insertion-menu.tsx
  resources/assets/lib/beatmap-discussions/editor-toolbar.tsx
  resources/assets/lib/beatmap-discussions/editor.tsx
Labels: area:beatmap-discussions, type:ux

#6344 Add Client Credentials Grant to API documentation
  resources/views/vendor/apidoc/partials/info.blade.php
Labels: type:documentation

#6391 Remove old forum search redirect
  app/Http/Controllers/Forum/ForumsController.php
  resources/views/forum/topics/show.blade.php
  resources/views/objects/search/_forum_options.blade.php
  routes/web.php
Labels: type:code-quality

#6211 Integrating mail notifications with push notifications
  app/Console/Commands/NotificationsSendMail.php
  app/Console/Kernel.php
  app/Http/Controllers/BeatmapDiscussionPostsController.php
  app/Http/Controllers/BeatmapsetsController.php
  app/Jobs/Notifications/BeatmapsetDiscussionLock.php
  app/Jobs/Notifications/BeatmapsetDiscussionPostNotification.php
  app/Jobs/Notifications/BeatmapsetDiscussionReviewNew.php
  app/Jobs/Notifications/BeatmapsetDiscussionUnlock.php
  app/Jobs/Notifications/BeatmapsetNotification.php
  app/Jobs/Notifications/BroadcastNotificationBase.php
  app/Jobs/Notifications/ChannelMessage.php
  app/Jobs/Notifications/CommentNew.php
  app/Jobs/Notifications/ForumTopicReply.php
  app/Jobs/Notifications/UserAchievementUnlock.php
  app/Jobs/UserNotificationDigest.php
  app/Libraries/BeatmapsetDiscussionReview.php
  app/Libraries/ForumUpdateNotifier.php
  app/Libraries/NotificationsBundle.php
  app/Mail/UserNotificationDigest.php
  app/Models/Count.php
  app/Models/UserNotification.php
  app/Models/UserNotificationOption.php
  database/migrations/2020_06_12_112517_add_delivery_to_user_notifications.php
  database/migrations/2020_06_12_112518_set_last_mail_notification_id_sent.php
  resources/lang/en/accounts.php
  resources/lang/en/mail.php
  resources/lang/en/notifications.php
  resources/views/emails/user_notification_digest.blade.php
  tests/BroadcastNotificationTest.php
  tests/Commands/NotificationsSendMailTest.php
  tests/Controllers/BeatmapDiscussionPostsControllerTest.php
  tests/Models/UserNotificationTest.php
  tests/TestCase.php
Labels: area:notifications

#6401 Fix creating client with empty callback
  app/Http/Controllers/OAuth/ClientsController.php
Labels: area:settings
