Repository ppy/osu-web, pull requests merged in 2021-03, with the labels that each got.

#7268 Remove extra unused TravisCI config
  README.md
  travis-php.ini
Labels: type:code-quality, type:documentation

#7265 Add job to remove unused topic covers
  app/Console/Commands/ForumTopicCoversCleanup.php
  app/Console/Kernel.php
Labels: area:forum

#7261 Always return error on invalid token
  app/Http/Controllers/SessionsController.php
  app/Http/Kernel.php
  app/Http/Middleware/DisableSessionCookiesForAPI.php
  app/Http/Middleware/StartSession.php
  app/Http/Middleware/VerifyCsrfToken.php
  app/Providers/AppServiceProvider.php
Labels: type:reliability

#7255 Remove indexing of forum topic
  app/Console/Commands/EsIndexDocuments.php
  app/Models/Elasticsearch/TopicTrait.php
  app/Models/Forum/Topic.php
Labels: type:code-quality

#7270 Unregister callback listener when unmounting component
  resources/assets/lib/chat/input-box.tsx
  resources/assets/lib/dispatcher.ts
Labels: area:chat, type:reliability

#7216 Open external links in beatmap discussion in new tab
  resources/assets/coffee/_classes/beatmap-discussion-helper.coffee
  resources/assets/coffee/osu_common.coffee
Labels: area:beatmap-discussions, type:ux

#7272 Remove skype
  app/Http/Controllers/AccountController.php
  app/Models/User.php
  app/Transformers/UserTransformer.php
  resources/assets/coffee/react/profile-page/links.coffee
  resources/docs/source/includes/_structures/user.md
  resources/lang/ar/users.php
  resources/lang/be/users.php
  resources/lang/bg/users.php
  resources/lang/cs/users.php
  resources/lang/da/users.php
  resources/lang/de/users.php
  resources/lang/el/users.php
  resources/lang/en/accounts.php
  resources/lang/en/users.php
  resources/lang/es/users.php
  resources/lang/fi/users.php
  resources/lang/fr/users.php
  resources/lang/hu/users.php
  resources/lang/id/users.php
  resources/lang/it/users.php
  resources/lang/ja/users.php
  resources/lang/ko/users.php
  resources/lang/nl/users.php
  resources/lang/no/users.php
  resources/lang/pl/users.php
  resources/lang/pt-br/users.php
  resources/lang/pt/users.php
  resources/lang/ro/users.php
  resources/lang/ru/users.php
  resources/lang/sk/users.php
  resources/lang/sv/users.php
  resources/lang/th/users.php
  resources/lang/tr/users.php
  resources/lang/uk/users.php
  resources/lang/vi/users.php
  resources/lang/zh-tw/users.php
  resources/lang/zh/users.php
  resources/views/accounts/edit.blade.php
Labels: area:user-profile

#7230 Forum topic viewing API
  app/Http/Controllers/Forum/TopicsController.php
  app/Models/Forum/Forum.php
  app/Models/Forum/PollOption.php
  app/Models/Forum/Topic.php
  app/Transformers/Forum/PostTransformer.php
  app/Transformers/Forum/TopicTransformer.php
  resources/assets/coffee/_classes/forum.coffee
  resources/docs/source/includes/_structures/cursor.md
  resources/docs/source/includes/_structures/forum_post.md
  resources/docs/source/includes/_structures/forum_topic.md
  resources/views/forum/topics/_header_total_counter.blade.php
  resources/views/forum/topics/_nav.blade.php
  resources/views/forum/topics/show.blade.php
  routes/web.php
  tests/Controllers/ForumPostsControllerTest.php
  tests/api_routes.json
Labels: area:forum, type:api

#7224 Use shortened urls in discussion reviews
  resources/assets/coffee/_classes/beatmap-discussion-helper.coffee
  resources/assets/coffee/osu_common.coffee
  resources/assets/lib/beatmap-discussions/review-post.tsx
  resources/assets/lib/globals.d.ts
  resources/assets/lib/import-shims.coffee
  resources/assets/lib/utils/beatmapset-discussion-helper.ts
Labels: area:beatmap-discussions

#7283 Update Github Actions Tests action
  .github/workflows/tests.yml
Labels: type:testing

#7282 Add Datadog metrics for IPN callbacks
  app/Libraries/Payments/PaymentProcessor.php
Labels: type:reliability

#7274 Slight ConversationView component refactor
  resources/assets/lib/chat/chat-api-responses.ts
  resources/assets/lib/chat/chat-state-store.ts
  resources/assets/lib/chat/conversation-view.tsx
  resources/assets/lib/models/chat/channel.ts
  resources/assets/lib/stores/channel-store.ts
Labels: area:chat

#7277 Exclude nulls from transformer collections
  app/Libraries/Transformers/Scope.php
  app/helpers.php
Labels: type:api

#7271 Return JSON for news item API
  app/Http/Controllers/NewsController.php
Labels: area:news, type:api

#7290 Update dependent parameter when changing search size
  app/Libraries/Elasticsearch/HasSearch.php
  app/Libraries/Elasticsearch/SearchParams.php
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
  app/Libraries/Search/ForumSearchRequestParams.php
  app/Libraries/Search/UserSearchRequestParams.php
  app/Libraries/Search/WikiSearchRequestParams.php
Labels: area:search

#7238 Allow creating and editing forum post and topic through API
  app/Http/Controllers/Forum/PostsController.php
  app/Http/Controllers/Forum/TopicsController.php
  app/Providers/AuthServiceProvider.php
  resources/lang/en/api.php
  resources/views/vendor/apidoc/partials/info.blade.php
  routes/web.php
  tests/api_routes.json
Labels: type:api

#7258 Support id attributes for wiki markdown
  app/Libraries/Markdown/AttributesOnlyIdListener.php
  app/Libraries/Markdown/OsuMarkdown.php
  app/Libraries/Markdown/OsuMarkdownProcessor.php
Labels: area:wiki

#7299 Exclude hypes from discussion starters list
  resources/assets/coffee/react/beatmap-discussions/main.coffee
Labels: area:beatmap-discussions

#7296 Delete comments when deleting Beatmapset
  app/Jobs/BeatmapsetDelete.php
Labels: area:beatmap-info, area:comments

#7281 Add show chat channel to API
  app/Http/Controllers/Chat/Channels/MessagesController.php
  app/Http/Controllers/Chat/ChannelsController.php
  app/Http/Controllers/Chat/ChatController.php
  app/Http/Controllers/LegacyInterOpController.php
  app/Jobs/Notifications/ChannelMessage.php
  app/Models/Chat/Channel.php
  app/Transformers/Chat/ChannelTransformer.php
  routes/web.php
  tests/api_routes.json
Labels: area:chat, type:api

#7304 Fix PaymentProcessor metric name
  app/Libraries/Payments/PaymentProcessor.php
Labels: type:code-quality

#7303 Workaround tournament support banner previews being cutoff in store
  resources/assets/less/bem/gallery-previews.less
Labels: area:store

#7297 Move beatmap attributes to per-beatmap document
  config/schemas/beatmaps.json
Labels: area:beatmap-listing

#7293 Remove old Elasticsearch functions
  app/Libraries/Search/BeatmapsetSearch.php
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
  app/Models/Wiki/Page.php
  app/helpers.php
Labels: area:search, type:code-quality

#7314 Pre-eslint migration type fixes
  resources/assets/coffee/_classes/beatmapset-filter.coffee
  resources/assets/lib/app-dispatcher.ts
  resources/assets/lib/beatmap-discussions/editor-discussion-component.tsx
  resources/assets/lib/beatmaps/beatmapset-search-controller.ts
  resources/assets/lib/beatmaps/beatmapset-search.ts
  resources/assets/lib/beatmapset-search-filters.ts
  resources/assets/lib/chat/conversation-list.tsx
  resources/assets/lib/chat/conversation-view.tsx
  resources/assets/lib/click-to-copy.tsx
  resources/assets/lib/coffee-modules.d.ts
  resources/assets/lib/forum-post-report.tsx
  resources/assets/lib/gallery-contest-vote-button.tsx
  resources/assets/lib/globals.d.ts
  resources/assets/lib/interfaces/beatmapset-filter-class.ts
  resources/assets/lib/layzr.d.ts
  resources/assets/lib/models/notification-details.ts
  resources/assets/lib/notification-maps/message.ts
  resources/assets/lib/notification-widget/item.tsx
  resources/assets/lib/notifications-index/main.tsx
  resources/assets/lib/ranking-filter.tsx
  resources/assets/lib/store.ts
  resources/assets/lib/stores/channel-store.ts
  resources/assets/lib/utils/beatmapset-discussion-helper.ts
  resources/assets/lib/ziggy.d.ts
Labels: type:code-quality

#7253 Refactor database cursor helper
  app/Http/Controllers/Forum/TopicsController.php
  app/Http/Controllers/MatchesController.php
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  app/Libraries/CommentBundle.php
  app/Libraries/CommentBundleParams.php
  app/Libraries/DbCursorHelper.php
  app/Models/Comment.php
  app/Models/Forum/Post.php
  app/Models/Match/Match.php
  app/Models/Model.php
  app/Models/Multiplayer/PlaylistItemUserHighScore.php
  app/Models/Multiplayer/Room.php
  app/Models/Multiplayer/Score.php
  app/Models/Multiplayer/UserScoreAggregate.php
  app/Models/NewsPost.php
  app/Models/Score/Best/Model.php
  app/Traits/WithDbCursorHelper.php
  app/Transformers/Multiplayer/ScoreTransformer.php
  app/helpers.php
Labels: type:code-quality

#7331 Fix notification not sent in some cases
  app/Jobs/Notifications/BroadcastNotificationBase.php
Labels: area:notifications, type:reliability

#7266 Add modding discussion listing endpoints to API
  app/Http/Controllers/BeatmapDiscussionPostsController.php
  app/Http/Controllers/BeatmapDiscussionsController.php
  app/Http/Controllers/BeatmapsetDiscussionVotesController.php
  app/Libraries/BeatmapsetDiscussionPostsBundle.php
  app/Libraries/BeatmapsetDiscussionVotesBundle.php
  app/Libraries/BeatmapsetDiscussionsBundle.php
  app/Libraries/BeatmapsetDiscussionsBundleBase.php
  app/Libraries/ModdingHistoryEventsBundle.php
  app/Models/BeatmapDiscussion.php
  app/Models/BeatmapDiscussionPost.php
  app/Models/BeatmapDiscussionVote.php
  app/Transformers/BeatmapDiscussionPostTransformer.php
  app/Transformers/BeatmapDiscussionTransformer.php
  app/Transformers/BeatmapDiscussionVoteTransformer.php
  resources/assets/coffee/react/beatmap-discussions-history.coffee
  resources/docs/source/includes/_structures/beatmapset_discussion.md
  resources/docs/source/includes/_structures/beatmapset_discussion_post.md
  resources/docs/source/includes/_structures/beatmapset_discussion_vote.md
  resources/docs/source/includes/_structures/current_user_attributes.md
  resources/views/beatmap_discussion_posts/_item.blade.php
  resources/views/beatmap_discussions/index.blade.php
  routes/web.php
  tests/api_routes.json
Labels: area:beatmap-discussions, type:api

#7319 Update Beatmapset title search tokenizer
  config/schemas/beatmaps.json
Labels: area:search

#7300 Advanced query for beatmap search
  app/Libraries/Search/BeatmapsetQueryParser.php
  app/Libraries/Search/BeatmapsetSearch.php
  app/Libraries/Search/BeatmapsetSearchParams.php
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
  tests/Libraries/Search/BeatmapsetQueryParserTest.php
Labels: area:beatmap-listing

#7315 Cache some user related lookup operations
  app/Models/User.php
  composer.json
  composer.lock
Labels: type:performance

#7336 Batch insert notifications
  app/Jobs/Notifications/BroadcastNotificationBase.php
Labels: area:notifications, type:performance

#7338 Add 'external' contest type
  database/migrations/2021_03_19_065458_add_external_contest_type.php
  resources/assets/coffee/react/contest-voting.coffee
  resources/assets/coffee/react/contest-voting/entry.coffee
Labels: area:contests

#7340 Remove unused custom jquery selector
  resources/assets/coffee/main.coffee
Labels: type:code-quality

#7334 Split out discord endpoints for user reports into two categories
  .env.example
  app/Models/UserReport.php
  config/osu.php
Labels: area:user-profile

#7353 Update beatmapset index to fix legacy search and allow partial artist/creator search
  config/schemas/beatmaps.json
Labels: area:search

#7354 Remove old wiki index on database reset
  app/Console/Commands/MigrateFreshAllCommand.php
Labels: area:tooling, type:code-quality

#7341 Load TypeScript modules through OsuCore
  resources/assets/app.ts
  resources/assets/coffee/_classes/user-login.coffee
  resources/assets/coffee/logout.coffee
  resources/assets/coffee/main.coffee
  resources/assets/coffee/react/_components/comment-editor.coffee
  resources/assets/coffee/react/beatmap-discussions/new-discussion.coffee
  resources/assets/coffee/react/beatmap-discussions/new-reply.coffee
  resources/assets/coffee/react/beatmap-discussions/post.coffee
  resources/assets/lib/enchant.ts
  resources/assets/lib/forum-poll.ts
  resources/assets/lib/import-shims.coffee
  resources/assets/lib/osu-core-singleton.ts
  resources/assets/lib/osu-core.ts
  resources/assets/lib/store-xsolla.coffee
  resources/assets/lib/user-login-observer.ts
  resources/assets/lib/window-focus-observer.ts
  resources/assets/lib/window-vh-patcher.ts
  resources/views/layout/_extra_js.blade.php
  resources/views/objects/_captcha_script.blade.php
  tests/karma/osu-core.spec.ts
Labels: type:code-quality

#7368 Move client check to its own class
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  app/Libraries/ClientCheck.php
Labels: type:code-quality

#7369 Add option to disable client check
  .env.example
  app/Libraries/ClientCheck.php
  config/osu.php
Labels: area:multiplayer

#7362 Fix news article header not wrapping correctly
  resources/assets/less/bem/header-nav-v4.less
Labels: platform:mobile

#7367 Show pp even if 0
  resources/assets/coffee/react/profile-page/pp.coffee
  resources/assets/lib/play-detail.coffee
  resources/assets/lib/scores/pp-value.tsx
Labels: area:user-profile

#7313 Mostly uniform page side padding
  resources/assets/less/bem-index.less
  resources/assets/less/bem/beatmapsets-search.less
  resources/assets/less/bem/builds.less
  resources/assets/less/bem/changelog-entry.less
  resources/assets/less/bem/chat-logo.less
  resources/assets/less/bem/comment-show-more.less
  resources/assets/less/bem/comment-vote.less
  resources/assets/less/bem/comment.less
  resources/assets/less/bem/comments.less
  resources/assets/less/bem/deleted-comments-count.less
  resources/assets/less/bem/profile-detail-bar.less
  resources/assets/less/bem/profile-detail.less
  resources/assets/less/bem/profile-header.less
  resources/assets/less/bem/profile-page-toggle.less
  resources/assets/less/bem/profile-stats.less
  resources/assets/less/functions.less
  resources/assets/less/variables.less
Labels: type:code-quality, type:design

#7298 Include sort parameter in beatmapset search response
  app/Http/Controllers/BeatmapsetsController.php
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
Labels: area:beatmap-listing, area:search

#7361 Typescript UserLogin
  package.json
  resources/assets/coffee/_classes/user-login.coffee
  resources/assets/coffee/main.coffee
  resources/assets/coffee/osu_common.coffee
  resources/assets/coffee/react/_components/comment.coffee
  resources/assets/coffee/react/beatmap-discussions/new-reply.coffee
  resources/assets/coffee/react/beatmapset-page/header.coffee
  resources/assets/coffee/react/contest-voting/voter.coffee
  resources/assets/lib/globals.d.ts
  resources/assets/lib/osu-core.ts
  resources/assets/lib/user-login.ts
  yarn.lock
Labels: type:code-quality

#7366 Typescript UserVerification
  package.json
  resources/assets/coffee/_classes/user-verification.coffee
  resources/assets/coffee/main.coffee
  resources/assets/coffee/osu_common.coffee
  resources/assets/lib/globals.d.ts
  resources/assets/lib/osu-core.ts
  resources/assets/lib/store.ts
  resources/assets/lib/user-verification.ts
  yarn.lock
Labels: type:code-quality

#7355 Improve matching for artist and mapper search
  app/Libraries/Search/BeatmapsetSearch.php
Labels: area:beatmap-listing

#7358 Add search beatmapset by creation and ranking date
  app/Libraries/Search/BeatmapsetQueryParser.php
  app/Libraries/Search/BeatmapsetSearch.php
  app/Libraries/Search/BeatmapsetSearchParams.php
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
  tests/Libraries/Search/BeatmapsetQueryParserTest.php
Labels: area:beatmap-listing

#7370 Default to relevance order for beatmap search by creator and artist
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
Labels: area:beatmap-listing

#7387 Fix double escaped artist names on user profile beatmap play counts
  resources/assets/coffee/react/profile-page/beatmap-playcount.coffee
Labels: area:user-profile

#7388 Fix null artist_unicode and title_unicode fields
  app/Models/Beatmapset.php
  resources/assets/lib/beatmapsets/beatmapset-json.ts
  resources/assets/lib/utils/beatmap-helper.ts
Labels: area:beatmap-info, type:api

#7376 Add unmentioned fields to docs
  resources/docs/source/includes/_structures/beatmapset_compact.md
  resources/docs/source/includes/_structures/comment_bundle.md
  resources/docs/source/includes/_structures/user.md
Labels: type:documentation

#6964 Allow starting chat if verification allows minimum plays to be skipped
  app/Libraries/OsuAuthorize.php
Labels: area:chat

#7389 Fix jump to last post
  app/Http/Controllers/Forum/TopicsController.php
Labels: area:forum

#7377 Remove reset button from bbcode editor
  resources/assets/coffee/react/_components/bbcode-editor.coffee
Labels: area:user-profile, type:ux

#7397 Fix display of discussion post editor name
  resources/assets/coffee/react/beatmap-discussions/discussion.coffee
  resources/assets/coffee/react/beatmap-discussions/post.coffee
  resources/assets/coffee/react/modding-profile/posts.coffee
Labels: area:beatmap-discussions

#7398 Fix discussion post listing page with null user
  resources/views/beatmapset_activities/_user.blade.php
Labels: area:beatmap-discussions
