Repository ppy/osu-web, pull requests merged in 2021-02, with the labels that each got.

#7142 Better error message when exceeding download limit
  app/Http/Controllers/BeatmapsetsController.php
  resources/lang/en/beatmapsets.php
  resources/lang/en/layout.php
  resources/lang/en/page_title.php
Labels: area:beatmap-info, type:ux

#7132 Fix new PM channel disappearing from presence update
  resources/assets/lib/models/chat/channel.ts
  resources/assets/lib/stores/channel-store.ts
Labels: area:chat

#7098 Always show username of issue starter and resolver on event list
  app/Libraries/ModdingHistoryEventsBundle.php
  app/Models/BeatmapsetEvent.php
  resources/assets/lib/beatmap-discussions/event.tsx
  resources/assets/lib/globals.d.ts
  resources/lang/en/beatmapset_events.php
Labels: area:beatmap-discussions, type:ux

#7127 Add job to delete notifications
  app/Console/Commands/NotificationsCleanup.php
  app/Console/Kernel.php
Labels: area:notifications, type:database

#7108 Update laravel
  composer.json
  composer.lock
Labels: type:reliability

#7119 Update php libraries
  .github/workflows/tests.yml
  app/helpers.php
  bin/phpunit.sh
  composer.json
  composer.lock
  phpunit.xml
  tests/TestCase.php
  webpack.config.js
  webpack.unmix.js
Labels: type:code-quality

#7136 Show delete toggle on single comment display
  resources/assets/coffee/react/_components/comment.coffee
  resources/assets/coffee/react/comments-show/main.coffee
  resources/assets/less/bem/comment.less
Labels: area:comments

#7144 Update mobile comment vote button
  resources/assets/coffee/react/_components/comment.coffee
  resources/assets/less/bem/comment-vote.less
Labels: area:comments, type:design

#7147 Add button to only show voted entries
  resources/assets/coffee/react/contest-voting/art-entry-list.coffee
  resources/assets/coffee/react/contest-voting/art-entry.coffee
  resources/assets/coffee/react/contest-voting/base-entry-list.coffee
  resources/assets/coffee/react/contest-voting/entry-list.coffee
  resources/assets/coffee/react/contest-voting/entry.coffee
  resources/assets/less/bem/btn-osu-big.less
  resources/assets/less/bem/contest-voting-list.less
  resources/lang/en/contest.php
Labels: area:contests, type:ux

#7157 Don't percent decode url for media proxy
  app/helpers.php
Labels: area:forum

#7102 Proxy markdown first image
  app/Libraries/Markdown/OsuMarkdownProcessor.php
Labels: type:ux

#7164 Fix score pp display check on mixed state beatmap
  resources/assets/lib/play-detail.coffee
Labels: type:ux

#7165 Return different error for invalid client hash
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  tests/Controllers/Multiplayer/Rooms/Playlist/ScoresControllerTest.php
Labels: type:api

#7101 Fix alignment of contest entries table header
  resources/assets/coffee/react/contest-voting/entry-list.coffee
  resources/assets/less/bem/contest-voting-list.less
Labels: area:contests, type:design

#7133 Fix timing of indexing user
  app/Libraries/UserRegistration.php
  app/Models/User.php
Labels: area:search, type:reliability

#7103 Include news sidebar data in API response
  app/Http/Controllers/NewsController.php
  resources/assets/lib/news-index.ts
  resources/assets/lib/news-index/main.tsx
  resources/views/news/index.blade.php
Labels: area:news, type:api

#7093 Better default difficulty for beatmap page
  app/Http/Controllers/BeatmapsetsController.php
  app/Models/User.php
  app/Models/UserStatistics/Model.php
  resources/assets/lib/utils/beatmap-helper.ts
  resources/views/beatmapsets/_recommended_star_difficulty_all.blade.php
  resources/views/beatmapsets/discussion.blade.php
  resources/views/beatmapsets/show.blade.php
Labels: area:beatmap-info, type:ux

#7159 Adjust padding of tournament description area
  resources/assets/less/bem/tournament.less
Labels: area:tournament, type:design

#7135 Persistent show deleted comments option
  app/Http/Controllers/AccountController.php
  app/Models/UserProfileCustomization.php
  app/Transformers/UserCompactTransformer.php
  resources/assets/coffee/react/_components/comments-manager.coffee
  resources/assets/lib/stores/ui-state-store.ts
Labels: area:comments

#7168 Per-playlist item max attempts
  .env.example
  app/Models/Multiplayer/PlaylistItem.php
  app/Models/Multiplayer/Room.php
  config/osu.php
  database/migrations/2021_02_03_120003_add_max_attempts_to_playlist_items.php
  tests/Models/Multiplayer/RoomTest.php
Labels: area:multiplayer

#7015 Add getting specific user's score on a beatmap
  app/Http/Controllers/BeatmapsController.php
  app/Models/Beatmap.php
  resources/docs/source/includes/_structures/beatmap_scores.md
  resources/docs/source/includes/_structures/beatmap_user_score.md
  routes/web.php
  tests/api_routes.json
Labels: area:beatmap-info, type:api

#7146 Disable expensive chat presence group by query
  app/Http/Controllers/ChatController.php
  app/Models/Chat/Channel.php
  app/Models/Chat/UserChannel.php
  app/Transformers/Chat/ChannelTransformer.php
  database/migrations/2021_02_02_073616_add_last_message_id_to_channels.php
  resources/assets/lib/chat.ts
  resources/assets/lib/chat/chat-api-responses.ts
  resources/assets/lib/chat/chat-worker.ts
  resources/assets/lib/models/chat/channel.ts
  resources/assets/lib/stores/channel-store.ts
  resources/views/chat/index.blade.php
Labels: area:chat, type:performance

#7149 Better watchlist items order
  app/Http/Controllers/FollowsController.php
Labels: area:dashboard, type:ux

#7145 Beatmap discussion watchlist better sort and other updates
  app/Http/Controllers/FollowsController.php
  resources/lang/en/beatmapset_watches.php
  resources/views/follows/modding.blade.php
Labels: type:ux

#7170 Move notifications endpoint
  app/Libraries/RouteSection.php
  app/Libraries/UserVerification.php
  routes/web.php
Labels: area:notifications, type:reliability

#7106 Add watchlisted mappers beatmaps search filter
  app/Libraries/Search/BeatmapsetSearch.php
  app/Libraries/Search/BeatmapsetSearchParams.php
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
  resources/lang/en/beatmaps.php
Labels: area:beatmap-listing

#7158 Add support for osu!mania constant speed mod
  app/Libraries/Multiplayer/Mod.php
Labels: area:multiplayer

#7160 Add search API endpoint
  app/Http/Controllers/HomeController.php
  app/Libraries/Elasticsearch/SearchParams.php
  app/Libraries/Search/AllSearch.php
  routes/web.php
  tests/api_routes.json
Labels: type:api

#7169 Add current user score/stats to room json
  app/Http/Controllers/Multiplayer/RoomsController.php
  app/Transformers/Multiplayer/RoomTransformer.php
  app/Transformers/Multiplayer/UserScoreAggregateTransformer.php
Labels: area:multiplayer, type:api

#7095 Include user statistics for all modes in index
  app/Http/Controllers/UsersController.php
  app/Transformers/UserCompactTransformer.php
  app/Transformers/UserStatisticsTransformer.php
  resources/docs/source/includes/_structures/user_compact.md
Labels: type:api

#7003 Add alert and disable forms in account edit when user is silenced
  resources/assets/less/bem/post-box.less
  resources/lang/en/users.php
  resources/views/accounts/_edit_entry_simple.blade.php
  resources/views/accounts/_edit_signature.blade.php
  resources/views/accounts/edit.blade.php
  resources/views/forum/_post_toolbar.blade.php
  resources/views/home/_user_header_default.blade.php
  resources/views/layout/_page_header_v4.blade.php
Labels: area:settings, type:ux

#7182 Add job to fix display order of inactive channels
  app/Console/Commands/ChatChannelSetLastMessageId.php
  app/Console/Kernel.php
Labels: area:chat

#7178 Add API documentation to beatmaps routes
  app/Http/Controllers/API/BeatmapsController.php
Labels: type:api, type:documentation

#7172 Adjust ranks detail styling in profile page
  resources/assets/less/bem/play-detail.less
Labels: area:user-profile, type:design

#7181 Fix error on displaying score of deleted user
  app/Models/Score/Best/Model.php
  resources/assets/coffee/react/_components/spinner.coffee
  resources/assets/lib/coffee-modules.d.ts
  resources/assets/lib/spinner.tsx
  resources/assets/lib/user-card.tsx
Labels: type:reliability

#7188 Preserve new lines when pasting in a discussion review block
  resources/assets/lib/beatmap-discussions/editor.tsx
Labels: area:beatmap-discussions, type:ux

#7173 Adjust margin of extra line in tournament page description
  resources/assets/less/bem/osu-md.less
  resources/assets/less/bem/tournament.less
  resources/assets/less/variables.less
  resources/views/tournaments/show.blade.php
Labels: area:tournament, type:design

#7174 Adjust topic watches when the topic is moved
  app/Jobs/UpdateUserForumTopicFollows.php
  app/Models/Forum/Topic.php
  tests/Jobs/UpdateUserForumTopicFollowsTest.php
Labels: area:forum

#7187 More frequent user reindex
  app/Http/Middleware/UpdateUserLastvisit.php
  app/Libraries/UserRegistration.php
  app/Models/Elasticsearch/UserTrait.php
  app/Models/User.php
Labels: area:search

#7191 Update styling of badge for mapper
  resources/assets/less/bem/user-group-badge.less
  resources/assets/lib/beatmap-discussions/mapper-group.ts
  resources/assets/lib/user-group-badge.tsx
Labels: area:beatmap-discussions, type:design

#7195 Add support for classic osu! mod
  app/Libraries/Multiplayer/Mod.php
Labels: area:multiplayer

#7189 Add match API endpoints
  app/Http/Controllers/MatchesController.php
  app/Models/Match/Match.php
  resources/assets/coffee/react/mp-history/main.coffee
  routes/web.php
  tests/api_routes.json
Labels: type:api

#7201 Move per-mode statistics to its own transformer
  app/Http/Controllers/UsersController.php
  app/Transformers/UserCompactTransformer.php
  app/Transformers/UserStatisticsRulesetsTransformer.php
  resources/docs/source/includes/_structures/user_compact.md
Labels: type:api

#7194 Show difficulty name in beatmapset discussions mode switcher
  resources/assets/coffee/react/beatmap-discussions/mode-switcher.coffee
Labels: area:beatmap-discussions, type:ux

#7206 Simplify null coalesce
  app/Http/Controllers/Forum/TopicsController.php
Labels: type:code-quality

#7209 Support null output for empty transforms
  app/Libraries/Transformers/Scope.php
  resources/assets/coffee/react/modding-profile/header.coffee
  resources/assets/coffee/react/profile-page/header.coffee
  resources/docs/source/includes/_structures/user.md
Labels: type:api

#7066 Simpler forum search
  app/Http/Controllers/UsersController.php
  app/Libraries/Elasticsearch/HasChildQuery.php
  app/Libraries/Elasticsearch/Hit.php
  app/Libraries/Search/ForumSearch.php
  app/Libraries/Search/ForumSearchParams.php
  app/Libraries/Search/PostSearch.php
  app/Libraries/Search/PostSearchParams.php
  app/Libraries/Search/PostSearchRequestParams.php
  app/Models/Elasticsearch/PostTrait.php
  app/Models/Elasticsearch/TopicTrait.php
  app/Models/Forum/Topic.php
  config/schemas/posts.json
  resources/assets/less/bem/search-result-entry.less
  resources/lang/en/forum.php
  resources/views/home/_search_result_forum_post.blade.php
  resources/views/objects/search/_forum_options.blade.php
  resources/views/objects/search/_forum_post.blade.php
  resources/views/objects/search/_post_search.blade.php
  resources/views/users/posts.blade.php
Labels: area:search

#7211 Require auth for user forum posts search
  app/Http/Controllers/UsersController.php
Labels: area:user-profile

#7210 Fix user verification when editing beatmap description
  resources/assets/coffee/_classes/bbcode-preview.coffee
  resources/assets/coffee/react/beatmapset-page/info.coffee
  resources/assets/less/bem-index.less
  resources/assets/less/bem/beatmapset-description-editor.less
Labels: area:beatmap-info

#7221 Fix discussion tabs label
  resources/assets/coffee/react/beatmap-discussions/mode-switcher.coffee
Labels: area:beatmap-discussions, type:ux

#7222 List being silenced as one of the reasons for not being able to send message
  resources/assets/lib/chat/conversation-view.tsx
  resources/lang/en/authorization.php
  resources/lang/en/chat.php
Labels: area:chat, type:ux

#7205 Exclude period from end of url when parsing
  resources/assets/coffee/osu_common.coffee
Labels: area:chat

#7228 Fix condition for topic noindex
  app/Http/Controllers/Forum/TopicsController.php
Labels: area:forum

#7213 Reduce queries for showing forum topic
  app/Http/Controllers/Forum/TopicsController.php
  app/Models/Forum/Post.php
  app/Models/Forum/Topic.php
Labels: area:forum, type:performance

#7212 Skip unnecessary user silence check
  resources/views/layout/_page_header_v4.blade.php
Labels: type:performance

#7204 Add storyboard icon on beatmap page
  resources/assets/coffee/react/beatmapset-page/header.coffee
  resources/assets/less/bem/beatmapset-beatmap-picker.less
  resources/assets/less/bem/beatmapset-header.less
  resources/assets/less/bem/beatmapset-status.less
  resources/assets/less/variables.less
  resources/lang/en/beatmapsets.php
Labels: area:beatmap-info, type:ux

#7227 Different default posts sort based on existence of query string
  app/Libraries/Search/ForumSearchRequestParams.php
Labels: area:search

#7223 Add `expired` property to multiplayer playlist items
  app/Models/Multiplayer/PlaylistItem.php
  app/Models/Multiplayer/Room.php
  app/Transformers/Multiplayer/PlaylistItemTransformer.php
  database/migrations/2021_02_17_073637_add-expired-column-to-playlist-items.php
Labels: area:multiplayer

#6961 Add support for difficulty adjustment limit extension
  app/Libraries/Multiplayer/Mod.php
Labels: area:multiplayer

#7218 Allow deleting topic
  app/Http/Controllers/Forum/Controller.php
  app/Http/Controllers/Forum/PostsController.php
  app/Http/Controllers/Forum/TopicsController.php
  app/Libraries/OsuAuthorize.php
  app/Models/Elasticsearch/PostTrait.php
  app/Models/Forum/Post.php
  app/Models/Forum/Topic.php
  app/helpers.php
  resources/assets/coffee/_classes/forum.coffee
  resources/lang/en/forum.php
  resources/lang/en/model_validation.php
  resources/views/forum/posts/_button_delete.blade.php
  resources/views/forum/topics/_post.blade.php
  routes/web.php
  tests/Controllers/ForumPostsControllerTest.php
  tests/Controllers/ForumTopicsControllerTest.php
Labels: area:forum

#7234 Remove old BroadcastNotification job
  app/Jobs/BroadcastNotification.php
Labels: type:code-quality

#7215 Add migration for laravel passport 9.x
  database/migrations/2021_02_16_090310_add_provider_to_oauth_clients.php
  tests/Models/OAuth/ClientTest.php
Labels: area:tooling, type:api

#7239 Hotfix for restricted/deleted user in discussion listing
  app/Http/Controllers/BeatmapDiscussionsController.php
  resources/assets/coffee/react/beatmap-discussions-history/main.coffee
  resources/assets/coffee/react/beatmap-discussions/discussion.coffee
  resources/assets/coffee/react/beatmap-discussions/main.coffee
  resources/assets/coffee/react/beatmap-discussions/post.coffee
  resources/assets/coffee/react/beatmap-discussions/user-card.coffee
  resources/assets/coffee/react/modding-profile/main.coffee
  resources/assets/coffee/react/modding-profile/posts.coffee
  resources/assets/coffee/react/modding-profile/votes.coffee
  resources/assets/lib/models/user.ts
  resources/assets/lib/register-components.coffee
Labels: area:beatmap-discussions

#7196 Overflow list number to right side
  app/Libraries/Markdown/ListItemRenderer.php
  app/Libraries/Markdown/OsuMarkdown.php
  app/Libraries/Markdown/OsuMarkdownProcessor.php
  resources/assets/less/bem/osu-md.less
Labels: type:ux

#7225 Add cursor pagination for forum posts
  app/Http/Controllers/Forum/TopicsController.php
  app/Models/Forum/Post.php
  resources/assets/coffee/_classes/forum-auto-click.coffee
  resources/assets/coffee/_classes/forum.coffee
Labels: area:forum

#7252 Improved remembering of selected chat channel
  resources/assets/lib/chat.ts
  resources/assets/lib/chat/chat-state-store.ts
Labels: area:chat

#7251 Fix spunout being incompatible with too many mods
  app/Libraries/Multiplayer/Mod.php
Labels: area:multiplayer

#7245 Remove redundant rank data
  app/Http/Controllers/FriendsController.php
  app/Http/Controllers/GroupsController.php
  app/Http/Controllers/UsersController.php
  app/Libraries/ModdingHistoryEventsBundle.php
  app/Models/UserStatistics/Model.php
  app/Transformers/UserCompactTransformer.php
  app/Transformers/UserStatisticsTransformer.php
  resources/assets/coffee/react/profile-page/rank-chart.coffee
  resources/assets/coffee/react/profile-page/rank.coffee
  resources/assets/lib/interfaces/user-json.ts
  resources/assets/lib/interfaces/user-statistics-json.ts
  resources/assets/lib/user-list.tsx
  resources/docs/source/includes/_structures/rankings.md
  resources/docs/source/includes/_structures/user.md
  resources/docs/source/includes/_structures/user_compact.md
  resources/docs/source/includes/_structures/user_statistics.md
  resources/views/vendor/apidoc/partials/info.blade.php
Labels: type:api, type:code-quality

#7244 Check for exclusive mods that's already required
  app/Libraries/Multiplayer/Mod.php
  app/Models/Multiplayer/PlaylistItem.php
  tests/Libraries/Multiplayer/ModTest.php
Labels: area:multiplayer

#7260 Fix order for legacy login check
  app/Http/Kernel.php
Labels: type:reliability
