Repository ppy/osu-web, pull requests merged in 2021-12, with the labels that each got.

#8394 Add support for sending public channel messages through LIO
  app/Http/Controllers/LegacyInterOpController.php
Labels: type:api, area:chat

#8392 API for batched beatmap lookup
  app/Http/Controllers/API/BeatmapsController.php
  app/Http/Controllers/BeatmapsController.php
  app/Models/Beatmap.php
  app/Models/Beatmapset.php
  database/factories/BeatmapFactory.php
  routes/web.php
  tests/Controllers/BeatmapsControllerTest.php
  tests/api_routes.json
Labels: type:api, area:beatmap-listing

#8395 Reuse existing channel
  app/Models/Chat/Channel.php
Labels: type:performance, area:chat

#8399 Add missing makeObservable calls
  resources/assets/lib/beatmaps/beatmapset-card-size-selector.tsx
  resources/assets/lib/chat-icon.tsx
  resources/assets/lib/chat/main-view.tsx
  resources/assets/lib/main-notification-icon.tsx
  resources/assets/lib/notification-widget/main.tsx
  resources/assets/lib/notifications-index/main.tsx
  resources/assets/lib/oauth/client-details.tsx
  resources/assets/lib/oauth/new-client.tsx
  resources/assets/lib/oauth/own-clients.tsx
  resources/assets/lib/user-multiplayer-index/room.tsx
  resources/assets/lib/user-profile-container.tsx
Labels: type:reliability

#8400 Support sending message to any channel type via LIO
  app/Http/Controllers/LegacyInterOpController.php
  app/Http/Middleware/LegacyInterOpAuth.php
  app/Libraries/OsuAuthorize.php
Labels: type:api

#8356 Typescript Cover Selection component
  resources/assets/coffee/react/profile-page/cover-selection.coffee
  resources/assets/coffee/react/profile-page/cover-selector.coffee
  resources/assets/coffee/react/profile-page/cover-uploader.coffee
  resources/assets/lib/profile-page/cover-selection.tsx
Labels: area:user-profile, type:code-quality

#8401 Add more prefix for bancho multiplayer channel check
  app/Models/Chat/Channel.php
Labels: area:chat

#8402 Allow access to non-pm channels when using interop
  app/Libraries/OsuAuthorize.php
Labels: area:chat

#8359 Typescript Cover Uploader
  resources/assets/coffee/react/profile-page/cover-selector.coffee
  resources/assets/coffee/react/profile-page/cover-uploader.coffee
  resources/assets/lib/profile-page/cover-uploader.tsx
Labels: type:code-quality

#8368 Typescript Detail Mobile
  resources/assets/coffee/react/profile-page/detail-mobile.coffee
  resources/assets/coffee/react/profile-page/header.coffee
  resources/assets/lib/profile-page/detail-mobile.tsx
Labels: type:code-quality

#8387 Typescript StickyHeader
  resources/assets/app.ts
  resources/assets/coffee/_classes/forum.coffee
  resources/assets/coffee/_classes/sticky-header.coffee
  resources/assets/coffee/main.coffee
  resources/assets/coffee/react/beatmap-discussions/main.coffee
  resources/assets/coffee/react/beatmap-discussions/new-discussion.coffee
  resources/assets/coffee/react/beatmaps/search-panel.coffee
  resources/assets/coffee/react/modding-profile/main.coffee
  resources/assets/coffee/react/profile-page/main.coffee
  resources/assets/less/variables.less
  resources/assets/lib/app-deps.ts
  resources/assets/lib/beatmap-discussions/new-review.tsx
  resources/assets/lib/core/sticky-header.ts
  resources/assets/lib/import-shims.coffee
  resources/assets/lib/osu-core.ts
  resources/assets/lib/utils/html.ts
Labels: type:code-quality

#8366 Typescript Cover Selector
  resources/assets/coffee/react/profile-page/cover-selector.coffee
  resources/assets/coffee/react/profile-page/header.coffee
  resources/assets/lib/profile-page/cover-selector.tsx
Labels: area:user-profile

#8376 Typescript Game Mode Switcher
  resources/assets/coffee/react/profile-page/game-mode-switcher.coffee
  resources/assets/coffee/react/profile-page/header.coffee
  resources/assets/lib/profile-page/game-mode-switcher.tsx
Labels: area:user-profile, type:code-quality

#8404 Fix missing news admin menu
  resources/assets/lib/admin-menu.tsx
Labels: area:news

#8409 Fix looking up beatmap with multiple parameters
  app/Http/Controllers/BeatmapsController.php
  tests/Controllers/BeatmapsControllerTest.php
Labels: type:api, area:beatmap-info

#8408 Expose playlist item's playlist_order in JSON responses
  app/Transformers/Multiplayer/PlaylistItemTransformer.php
Labels: area:multiplayer

#8412 Fix new chat PM may not be correctly showing if you can't send a message
  app/Http/Controllers/ChatController.php
Labels: area:chat

#8411 Add played_at column to playlist items
  app/Models/Multiplayer/PlaylistItem.php
  app/Models/Multiplayer/Room.php
  app/Transformers/Multiplayer/PlaylistItemTransformer.php
  database/migrations/2021_12_03_102651_add_played_at_to_playlist_items.php
  tests/Models/Multiplayer/RoomTest.php
Labels: area:multiplayer

#8389 Typescript bottomPage function
  resources/assets/coffee/_classes/forum.coffee
  resources/assets/coffee/osu_common.coffee
  resources/assets/coffee/react/modding-profile/main.coffee
  resources/assets/coffee/react/mp-history/content.coffee
  resources/assets/coffee/react/profile-page/main.coffee
  resources/assets/lib/utils/html.ts
Labels: type:code-quality

#8417 Remove default scribe generated authentication docs
  config/scribe.php
  resources/views/docs/info.blade.php
  resources/views/vendor/scribe/authentication.blade.php
Labels: type:documentation

#8388 Fix chat not scrolling to unread message on load
  resources/assets/lib/chat/chat-state-store.ts
  resources/assets/lib/chat/conversation-list-item.tsx
  resources/assets/lib/chat/conversation-view.tsx
  resources/assets/lib/interfaces/chat/channel-json.ts
  resources/assets/lib/models/chat/channel.ts
Labels: area:chat, priority:1

#8378 Typescript Line Chart
  resources/assets/app.ts
  resources/assets/coffee/_classes/line-chart.coffee
  resources/assets/coffee/react/profile-page/historical.coffee
  resources/assets/lib/charts/line-chart.ts
  resources/assets/lib/globals.d.ts
  resources/assets/lib/profile-page/rank-chart.tsx
  yarn.lock
Labels: type:code-quality, area:charts

#8422 Add default fallback country on registration
  app/Http/Middleware/UpdateUserLastvisit.php
  app/Models/Country.php
  app/Models/Score/Best/Model.php
  app/Models/User.php
  database/factories/CountryFactory.php
  tests/Controllers/Payments/ShopifyControllerTest.php
  tests/Controllers/UsersControllerTest.php
Labels: type:reliability

#8424 Fix substring call in user model factory
  database/factories/UserFactory.php
Labels: type:testing

#8349 Show only public and pm channels in web chat
  resources/assets/less/bem/chat-conversation-list-separator.less
  resources/assets/lib/chat.tsx
  resources/assets/lib/chat/chat-state-store.ts
  resources/assets/lib/chat/conversation-list-item.tsx
  resources/assets/lib/chat/conversation-list.tsx
  resources/assets/lib/chat/conversation-view.tsx
  resources/assets/lib/chat/input-box.tsx
  resources/assets/lib/chat/main-view.tsx
  resources/assets/lib/interfaces/chat/channel-json.ts
  resources/assets/lib/models/chat/channel.ts
  resources/assets/lib/stores/channel-store.ts
Labels: type:code-quality, area:chat

#8346 simplify beatmap pack installation instructions
  resources/lang/en/beatmappacks.php
Labels: type:localisation

#8398 Fix UserChannelList fetched twice on chat load
  resources/assets/lib/chat.tsx
  resources/assets/lib/chat/chat-state-store.ts
Labels: type:performance, area:chat

#8391 Increment user count cache on registration
  app/Libraries/CurrentStats.php
  app/Libraries/UserRegistration.php
  app/Models/Count.php
  app/Models/RankHistory.php
  tests/Libraries/UserRegistrationTest.php
Labels: area:dashboard

#8428 Fix PM not being displayed after leaving a channel
  app/Models/Chat/Channel.php
Labels: area:chat

#8427 Fix score weight transformer include
  app/Models/Score/Best/Model.php
  app/Transformers/ScoreTransformer.php
Labels: type:code-quality

#8431 Put all javascript entrypoints in one directory
  resources/assets/lib/entrypoints/account-edit.tsx
  resources/assets/lib/entrypoints/admin-contest.coffee
  resources/assets/lib/entrypoints/app.ts
  resources/assets/lib/entrypoints/artist-page.coffee
  resources/assets/lib/entrypoints/artist-tracks-index.tsx
  resources/assets/lib/entrypoints/beatmap-discussions-history.coffee
  resources/assets/lib/entrypoints/beatmap-discussions.coffee
  resources/assets/lib/entrypoints/beatmaps.tsx
  resources/assets/lib/entrypoints/beatmapset-page.coffee
  resources/assets/lib/entrypoints/changelog-build.coffee
  resources/assets/lib/entrypoints/changelog-index.coffee
  resources/assets/lib/entrypoints/chat.tsx
  resources/assets/lib/entrypoints/comments-index.coffee
  resources/assets/lib/entrypoints/comments-show.coffee
  resources/assets/lib/entrypoints/contest-entry.coffee
  resources/assets/lib/entrypoints/contest-voting.coffee
  resources/assets/lib/entrypoints/follows-comment.tsx
  resources/assets/lib/entrypoints/follows-mapping.tsx
  resources/assets/lib/entrypoints/friends-index.tsx
  resources/assets/lib/entrypoints/groups-show.tsx
  resources/assets/lib/entrypoints/modding-profile.coffee
  resources/assets/lib/entrypoints/mp-history.coffee
  resources/assets/lib/entrypoints/news-index.tsx
  resources/assets/lib/entrypoints/news-show.tsx
  resources/assets/lib/entrypoints/notifications-index.tsx
  resources/assets/lib/entrypoints/profile-page.coffee
  resources/assets/lib/entrypoints/scores-show.tsx
  resources/assets/lib/entrypoints/store-bootstrap.ts
  resources/assets/lib/entrypoints/user-multiplayer-index.tsx
  resources/views/accounts/edit.blade.php
  resources/views/admin/contests/show.blade.php
  resources/views/artist_tracks/index.blade.php
  resources/views/artists/show.blade.php
  resources/views/beatmap_discussions/index.blade.php
  resources/views/beatmapsets/discussion.blade.php
  resources/views/beatmapsets/index.blade.php
  resources/views/beatmapsets/show.blade.php
  resources/views/changelog/build.blade.php
  resources/views/changelog/index.blade.php
  resources/views/chat/index.blade.php
  resources/views/comments/index.blade.php
  resources/views/comments/show.blade.php
  resources/views/contests/enter.blade.php
  resources/views/contests/voting.blade.php
  resources/views/follows/comment.blade.php
  resources/views/follows/mapping.blade.php
  resources/views/friends/index.blade.php
  resources/views/groups/show.blade.php
  resources/views/matches/index.blade.php
  resources/views/news/index.blade.php
  resources/views/news/show.blade.php
  resources/views/notifications/index.blade.php
  resources/views/scores/show.blade.php
  resources/views/store/layout.blade.php
  resources/views/users/beatmapset_activities.blade.php
  resources/views/users/multiplayer/index.blade.php
  resources/views/users/show.blade.php
  tests/karma/index.ts
  webpack.unmix.js
Labels: type:code-quality

#8372 Typescript Profile Page Medals
  resources/assets/coffee/react/profile-page/main.coffee
  resources/assets/coffee/react/profile-page/medals.coffee
  resources/assets/lib/interfaces/achievement-json.ts
  resources/assets/lib/profile-page/medals.tsx
Labels: area:user-profile, type:code-quality

#8384 Typescript profile page historical tab
  resources/assets/coffee/react/profile-page/historical.coffee
  resources/assets/coffee/react/profile-page/main.coffee
  resources/assets/lib/interfaces/user-json.ts
  resources/assets/lib/profile-page/extra-page-props.ts
  resources/assets/lib/profile-page/historical.tsx
Labels: area:user-profile, type:code-quality

#8385 Typescript profile page header
  resources/assets/coffee/react/profile-page/header.coffee
  resources/assets/coffee/react/profile-page/main.coffee
  resources/assets/lib/profile-page/detail-mobile.tsx
  resources/assets/lib/profile-page/header.tsx
Labels: area:user-profile, type:code-quality

#8432 Simpler props for AchievementBadge
  resources/assets/lib/profile-page/achievement-badge-popup.tsx
  resources/assets/lib/profile-page/achievement-badge.tsx
  resources/assets/lib/profile-page/medals.tsx
  resources/assets/lib/profile-page/parse-event.tsx
Labels: area:user-profile

#8413 Show reason when sending to channel is disabled
  app/Http/Controllers/Chat/ChannelsController.php
  app/Http/Controllers/Chat/ChatController.php
  app/Http/Controllers/ChatController.php
  app/Models/Chat/Channel.php
  app/Transformers/Chat/ChannelTransformer.php
  resources/assets/less/bem/chat-conversation.less
  resources/assets/lib/chat/conversation-view.tsx
  resources/assets/lib/entrypoints/chat.tsx
  resources/assets/lib/interfaces/chat/channel-json.ts
  resources/assets/lib/models/chat/channel.ts
  resources/lang/en/authorization.php
  resources/lang/en/chat.php
  resources/views/docs/_structures/chat_channel.md
  resources/views/docs/_structures/current_user_attributes.md
  tests/Models/Chat/ChannelTest.php
Labels: area:chat

#8421 MobX state for Kudosu section on profile/modding page
  resources/assets/coffee/react/modding-profile/main.coffee
  resources/assets/coffee/react/profile-page/main.coffee
  resources/assets/lib/components/profile-page-kudosu.tsx
  resources/assets/lib/interfaces/error-json.ts
  resources/assets/lib/profile-page/kudosu.tsx
  resources/assets/lib/utils/json.ts
  resources/assets/lib/utils/offset-paginator.ts
Labels: area:user-profile, type:code-quality

#8440 Feature/bbcode editor max height
  resources/assets/less/bem/bbcode-editor.less
Labels: area:beatmap-info

#8446 Don't return Builder from UserChannel::last_read_id
  app/Models/Chat/UserChannel.php
Labels: area:chat

#8448 Remove listener on ConversationView unmount
  resources/assets/lib/chat/conversation-view.tsx
Labels: type:code-quality, area:chat

#8452 Extend line chart hover area
  resources/assets/less/bem/line-chart.less
  resources/assets/lib/charts/line-chart.ts
Labels: type:ux, area:charts

#8453 Move translation key of updated beatmap pack instruction
  resources/lang/en/beatmappacks.php
  resources/views/packs/_header.blade.php
Labels: type:localisation

#8449 Change Homepage Button Colours
  resources/assets/less/bem/btn-home.less
  resources/views/home/user.blade.php
Labels: type:design, area:dashboard

#8455 Always use UTC time for historical chart labels
  resources/assets/lib/profile-page/historical.tsx
Labels: area:user-profile

#8454 Fix preset relation name in Room
  app/Models/Multiplayer/Room.php
Labels: area:multiplayer

#8425 Per-channel scroll behaviour
  resources/assets/lib/actions/window-focus-actions.ts
  resources/assets/lib/chat/chat-state-store.ts
  resources/assets/lib/chat/conversation-view.tsx
  resources/assets/lib/chat/input-box.tsx
  resources/assets/lib/coffee-modules.d.ts
  resources/assets/lib/core/click-menu.ts
  resources/assets/lib/core/window-focus-observer.ts
  resources/assets/lib/globals.d.ts
  resources/assets/lib/interfaces/chat/channel-json.ts
  resources/assets/lib/modal-helper.ts
  resources/assets/lib/models/chat/channel.ts
  resources/assets/lib/popup-menu.coffee
  resources/assets/lib/profile-page/header.tsx
  resources/assets/lib/stores/channel-store.ts
Labels: area:chat

#8430 Separate chat message component rendering
  resources/assets/less/bem-index.less
  resources/assets/less/bem/chat-message-group.less
  resources/assets/less/bem/chat-message-item.less
  resources/assets/lib/chat/message-group.tsx
  resources/assets/lib/chat/message-item.tsx
  resources/lang/en/chat.php
Labels: area:chat

#8441 Add multiplayer room duration limits
  .env.example
  app/Models/Multiplayer/Room.php
  app/Models/User.php
  config/osu.php
  database/factories/UserFactory.php
  resources/lang/en/multiplayer.php
  tests/Models/Multiplayer/RoomTest.php
Labels: area:multiplayer

#6996 Put playmode icons on home beatmapset panels
  app/Http/Controllers/BeatmapsController.php
  app/Models/Beatmapset.php
  resources/assets/less/bem/user-home-beatmapset.less
  resources/views/home/_user_beatmapset.blade.php
Labels: type:ux, area:dashboard

#8459 Fix alignment of mods column header
  resources/assets/less/bem/beatmap-scoreboard-table.less
Labels: type:design

#8460 Fix download button hover background
  resources/assets/less/bem/btn-osu-big.less
Labels: type:design

#8433 Convert profile page to Typescript and use MobX state
  app/Http/Controllers/UsersController.php
  package.json
  resources/assets/coffee/_classes/current-user-observer.coffee
  resources/assets/coffee/react/modding-profile/main.coffee
  resources/assets/coffee/react/profile-page/main.coffee
  resources/assets/lib/components/profile-page-extra-tab.tsx
  resources/assets/lib/entrypoints/profile-page.coffee
  resources/assets/lib/entrypoints/profile-page.tsx
  resources/assets/lib/interfaces/profile-page/extras-json.ts
  resources/assets/lib/interfaces/user-extended-json.ts
  resources/assets/lib/modding-profile/kudosu.tsx
  resources/assets/lib/play-detail-list.tsx
  resources/assets/lib/profile-page/account-standing.tsx
  resources/assets/lib/profile-page/beatmapsets.tsx
  resources/assets/lib/profile-page/controller.tsx
  resources/assets/lib/profile-page/cover-selection.tsx
  resources/assets/lib/profile-page/cover-selector.tsx
  resources/assets/lib/profile-page/cover-uploader.tsx
  resources/assets/lib/profile-page/extra-page-props.ts
  resources/assets/lib/profile-page/extra-tab.tsx
  resources/assets/lib/profile-page/game-mode-switcher.tsx
  resources/assets/lib/profile-page/header.tsx
  resources/assets/lib/profile-page/historical.tsx
  resources/assets/lib/profile-page/kudosu.tsx
  resources/assets/lib/profile-page/main.tsx
  resources/assets/lib/profile-page/medals.tsx
  resources/assets/lib/profile-page/recent-activity.tsx
  resources/assets/lib/profile-page/top-scores.tsx
  resources/assets/lib/profile-page/user-page-editor.tsx
  resources/assets/lib/profile-page/user-page.tsx
  resources/assets/lib/show-more-link.tsx
  resources/views/users/show.blade.php
  yarn.lock
Labels: area:user-profile, type:code-quality

#8463 Class-based chat test factories
  database/factories/Chat/ChannelFactory.php
  database/factories/Chat/MessageFactory.php
  database/factories/Chat/UserChannelFactory.php
  tests/Browser/SanityTest.php
  tests/Controllers/Chat/Channels/MessagesControllerTest.php
  tests/Controllers/Chat/ChannelsControllerTest.php
  tests/Controllers/Chat/ChatControllerTest.php
  tests/Libraries/ChatTest.php
  tests/Models/Chat/ChannelTest.php
Labels: type:code-quality, area:tooling

#8447 Dispatch chat events after transaction completes
  app/Events/BroadcastableEventBase.php
  app/Events/ChatChannelEvent.php
  app/Events/ChatMessageEvent.php
  app/Events/NotificationEventBase.php
  app/Events/UserSessionEvent.php
  app/Http/Middleware/VerifyUserAlways.php
  app/Jobs/MarkNotificationsRead.php
  app/Jobs/Notifications/BroadcastNotificationBase.php
  app/Libraries/Chat/MessageTask.php
  app/Libraries/Session/Store.php
  app/Libraries/UserVerificationState.php
  app/Models/Chat/Channel.php
  app/Models/OAuth/Token.php
  app/Models/UserNotification.php
  tests/Models/OAuth/TokenTest.php
Labels: area:chat, area:notifications

#8464 Fix error when parsing non-array markdown yaml header
  app/Libraries/Markdown/OsuMarkdown.php
Labels: type:reliability

#8467 Fix chat public channel order
  resources/assets/lib/stores/channel-store.ts
Labels: area:chat
