Repository ppy/osu-web, pull requests merged in 2022-03, with the labels that each got.

#8674 Fix location of profile cover update spinner
  resources/assets/less/bem/header-v4.less
  resources/assets/less/bem/profile-info.less
  resources/assets/lib/components/header-v4.tsx
  resources/assets/lib/profile-page/cover.tsx
  resources/assets/lib/profile-page/detail.tsx
  resources/assets/lib/profile-page/header.tsx
Labels: type:design, area:user-profile

#8675 Remove tournament banner padding
  resources/assets/less/bem/profile-tournament-banner.less
  resources/assets/less/variables.less
  resources/assets/lib/profile-page/detail.tsx
Labels: type:design, area:user-profile

#8678 Adjust nav menu background opacity of user page
  resources/assets/less/bem/header-v4.less
Labels: type:design, area:user-profile

#8679 Remove highlight for ranked score
  resources/assets/less/bem/profile-stats.less
Labels: area:user-profile, type:ux

#8683 Hide message link on own profile page
  resources/assets/lib/profile-page/detail-bar.tsx
Labels: area:user-profile, type:ux

#8686 Fix profile page detail bar button height
  resources/assets/less/bem/profile-detail-bar.less
  resources/assets/lib/profile-page/detail-bar.tsx
Labels: type:design, area:user-profile

#8684 Fix style of profile page me! section editor
  resources/assets/less/bem/bbcode-editor.less
  resources/assets/less/bem/page-extra.less
Labels: type:design, area:user-profile

#8685 Fix alignment of profile page sort handle
  resources/assets/less/bem/page-extra.less
  resources/assets/less/bem/sortable-handle.less
  resources/assets/less/variables.less
Labels: type:design, area:user-profile

#8690 Fix ranks section notice background
  resources/assets/less/bem/wiki-notice.less
  resources/assets/lib/profile-page/top-scores.tsx
Labels: type:design, area:user-profile

#8689 Adjust mobile version of profile page details
  resources/assets/less/bem/profile-detail.less
  resources/assets/less/bem/profile-stats.less
  resources/assets/less/bem/value-display.less
  resources/assets/lib/profile-page/detail.tsx
Labels: type:design, area:user-profile

#8656 Typescript PopupMenu component
  resources/assets/lib/beatmap-discussions/icon-dropdown-menu.tsx
  resources/assets/lib/beatmapsets-show/beatmapset-menu.tsx
  resources/assets/lib/coffee-modules.d.ts
  resources/assets/lib/components/popup-menu-persistent.tsx
  resources/assets/lib/components/popup-menu.coffee
  resources/assets/lib/components/popup-menu.tsx
  resources/assets/lib/profile-page/extra-menu.tsx
  resources/assets/lib/tooltip-context.ts
Labels: type:code-quality

#8692 Increase cover username area
  resources/assets/less/bem/profile-info.less
Labels: type:design, area:user-profile

#8693 Fix positioning of previous usernames popup
  resources/assets/less/bem/profile-info.less
Labels: type:design, area:user-profile

#8695 Fix variable name of beatmapset discussion
  app/Models/Beatmapset.php
Labels: area:beatmap-discussions, type:code-quality

#8697 Fix kudosu value font size
  resources/assets/less/bem/value-display.less
Labels: type:design, area:user-profile

#8672 More detailed typing of BeatmapsetEvent
  resources/assets/lib/beatmap-discussions/nominator.tsx
  resources/assets/lib/components/beatmapset-event.tsx
  resources/assets/lib/interfaces/beatmapset-event-json.ts
Labels: type:code-quality

#8673 Typescript NotificationBanner component
  resources/assets/lib/coffee-modules.d.ts
  resources/assets/lib/components/notification-banner.coffee
  resources/assets/lib/components/notification-banner.tsx
  resources/assets/lib/components/user-profile-container.tsx
Labels: type:code-quality, type:reliability

#8705 Fix query for visible discussion posts
  app/Models/BeatmapDiscussionPost.php
Labels: area:user-profile, type:reliability

#8704 Fix error on accessing link to deleted discussion
  resources/assets/coffee/_classes/beatmap-discussion-helper.coffee
Labels: area:beatmap-discussions, type:reliability

#8708 Hide maps without scores for multiplayer display page
  app/Http/Controllers/Multiplayer/RoomsController.php
Labels: type:ux, area:multiplayer

#8706 Fix active rooms end time display
  app/Transformers/Multiplayer/RoomTransformer.php
  resources/assets/lib/interfaces/room-json.ts
  resources/assets/lib/user-multiplayer-index/room.tsx
Labels: type:ux, area:multiplayer

#8707 Show active maps count for active room
  resources/assets/lib/user-multiplayer-index/room.tsx
Labels: type:ux, area:multiplayer

#8713 Center user stats
  resources/assets/less/bem/profile-stats.less
Labels: type:design, area:user-profile

#8649 Refactor new discussion post and reply handling
  app/Http/Controllers/BeatmapDiscussionPostsController.php
  app/Http/Controllers/BeatmapDiscussionsController.php
  app/Http/Controllers/BeatmapsetsController.php
  app/Jobs/Notifications/BeatmapsetDiscussionPostNotification.php
  app/Jobs/Notifications/BeatmapsetDiscussionReviewNew.php
  app/Libraries/BeatmapsetDiscussion/Discussion.php
  app/Libraries/BeatmapsetDiscussion/Reply.php
  app/Libraries/BeatmapsetDiscussion/Review.php
  app/Libraries/BeatmapsetDiscussion/Traits/HandlesProblem.php
  app/Libraries/BeatmapsetDiscussionsBundle.php
  app/Libraries/ModdingHistoryEventsBundle.php
  app/Libraries/OsuAuthorize.php
  app/Models/BeatmapDiscussion.php
  app/Models/BeatmapsetEvent.php
  database/factories/BeatmapDiscussionFactory.php
  tests/Controllers/BeatmapDiscussionPostsControllerTest.php
  tests/Libraries/BeatmapDiscussion/ReviewTest.php
Labels: area:beatmap-discussions

#8709 Handle different casing of statistics object
  app/Models/Solo/Score.php
  tests/Models/Solo/ScoreTest.php
Labels: area:scoring

#8647 Add endpoint to fetch beatmap difficulty attributes
  .env.example
  .github/workflows/tests.yml
  SETUP.md
  app/Http/Controllers/BeatmapsController.php
  app/Libraries/BeatmapDifficultyAttributes.php
  app/Models/Beatmap.php
  config/osu.php
  docker-compose.yml
  resources/views/docs/_structures/beatmap_difficulty_attributes.md
  routes/web.php
  tests/Controllers/BeatmapsControllerTest.php
  tests/api_routes.json
Labels: type:api, area:beatmap-info

#8716 Combine isReview check
  resources/assets/lib/beatmap-discussions/post.coffee
Labels: area:beatmap-discussions, type:code-quality

#8718 Remove direct prop-types dependency
  package.json
  yarn.lock
Labels: type:code-quality, javascript

#8722 Revert slow beatmap discussion post listing query
  app/Models/BeatmapDiscussionPost.php
Labels: area:beatmap-discussions

#8723 Remove unused require-dir
  package.json
  yarn.lock
Labels: type:code-quality, javascript

#8719 Report improvements
  app/Models/UserReport.php
  resources/assets/lib/components/report-form.coffee
  resources/lang/en/users.php
  tests/Libraries/ReportCommentTest.php
  tests/Libraries/ReportScoreTest.php
  tests/Libraries/ReportUserTest.php
Labels: area:user-profile

#8717 Save unposted beatmap discussion post
  resources/assets/lib/beatmap-discussions/new-discussion.coffee
  resources/assets/lib/beatmap-discussions/new-reply.coffee
Labels: area:beatmap-discussions, type:ux

#8725 Normalise score data
  app/Libraries/ScoreCheck.php
  app/Models/Multiplayer/Score.php
  app/Models/Solo/Score.php
  app/Models/Solo/ScoreData.php
  app/Models/Solo/ScoreDataStatistics.php
  app/Transformers/Solo/ScoreTransformer.php
  tests/Models/Solo/ScoreTest.php
Labels: area:scoring

#8728 Update mobx observable using runInAction
  resources/assets/lib/beatmaps/search-panel.coffee
Labels: type:reliability

#8660 Updated tests for refactored discussion post handling
  app/Libraries/BeatmapsetDiscussion/Reply.php
  app/Libraries/BeatmapsetDiscussion/Traits/HandlesProblem.php
  app/Models/Beatmapset.php
  database/factories/BeatmapDiscussionFactory.php
  database/factories/BeatmapsetFactory.php
  tests/BeatmapsetDisqualifyNotificationsTest.php
  tests/Controllers/BeatmapDiscussionPostsControllerTest.php
  tests/Libraries/BeatmapsetDiscussion/DiscussionTest.php
  tests/Libraries/BeatmapsetDiscussion/ReplyTest.php
  tests/Libraries/BeatmapsetDiscussion/ReviewTest.php
  tests/Models/BeatmapsetTest.php
  tests/TestCase.php
Labels: area:beatmap-discussions, type:testing

#8727 Update to latest React
  package.json
  resources/assets/lib/beatmap-discussions/editor.tsx
  resources/assets/lib/beatmap-discussions/main.coffee
  resources/assets/lib/beatmaps/search-filter.coffee
  resources/assets/lib/components/click-to-copy.tsx
  resources/assets/lib/components/user-profile-container.tsx
  resources/assets/lib/profile-page/achievement-badge.tsx
  yarn.lock
Labels: type:code-quality, javascript

#8726 Convert BeatmapIcon tooltip to typescript
  resources/assets/coffee/main.coffee
  resources/assets/less/bem/qtip.less
  resources/assets/less/bem/tooltip-beatmap.less
  resources/assets/lib/app-deps.ts
  resources/assets/lib/beatmap-discussions/beatmap-list-item.tsx
  resources/assets/lib/beatmap-discussions/editor-beatmap-selector.tsx
  resources/assets/lib/beatmap-discussions/review-post-embed.tsx
  resources/assets/lib/beatmapsets-show/beatmap-selection.tsx
  resources/assets/lib/components/beatmap-icon.tsx
  resources/assets/lib/components/user-card-tooltip.tsx
  resources/assets/lib/core-legacy/tooltip-beatmap.coffee
  resources/assets/lib/scores-show/beatmap-info.tsx
Labels: area:beatmap-discussions

#8694 Match BeatmapIcon tooltip difficulty colour
  resources/assets/less/bem/beatmap-icon.less
  resources/assets/less/bem/beatmaps-popup-item.less
  resources/assets/less/bem/tooltip-beatmap.less
  resources/assets/less/layout.less
  resources/assets/less/variables.less
  resources/assets/lib/components/beatmap-icon.tsx
  resources/assets/lib/utils/beatmap-helper.ts
Labels: area:beatmap-discussions

#8730 Fix click to copy component behaviour
  resources/assets/lib/components/click-to-copy.tsx
Labels: javascript, type:reliability

#8738 Try converting input mod data to array
  app/Models/Solo/ScoreData.php
  tests/Controllers/Solo/ScoresControllerTest.php
Labels: area:scoring

#8739 Add support for strict tracking mod
  app/Libraries/Multiplayer/Mod.php
Labels: area:multiplayer

#8731 Clean up ScoreTransformer
  app/Transformers/Score/CurrentUserAttributesTransformer.php
  app/Transformers/ScoreTransformer.php
Labels: php, area:scoring

#8745 Fix wiki infobox stacking
  resources/assets/less/bem/osu-md.less
Labels: area:wiki

#8746 Fix beatmap owner editor component unmount
  resources/assets/lib/beatmap-discussions/beatmap-owner-editor.tsx
Labels: area:beatmap-discussions, type:code-quality

#8740 Add support for multiplayer auto countdown timers
  app/Models/Multiplayer/Room.php
  database/migrations/2022_03_18_125356_add_auto_start_duration_to_multiplayer_rooms.php
Labels: area:multiplayer

#8749 Fix user friends mobx being accessed outside reactive context
  resources/assets/lib/components/friend-button.tsx
Labels: javascript, type:reliability

#8758 Fix null return for replay field in scores
  app/Transformers/ScoreTransformer.php
Labels: area:user-profile, type:api

#8752 Remove unused User.load() feature
  resources/assets/lib/chat/chat-api.ts
  resources/assets/lib/entrypoints/chat.tsx
  resources/assets/lib/models/user.ts
  resources/assets/lib/osu-core.ts
  resources/assets/lib/stores/root-data-store.ts
  resources/assets/lib/stores/user-store.ts
  tests/karma/osu-core.spec.ts
Labels: type:code-quality

#8729 Adjust stored score data fields
  app/Models/Multiplayer/Score.php
  app/Models/Solo/ScoreData.php
  app/Models/Solo/ScoreDataStatistics.php
  tests/Models/Solo/ScoreTest.php
Labels: type:database, area:scoring

#8754 Use correct id attribute for wiki table of content
  app/Libraries/Markdown/Osu/Extension.php
  tests/Libraries/Markdown/ProcessorTest.php
Labels: area:wiki

#8753 Unpin comment on delete
  app/Models/Comment.php
  tests/Models/CommentTest.php
Labels: area:comments
