Repository ppy/osu-web, pull requests merged in 2022-06, with the labels that each got.

#8973 Convert beatmap listing sorter to typescript
  resources/assets/lib/beatmaps/search-sort.coffee
  resources/assets/lib/beatmaps/search-sort.tsx
Labels: area:beatmap-listing, type:code-quality

#8974 Convert beatmap listing paginator to typescript
  resources/assets/lib/beatmaps/paginator.coffee
  resources/assets/lib/beatmaps/paginator.tsx
  resources/assets/lib/beatmaps/search-content.coffee
Labels: area:beatmap-listing, type:code-quality

#8981 Add missing score statistics
  app/Models/Solo/ScoreDataStatistics.php
  resources/assets/lib/interfaces/solo-score-json.ts
Labels: area:scoring

#8982 Use a different twemoji package
  package.json
  webpack.unmix.js
  yarn.lock
Labels: area:tooling, type:reliability

#8988 Fix announcement typo
  resources/assets/lib/chat/chat-api.ts
  resources/assets/lib/chat/chat-state-store.ts
  resources/assets/lib/chat/conversation-list-item.tsx
  resources/assets/lib/chat/create-announcement.tsx
  resources/assets/lib/models/chat/create-announcement.ts
  resources/lang/en/chat.php
  tests/Controllers/Chat/ChannelsControllerTest.php
  tests/Libraries/ChatTest.php
Labels: type:code-quality

#8894 Typescript beatmap main component
  app/Http/Controllers/BeatmapsController.php
  resources/assets/lib/beatmapsets-show/beatmap-picker.tsx
  resources/assets/lib/beatmapsets-show/beatmap-selection.tsx
  resources/assets/lib/beatmapsets-show/controller.ts
  resources/assets/lib/beatmapsets-show/header.tsx
  resources/assets/lib/beatmapsets-show/hype.tsx
  resources/assets/lib/beatmapsets-show/info.tsx
  resources/assets/lib/beatmapsets-show/main.coffee
  resources/assets/lib/beatmapsets-show/main.tsx
  resources/assets/lib/beatmapsets-show/metadata-editor.tsx
  resources/assets/lib/beatmapsets-show/scoreboard-tab.tsx
  resources/assets/lib/beatmapsets-show/scoreboard/controller.ts
  resources/assets/lib/beatmapsets-show/scoreboard/main.tsx
  resources/assets/lib/beatmapsets-show/scoreboard/mod.tsx
  resources/assets/lib/beatmapsets-show/scoreboard/scoreboard-type.ts
  resources/assets/lib/beatmapsets-show/scoreboard/tab.tsx
  resources/assets/lib/beatmapsets-show/scoreboard/table-row.tsx
  resources/assets/lib/beatmapsets-show/scoreboard/table.tsx
  resources/assets/lib/beatmapsets-show/scoreboard/top-card.tsx
  resources/assets/lib/beatmapsets-show/stats.tsx
  resources/assets/lib/coffee-modules.d.ts
  resources/assets/lib/components/beatmap-basic-stats.tsx
  resources/assets/lib/entrypoints/beatmapset-page.coffee
  resources/assets/lib/entrypoints/beatmapsets-show.tsx
  resources/assets/lib/interfaces/game-mode.ts
  resources/assets/lib/utils/beatmapset-helper.ts
  resources/assets/lib/utils/beatmapset-page-hash.ts
  resources/views/beatmapsets/show.blade.php
Labels: area:beatmap-info

#8991 Render create announcement button even list is empty
  resources/assets/lib/chat/conversation-list.tsx
Labels: area:chat

#8948 Add score page for solo scores
  app/Http/Controllers/ScoresController.php
  app/Libraries/MorphMap.php
  app/Models/Solo/Score.php
  app/Transformers/ScoreTransformer.php
  resources/assets/lib/beatmapsets-show/scoreboard/table-row.tsx
  resources/assets/lib/beatmapsets-show/scoreboard/top-card.tsx
  resources/assets/lib/components/play-detail-menu.tsx
  resources/assets/lib/interfaces/solo-score-json.ts
  resources/assets/lib/scores/pp-value.tsx
  resources/assets/lib/utils/score-helper.ts
  routes/web.php
  tests/Controllers/ScoresControllerTest.php
Labels: area:user-profile

#8989 Include per ruleset statistics for own profile endpoint
  app/Http/Controllers/UsersController.php
Labels: type:api

#9005 Fix error on changing mod on score listing while loading
  resources/assets/lib/beatmapsets-show/scoreboard/controller.ts
Labels: area:beatmap-info

#8959 Reduce queries for profile page beatmapset counts
  app/Libraries/User/ProfileBeatmapset.php
  app/Models/User.php
  app/Transformers/UserCompactTransformer.php
Labels: area:user-profile, type:performance

#8997 Allow disabling comment on specific item
  app/Http/Controllers/CommentsController.php
  app/Libraries/CommentBundle.php
  app/Libraries/Commentable.php
  app/Libraries/OsuAuthorize.php
  app/Models/Beatmapset.php
  app/Models/Build.php
  app/Models/NewsPost.php
  app/Transformers/CommentableMetaTransformer.php
  database/migrations/2022_06_08_065812_add_comment_locked_to_beatmapsets.php
  resources/assets/lib/components/comment-editor.coffee
  resources/assets/lib/components/comment.coffee
  resources/assets/lib/components/comments-manager.coffee
  resources/assets/lib/components/comments.coffee
  resources/assets/lib/interfaces/comment-json.ts
Labels: area:comments

#9000 Add form input length limits to Create Announcement UI
  resources/assets/lib/chat/create-announcement.tsx
Labels: area:chat

#9004 Fix announcement notification group link
  resources/assets/lib/models/notification-details.ts
  resources/assets/lib/notification-maps/url.ts
Labels: area:chat

#9013 Fix comments show more pager
  resources/assets/lib/components/comment-show-more.coffee
  resources/assets/lib/components/comments.coffee
Labels: area:comments

#8956 Allow project loved to edit metadata of graveyarded map
  app/Libraries/OsuAuthorize.php
  tests/Controllers/BeatmapsetsControllerTest.php
Labels: area:beatmap-info

#9017 Fix comment load replies
  resources/assets/lib/components/comment-show-more.coffee
Labels: area:comments

#8942 Fix env variable oauth key in test
  DEPLOYMENT.md
  tests/TestCase.php
Labels: type:testing

#8998 Remove beatmap state check for beatmap discussion page
  app/Http/Controllers/Admin/BeatmapsetsController.php
  app/Http/Controllers/BeatmapDiscussionPostsController.php
  app/Http/Controllers/BeatmapDiscussionsController.php
  app/Http/Controllers/BeatmapsetWatchesController.php
  app/Http/Controllers/BeatmapsetsController.php
  app/Models/Beatmapset.php
  app/Transformers/BeatmapsetTransformer.php
  database/factories/BeatmapsetFactory.php
  resources/assets/lib/beatmapsets-show/header-links.ts
  resources/assets/lib/interfaces/beatmapset-extended-json.ts
  resources/lang/en/admin.php
  resources/views/admin/beatmapsets/show.blade.php
  resources/views/docs/_structures/beatmapset.md
  resources/views/docs/info.blade.php
  tests/Controllers/BeatmapDiscussionPostsControllerTest.php
Labels: area:beatmap-discussions

#9023 Use docker for elasticsearch and notification servers for testing
  .github/workflows/tests.yml
  bin/run_dusk.sh
  build.sh
Labels: area:tooling

#8980 Convert beatmapset SearchFilter to typescript
  resources/assets/coffee/_classes/beatmapset-filter.coffee
  resources/assets/lib/beatmaps/available-filters.ts
  resources/assets/lib/beatmaps/beatmapset-search-controller.ts
  resources/assets/lib/beatmaps/search-filter.coffee
  resources/assets/lib/beatmaps/search-filter.tsx
  resources/assets/lib/beatmaps/search-panel.coffee
  resources/assets/lib/beatmaps/search-sort.tsx
  resources/assets/lib/beatmapset-search-filters.ts
  resources/assets/lib/entrypoints/app.ts
  resources/assets/lib/globals.d.ts
  resources/assets/lib/interfaces/beatmapset-filter-class.ts
  tests/karma/beatmapset-search-filters.spec.ts
Labels: area:beatmap-listing, type:code-quality

#8983 Convert Beatmap listing search panel to typescript
  resources/assets/lib/beatmaps/available-filters.ts
  resources/assets/lib/beatmaps/beatmapset-search-controller.ts
  resources/assets/lib/beatmaps/search-panel.coffee
  resources/assets/lib/beatmaps/search-panel.tsx
Labels: area:beatmap-listing, type:code-quality

#9033 Fix input type
  resources/assets/lib/beatmaps/search-panel.tsx
Labels: type:code-quality

#8995 Convert beatmap listing search content to typescript
  resources/assets/lib/beatmaps/beatmapset-search.ts
  resources/assets/lib/beatmaps/main.tsx
  resources/assets/lib/beatmaps/search-content.coffee
  resources/assets/lib/beatmaps/search-content.tsx
  resources/assets/lib/beatmaps/search-panel.tsx
  resources/assets/lib/coffee-modules.d.ts
  resources/assets/lib/react-virtual-list.d.ts
  resources/assets/lib/stores/beatmapset-store.ts
Labels: area:beatmap-listing

#9037 Limit to single pending request when posting discussion
  resources/assets/lib/beatmap-discussions/editor.tsx
  resources/assets/lib/beatmap-discussions/new-discussion.coffee
  resources/assets/lib/beatmap-discussions/new-reply.coffee
Labels: area:beatmap-discussions

#9038 Don't abort and resend request when posting comment
  resources/assets/lib/components/comment-editor.coffee
Labels: area:comments

#9044 Fix incorrect attribute name
  app/Models/Multiplayer/PlaylistItem.php
  tests/Controllers/Multiplayer/RoomsControllerTest.php
Labels: area:multiplayer

#9029 Cache default number formatter
  app/helpers.php
Labels: type:performance

#9048 Reset key parameter on profile path redirect
  app/Libraries/User/FindForProfilePage.php
Labels: area:user-profile

#9061 Create legacy score id mapping table
  database/migrations/2022_06_27_073817_create_solo_scores_legacy_id_map.php
Labels: type:database

#9064 Update typescript to 4.7.4
  .eslintrc.js
  package.json
  resources/assets/lib/beatmap-discussions/editor-toolbar.tsx
  resources/assets/lib/components/beatmapset-panel.tsx
  resources/assets/lib/components/user-card-tooltip.tsx
  resources/assets/lib/core/click-menu.ts
  resources/assets/lib/core/osu-audio/main.ts
  resources/assets/lib/form-errors.ts
  resources/assets/lib/socket-worker.ts
  resources/assets/lib/store.ts
  resources/assets/lib/utils/offset-paginator.ts
  yarn.lock
Labels: type:code-quality

#9058 Remove unused friend status check function
  resources/assets/coffee/osu_common.coffee
Labels: type:code-quality

#9022 Make entire linkable portion of notification a link
  resources/assets/less/bem/notification-action-button.less
  resources/assets/less/bem/notification-popup-item.less
  resources/assets/lib/notification-widget/item.tsx
Labels: type:code-quality, area:notifications

#9065 Convert MessageLengthCounter to typescript
  resources/assets/coffee/_classes/beatmap-discussion-helper.coffee
  resources/assets/lib/beatmap-discussions/message-length-counter.coffee
  resources/assets/lib/beatmap-discussions/message-length-counter.tsx
  resources/assets/lib/beatmap-discussions/new-discussion.coffee
  resources/assets/lib/beatmap-discussions/new-reply.coffee
  resources/assets/lib/beatmap-discussions/post.coffee
  resources/assets/lib/utils/beatmapset-discussion-helper.ts
Labels: area:beatmap-discussions, type:code-quality

#8992 Fix link functionality on chat and notifications icon
  resources/views/layout/_header_mobile.blade.php
  resources/views/layout/_nav2.blade.php
Labels: type:ux
