Repository ppy/osu-web, pull requests merged in 2023-06, with the labels that each got.

#10269 Remove unused currentUser prop from NewReview
  resources/js/beatmap-discussions/new-review.tsx
Labels: type:code-quality

#10265 Add style for table in changelog
  resources/css/bem/changelog-md.less
Labels: area:changelog

#10258 Fix beatmap discussion lock button colour
  resources/js/beatmap-discussions/nominations.tsx
Labels: area:beatmap-discussions

#10282 Ensure db connections are reset
  tests/Controllers/BeatmapsControllerSoloScoresTest.php
  tests/Models/Solo/ScoreEsIndexTest.php
  tests/TestCase.php
Labels: type:reliability

#10262 Add tests for discord username validation
  app/Models/User.php
  tests/Models/UserTest.php
Labels: area:user-profile

#10206 Convert beatmap discussion events component to typescript
  resources/js/beatmap-discussions/events.coffee
  resources/js/beatmap-discussions/events.tsx
Labels: area:beatmap-discussions, type:code-quality

#10272 Convert modding profile discussion events component to typescript
  resources/js/modding-profile/events.coffee
  resources/js/modding-profile/events.tsx
  resources/js/modding-profile/main.coffee
Labels: type:code-quality

#10273 Convert modding profile votes component to typescript
  resources/js/modding-profile/main.coffee
  resources/js/modding-profile/votes.coffee
  resources/js/modding-profile/votes.tsx
Labels: type:code-quality

#10283 Add timeout for curl
  app/Models/Beatmapset.php
  app/helpers.php
Labels: type:reliability

#10287 Set event parsing failure as tag for easier filtering
  app/Models/Event.php
Labels: type:reliability

#10197 Convert beatmap discussions header to typescript
  resources/js/beatmap-discussions/header.coffee
  resources/js/beatmap-discussions/header.tsx
Labels: area:beatmap-discussions, type:code-quality

#10226 Fix error on duplicated friend request
  app/Http/Controllers/FriendsController.php
  resources/js/components/friend-button.tsx
Labels: area:friend-listing, type:reliability

#10292 Adjust display of changelog video
  resources/css/bem/build.less
  resources/js/components/build.coffee
Labels: area:changelog

#10293 Ignore more tags for changelog category
  app/Models/ChangelogEntry.php
Labels: area:changelog

#10278 Convert modding profile posts component to typescript
  resources/js/beatmap-discussions/post.tsx
  resources/js/interfaces/beatmapset-extended-json.ts
  resources/js/interfaces/beatmapset-json.ts
  resources/js/modding-profile/posts.coffee
  resources/js/modding-profile/posts.tsx
  resources/js/utils/beatmapset-helper.ts
Labels: type:code-quality

#10298 Disable xdebug coverage in GitHub Action
  .github/workflows/tests.yml
Labels: area:tooling

#10297 Always show timestamp in discussion page timeline
  resources/css/bem/beatmap-discussion-timestamp.less
  resources/css/bem/page-extra-tabs.less
  resources/css/layout.less
Labels: area:beatmap-discussions

#10296 Add link to gift supporter tag from user card
  resources/js/components/user-card.tsx
  resources/js/core-legacy/store-supporter-tag.coffee
  resources/js/profile-page/extra-menu.tsx
  resources/js/utils/url.ts
  resources/lang/en/users.php
  resources/views/store/products/supporter-tag.blade.php
Labels: area:user-profile

#10295 Fix error when searching for favourited beatmaps as guest
  app/Libraries/Search/BeatmapsetSearch.php
Labels: area:beatmap-listing

#10222 Add events listing API endpoint
  app/Http/Controllers/EventsController.php
  app/Models/Event.php
  routes/web.php
  tests/api_routes.json
Labels: type:api

#10305 Include channel message length limit data
  app/Models/Chat/Channel.php
  app/Transformers/Chat/ChannelTransformer.php
  resources/js/chat/input-box.tsx
  resources/js/interfaces/chat/channel-json.ts
  resources/js/models/chat/channel.ts
  resources/js/models/chat/create-announcement.ts
  resources/js/models/chat/message.ts
Labels: type:api, area:chat

#10307 Fix navigation incorrectly triggered when dialog is visible
  resources/js/core-legacy/forum.coffee
  resources/js/utils/blackout.ts
Labels: area:forum

#10271 👷 Enable multiple production tracks
  .github/workflows/pack.yml
Labels: area:tooling

#10289 Add box shadow to medal tooltip
  resources/css/bem/qtip.less
Labels: area:user-profile, type:ux

#10286 Show spinner when marking all types read
  resources/js/notification-widget/main.tsx
  resources/js/notifications-index/main.tsx
  resources/js/notifications/notification-controller.ts
Labels: area:notifications

#10303 Enforce numeric id lookup and support @-prefixed username lookup
  app/Libraries/BBCodeFromDB.php
  app/Models/User.php
  tests/Controllers/UsersControllerTest.php
  tests/Libraries/bbcode_examples/basic_profile.html
  tests/Libraries/bbcode_examples/tag_inside_profile.html
Labels: area:user-profile

#10306 Include guest maps when searching own maps
  app/Libraries/Search/BeatmapsetSearch.php
  app/Models/User.php
Labels: area:beatmap-listing

#10314 Improve `SETUP.md` in a few ways
  .env.example
  SETUP.md
  config/osu.php
  docker-compose.yml
Labels: type:documentation

#10323 Only stick beatmap discussion timestamp on the discussion page
  resources/css/bem/beatmap-discussion-timestamp.less
  resources/js/beatmap-discussions/discussion.tsx
Labels: area:beatmap-discussions
