Repository ppy/osu-web, pull requests merged in 2024-06, with the labels that each got.

#11245 Fix handling invalid ruleset name
  app/Http/Controllers/BeatmapsController.php
Labels: type:api

#11248 Exclude deleted beatmap difficulties from nomination options
  resources/js/beatmap-discussions/discussions-state.ts
  resources/js/beatmap-discussions/nominations.tsx
  resources/js/beatmap-discussions/nominator.tsx
Labels: area:beatmap-discussions

#11247 Remove icon for no rank change
  resources/css/bem/ranking-page-table.less
Labels: area:rankings

#11251 Exclude deleted beatmap difficulties from nomination required count display
  resources/js/beatmap-discussions/discussions-state.ts
Labels: area:beatmap-discussions

#11116 Use table-based user cover presets
  app/Http/Controllers/UsersController.php
  app/Libraries/User/Cover.php
  app/Models/User.php
  app/Models/UserCoverPreset.php
  app/Providers/AppServiceProvider.php
  app/Singletons/UserCoverPresets.php
  app/Transformers/UserCompactTransformer.php
  app/Transformers/UserCoverPresetTransformer.php
  public/images/headers/profile-covers/c1.jpg
  public/images/headers/profile-covers/c1t.jpg
  public/images/headers/profile-covers/c2.jpg
  public/images/headers/profile-covers/c2t.jpg
  public/images/headers/profile-covers/c3.jpg
  public/images/headers/profile-covers/c3t.jpg
  public/images/headers/profile-covers/c4.jpg
  public/images/headers/profile-covers/c4t.jpg
  public/images/headers/profile-covers/c5.jpg
  public/images/headers/profile-covers/c5t.jpg
  public/images/headers/profile-covers/c6.jpg
  public/images/headers/profile-covers/c6t.jpg
  public/images/headers/profile-covers/c7.jpg
  public/images/headers/profile-covers/c7t.jpg
  public/images/headers/profile-covers/c8.jpg
  public/images/headers/profile-covers/c8t.jpg
  resources/js/entrypoints/user-cover-presets.ts
  resources/js/interfaces/user-cover-preset-json.ts
  resources/js/profile-page/controller.tsx
  resources/js/profile-page/cover-selection.tsx
  resources/js/profile-page/cover-selector.tsx
  resources/js/profile-page/cover-uploader.tsx
  resources/lang/en/users.php
  tests/Libraries/UserRegistrationTest.php
Labels: area:user-profile

#11253 Fix variable name for profile page avatar css
  resources/css/bem/profile-info.less
Labels: type:code-quality

#11254 Rename GameMode to Ruleset
  resources/js/beatmap-discussions/current-discussions.ts
  resources/js/beatmap-discussions/discussions-state.ts
  resources/js/beatmap-discussions/header.tsx
  resources/js/beatmap-discussions/love-beatmap-dialog.tsx
  resources/js/beatmap-discussions/nominations.tsx
  resources/js/beatmap-discussions/nominator.tsx
  resources/js/beatmapset-panel/beatmaps-popup.tsx
  resources/js/beatmapset-panel/index.tsx
  resources/js/beatmapsets-show/main.tsx
  resources/js/components/playmode-tabs.tsx
  resources/js/components/ranking-variant-filter.tsx
  resources/js/components/user-link.tsx
  resources/js/components/user-list.tsx
  resources/js/interfaces/achievement-json.ts
  resources/js/interfaces/beatmap-json.ts
  resources/js/interfaces/beatmapset-event-json.ts
  resources/js/interfaces/beatmapset-extended-json.ts
  resources/js/interfaces/beatmapset-json.ts
  resources/js/interfaces/beatmapset-nomination-json.ts
  resources/js/interfaces/event-json.ts
  resources/js/interfaces/game-mode.ts
  resources/js/interfaces/rank-history-json.ts
  resources/js/interfaces/ruleset.ts
  resources/js/interfaces/score-json.ts
  resources/js/interfaces/solo-score-json.ts
  resources/js/interfaces/user-extended-json.ts
  resources/js/interfaces/user-group-event-json.ts
  resources/js/interfaces/user-group-json.ts
  resources/js/interfaces/user-statistics-json.ts
  resources/js/interfaces/user-statistics-rulesets-json.ts
  resources/js/profile-page/beatmap-playcount.tsx
  resources/js/profile-page/controller.tsx
  resources/js/profile-page/cover.tsx
  resources/js/profile-page/extra-page.ts
  resources/js/profile-page/game-mode-switcher.tsx
  resources/js/scores-show/dial.tsx
  resources/js/utils/beatmap-helper.ts
  resources/js/utils/beatmapset-discussion-helper.ts
  resources/js/utils/beatmapset-page-hash.ts
  resources/js/utils/score-helper.ts
  resources/js/utils/url.ts
  tests/karma/utils/beatmapset-discussion-helper.spec.ts
Labels: type:code-quality

#11255 Remove support for Centili payments
  .env.example
  app/Http/Controllers/Payments/CentiliController.php
  app/Http/Middleware/VerifyCsrfToken.php
  app/Libraries/OrderCheckout.php
  app/Libraries/Payments/CentiliPaymentProcessor.php
  app/Libraries/Payments/CentiliSignature.php
  app/Models/Store/Order.php
  config/payments.php
  public/images/store/ycoins.png
  resources/css/bem/store-payment-button.less
  resources/js/core-legacy/store-checkout.coffee
  resources/views/store/checkout/_centili.blade.php
  routes/web.php
  tests/Controllers/Payments/CentiliControllerTest.php
  tests/Libraries/Payments/CentiliPaymentProcessorTest.php
  tests/Libraries/Payments/CentiliSignatureTest.php
Labels: area:store

#11256 Add bem index file generator
  bin/make_bem_index.sh
  resources/css/bem-index.less
Labels: area:tooling

#11262 Report chat message for user card on chat page
  resources/js/chat/message-group.tsx
  resources/js/components/report-form.tsx
  resources/js/components/report-reportable.tsx
  resources/js/components/user-card-tooltip.tsx
  resources/js/components/user-card.tsx
  resources/js/components/user-link.tsx
  resources/js/interfaces/reportable.ts
  resources/lang/en/report.php
Labels: area:chat

#11270 Change score pin model to use score id for primary key
  app/Http/Controllers/ScorePinsController.php
  app/Models/ScorePin.php
  app/Singletons/UserScorePins.php
  database/factories/ScorePinFactory.php
  database/migrations/2024_06_14_093636_unique_score_pins_score_id.php
Labels: area:user-profile, type:code-quality

#11272 Adjust profile cover selector
  resources/css/bem/profile-cover-change-popup.less
  resources/css/bem/profile-cover-selection.less
  resources/js/profile-page/cover-selection.tsx
  resources/js/profile-page/cover-selector.tsx
  resources/js/profile-page/cover-uploader.tsx
Labels: area:user-profile

#11261 Allow reporting same object after some period
  app/Models/Traits/Reportable.php
  app/Models/UserReport.php
  database/migrations/2024_06_11_063126_drop_unique_user_reports.php
  resources/lang/en/errors.php
  tests/Models/UserReportTest.php
Labels: area:admin

#11276 Update PHPCS
  app/Libraries/Elasticsearch/Search.php
  app/Libraries/Markdown/Indexing/Renderers/BlockRenderer.php
  app/Libraries/Markdown/Indexing/Renderers/InlineRenderer.php
  app/Libraries/Markdown/Indexing/Renderers/ListBlockRenderer.php
  app/Libraries/Markdown/Indexing/Renderers/ListItemRenderer.php
  app/Libraries/Markdown/Indexing/Renderers/NewlineRenderer.php
  app/Libraries/Markdown/Indexing/Renderers/TableRenderer.php
  app/Libraries/Search/BeatmapsetSearch.php
  app/Singletons/OsuAuthorize.php
  composer.json
  composer.lock
  phpcs.xml
Labels: type:code-quality

#11282 Clean up countries without ranked scores
  app/Console/Commands/RankingsRecalculateCountryStats.php
  app/Models/CountryStatistics.php
Labels: type:code-quality

#11269 Use weighted performance for country leaderboards
  .env.example
  app/Models/CountryStatistics.php
  config/osu.php
Labels: area:rankings

#11286 Add tooltip on Beatmap discussions page for per-ruleset unresolved issue count
  resources/js/beatmap-discussions/header.tsx
  resources/js/components/playmode-tabs.tsx
  resources/lang/en/beatmaps.php
Labels: area:beatmap-discussions, type:cosmetic

#11275 Add option to display scores with classic scoring
  app/Http/Controllers/AccountController.php
  app/Libraries/Score/ScoringMode.php
  app/Models/Solo/Score.php
  app/Models/UserProfileCustomization.php
  app/Transformers/ScoreTransformer.php
  app/Transformers/UserCompactTransformer.php
  resources/css/bem/simple-menu.less
  resources/js/beatmapsets-show/scoreboard/table-row.tsx
  resources/js/beatmapsets-show/scoreboard/top-card.tsx
  resources/js/components/score-value.tsx
  resources/js/components/scoring-mode-toggle.tsx
  resources/js/interfaces/solo-score-json.ts
  resources/js/interfaces/user-preferences-json.ts
  resources/js/register-components.tsx
  resources/js/scores-show/main.tsx
  resources/js/scores-show/player.tsx
  resources/js/scores/pp-value.tsx
  resources/js/utils/score-helper.ts
  resources/lang/en/layout.php
  resources/views/docs/_structures/score.md
  resources/views/layout/_score_mode_toggle.blade.php
  tests/Libraries/Score/ScoringModeTest.php
Labels: area:scoring

#11287 Remove content_html from Message
  app/Transformers/Chat/MessageTransformer.php
  app/helpers.php
  resources/views/docs/_structures/chat_message.md
  tests/Libraries/Markdown/ChatMarkdownTest.php
  tests/Libraries/Markdown/chat_markdown_examples/code.html
  tests/Libraries/Markdown/chat_markdown_examples/code.md
  tests/Libraries/Markdown/chat_markdown_examples/code_inline.html
  tests/Libraries/Markdown/chat_markdown_examples/code_inline.md
  tests/Libraries/Markdown/chat_markdown_examples/font_style.html
  tests/Libraries/Markdown/chat_markdown_examples/font_style.md
  tests/Libraries/Markdown/chat_markdown_examples/header.html
  tests/Libraries/Markdown/chat_markdown_examples/header.md
  tests/Libraries/Markdown/chat_markdown_examples/html.html
  tests/Libraries/Markdown/chat_markdown_examples/html.md
  tests/Libraries/Markdown/chat_markdown_examples/link.html
  tests/Libraries/Markdown/chat_markdown_examples/link.md
  tests/Libraries/Markdown/chat_markdown_examples/list_ordered.html
  tests/Libraries/Markdown/chat_markdown_examples/list_ordered.md
  tests/Libraries/Markdown/chat_markdown_examples/list_unordered.html
  tests/Libraries/Markdown/chat_markdown_examples/list_unordered.md
  tests/Libraries/Markdown/chat_markdown_examples/table.html
  tests/Libraries/Markdown/chat_markdown_examples/table.md
Labels: type:code-quality, area:chat

#11292 Remove warning to download beatmap packs from latest to earliest
  resources/css/bem/beatmap-packs-header.less
  resources/lang/en/beatmappacks.php
  resources/views/packs/_header.blade.php
Labels: type:cosmetic, area:beatmap-packs

#11294 Set default discussion filter according to ranked state of Beatmap
  resources/js/beatmap-discussions/discussions-state.ts
  resources/js/beatmap-discussions/main.tsx
  resources/js/utils/beatmapset-discussion-helper.ts
Labels: area:beatmap-discussions

#11268 Fix saving status alignment on account settings page
  resources/css/bem/account-edit-entry.less
  resources/css/bem/account-edit-status.less
  resources/views/accounts/_edit_entry_status.blade.php
  resources/views/accounts/_edit_notifications.blade.php
  resources/views/accounts/_edit_options.blade.php
  resources/views/accounts/_edit_playstyles.blade.php
  resources/views/accounts/_edit_privacy.blade.php
Labels: area:settings, type:cosmetic

#11299 Validate score id before looking up
  app/Http/Controllers/ScoresController.php
  resources/lang/en/errors.php
Labels: area:scoring

#11301 Remove average performance column on country rankings page
  resources/views/rankings/country.blade.php
Labels: area:rankings

#11303 Change default filter for unranked Beatmaps to all
  resources/js/beatmap-discussions/discussions-state.ts
Labels: area:beatmap-discussions

#11300 Allow ctrl+enter to resolve beatmap discussion when replying
  resources/js/beatmap-discussions/new-reply.tsx
  resources/lang/en/beatmaps.php
Labels: area:beatmap-discussions

#11305 Remove user rank cache lookup
  .env.example
  app/Http/Controllers/ScoresController.php
  app/Libraries/Score/UserRankCache.php
  app/Models/BeatmapModeStats.php
  app/Models/Score/Best/Model.php
  config/osu.php
  routes/web.php
  tests/Models/ModelCompositePrimaryKeysTest.php
Labels: type:code-quality

#11306 Fix url history when navigating Beatmap discussions
  resources/js/beatmap-discussions/discussions-state.ts
  resources/js/beatmap-discussions/main.tsx
Labels: area:beatmap-discussions
