Repository ppy/osu-web, pull requests merged in 2024-12, with the labels that each got.

#11699 Remove unused less variables
  resources/css/bem/account-edit.less
  resources/css/bem/admin-contest.less
  resources/css/bem/beatmap-discussion-new-float.less
  resources/css/bem/block-list-item.less
  resources/css/bem/chat-conversation.less
  resources/css/bem/chat-message-group.less
  resources/css/bem/contest-voting-list.less
  resources/css/bem/gallery-previews.less
  resources/css/bem/password-reset.less
  resources/css/bem/supporter-perk-list.less
  resources/css/bem/supporter-status.less
  resources/css/bem/tooltip-default.less
Labels: type:code-quality

#11708 Remove min-width requirement of bbcode container
  app/Libraries/BBCodeFromDB.php
  app/Singletons/CleanHTML.php
  resources/css/bbcode.less
  resources/css/bem-index.less
  resources/css/bem/forum-poll-option.less
  resources/css/bem/proportional-container.less
  tests/Libraries/bbcode_examples/basic_img.html
Labels: type:code-quality

#11710 Fix beatmapset preload on room
  app/Http/Controllers/Multiplayer/RoomsController.php
Labels: type:performance

#11694 Update total score check
  app/Models/Solo/Score.php
Labels: area:scoring

#11712 Limit room name length to match database
  app/Models/Multiplayer/Room.php
  resources/lang/en/multiplayer.php
Labels: area:multiplayer

#11709 Replace compound primary key on `beatmapset_version_files` with synthetic one
  database/migrations/2024_12_03_102822_add_synthetic_pk_to_beatmapset_version_files.php
Labels: area:beatmap-processing

#11377 Support multiple mappers on beatmap difficulties
  .env.example
  app/Console/Commands/BeatmapsMigrateOwners.php
  app/Http/Controllers/BeatmapsController.php
  app/Http/Controllers/BeatmapsetsController.php
  app/Http/Controllers/ScoresController.php
  app/Libraries/Beatmapset/ChangeBeatmapOwners.php
  app/Models/Beatmap.php
  app/Models/BeatmapDiscussion.php
  app/Models/BeatmapOwner.php
  app/Models/Beatmapset.php
  app/Models/Traits/Es/BeatmapsetSearch.php
  app/Models/User.php
  app/Singletons/OsuAuthorize.php
  app/Transformers/BeatmapCompactTransformer.php
  app/Transformers/BeatmapsetCompactTransformer.php
  config/osu.php
  database/factories/BeatmapFactory.php
  database/factories/BeatmapOwnerFactory.php
  database/factories/UserFactory.php
  database/migrations/2024_07_02_000001_create_beatmap_owners.php
  resources/css/bem-index.less
  resources/css/bem/beatmap-owner-editor-owners.less
  resources/css/bem/beatmap-owner-editor.less
  resources/css/bem/beatmap-owner.less
  resources/css/bem/beatmaps-owner-editor.less
  resources/css/bem/input-container.less
  resources/css/bem/username-input.less
  resources/js/beatmap-discussions/beatmap-list.tsx
  resources/js/beatmap-discussions/beatmap-owner-editor.tsx
  resources/js/beatmap-discussions/beatmap-owner.tsx
  resources/js/beatmap-discussions/beatmaps-owner-editor.tsx
  resources/js/beatmap-discussions/discussions-state.ts
  resources/js/beatmap-discussions/editor-beatmap-selector.tsx
  resources/js/beatmap-discussions/header.tsx
  resources/js/beatmap-discussions/new-discussion.tsx
  resources/js/beatmap-discussions/nominator.tsx
  resources/js/beatmap-discussions/user-link-list.tsx
  resources/js/beatmapset-panel/beatmaps-popup.tsx
  resources/js/beatmapsets-show/controller.ts
  resources/js/beatmapsets-show/header.tsx
  resources/js/components/beatmap-list-item.tsx
  resources/js/components/beatmapset-event.tsx
  resources/js/components/username-input.tsx
  resources/js/interfaces/beatmap-json.ts
  resources/js/interfaces/beatmap-owner-json.ts
  resources/js/interfaces/beatmapset-event-json.ts
  resources/js/interfaces/beatmapset-extended-json.ts
  resources/js/interfaces/beatmapset-with-discussions-json.ts
  resources/js/interfaces/solo-score-json.ts
  resources/js/interfaces/user-json.ts
  resources/js/interfaces/with-beatmap-owners.ts
  resources/js/scores-show/beatmap-info.tsx
  resources/js/utils/beatmap-helper.ts
  resources/js/utils/beatmapset-discussion-helper.ts
  resources/lang/en/beatmaps.php
  routes/web.php
  tests/Controllers/BeatmapsControllerTest.php
  tests/Libraries/Beatmapset/ChangeBeatmapOwnersTest.php
  tests/Models/BeatmapsetTest.php
Labels: area:beatmap-discussions, area:beatmap-info

#11713 Fix parameter for date formatter
  app/helpers.php
  resources/views/teams/show.blade.php
Labels: type:reliability

#11705 Add api endpoint to list latest scores
  .env.example
  app/Http/Controllers/ScoresController.php
  app/Models/Solo/Score.php
  app/Transformers/ScoreTransformer.php
  config/osu.php
  routes/web.php
  tests/api_routes.json
Labels: type:api

#11717 Update to latest less css
  package.json
  resources/css/bem/circular-progress.less
  resources/css/bem/loading-overlay.less
  resources/css/bem/page-contents.less
  resources/css/bem/profile-hue-selector.less
  resources/css/bem/store-slider.less
  resources/css/bem/supporter-icon.less
  resources/css/bem/user-action-button.less
  resources/css/jquery-ui/slider.less
  yarn.lock
Labels: type:code-quality

#11720 Support displaying longer guest mapper lists in Beatmap Discussions
  resources/css/bem/beatmap-basic-stats.less
  resources/css/bem/beatmap-discussions-header-top.less
  resources/css/bem/beatmap-list.less
  resources/css/bem/beatmapset-discussions-chart.less
  resources/js/beatmap-discussions/header.tsx
Labels: area:beatmap-discussions, type:cosmetic

#11727 Better wording for score listing api docs
  app/Http/Controllers/ScoresController.php
Labels: type:documentation

#11722 Fix handling of team leader
  app/Models/Team.php
  resources/views/teams/show.blade.php
Labels: type:reliability

#11714 Adjust flag size on leaderboard top card
  resources/css/bem/beatmap-score-top.less
  resources/css/bem/flag-country.less
  resources/css/bem/forum-post-info.less
  resources/css/variables.less
  resources/js/beatmapsets-show/scoreboard/top-card.tsx
  resources/views/forum/topics/_post_info.blade.php
Labels: type:cosmetic

#11730 Fix flag size on team page
  resources/css/bem/profile-info.less
Labels: type:cosmetic

#11733 Fix switching locale doesn't set js locale correctly
  resources/views/layout/metadata.blade.php
Labels: type:localisation

#11728 Exclude restricted user scores from score listing
  app/Models/Solo/Score.php
Labels: type:api

#11732 Use relative sizing for icons and flags on profile page cover
  resources/css/bem/profile-info.less
  resources/js/profile-page/cover.tsx
Labels: type:code-quality

#11737 Notify all owners on beatmap owner change
  app/Jobs/Notifications/BeatmapOwnerChange.php
Labels: area:beatmap-discussions

#11738 Add capability to filter by room status
  app/Models/Multiplayer/Room.php
Labels: area:multiplayer

#11739 Remove unused helper
  app/helpers.php
Labels: type:code-quality

#11721 Show team flag on user display
  app/Http/Controllers/BeatmapsController.php
  app/Http/Controllers/Forum/TopicsController.php
  app/Http/Controllers/RankingController.php
  app/Http/Controllers/UsersController.php
  app/Models/DeletedUser.php
  app/Models/Multiplayer/Room.php
  app/Models/Spotlight.php
  app/Models/User.php
  app/Transformers/CurrentUserTransformer.php
  app/Transformers/TeamTransformer.php
  app/Transformers/UserCompactTransformer.php
  resources/css/bem-index.less
  resources/css/bem/beatmap-scoreboard-table.less
  resources/css/bem/flag-team.less
  resources/css/bem/profile-info.less
  resources/css/bem/ranking-page-table.less
  resources/js/beatmapsets-show/scoreboard/table-row.tsx
  resources/js/beatmapsets-show/scoreboard/top-card.tsx
  resources/js/components/flag-team.tsx
  resources/js/components/user-card.tsx
  resources/js/interfaces/team-json.ts
  resources/js/interfaces/user-json.ts
  resources/js/profile-page/cover.tsx
  resources/views/forum/topics/_post_info.blade.php
  resources/views/multiplayer/rooms/_rankings_table.blade.php
  resources/views/objects/_flag_team.blade.php
  resources/views/rankings/_spotlight_rankings_table.blade.php
  resources/views/rankings/kudosu.blade.php
  resources/views/rankings/performance.blade.php
  resources/views/rankings/score.blade.php
  resources/views/teams/show.blade.php
Labels: area:user-profile

#11729 Add link to own team from user popup menu
  resources/lang/en/layout.php
  resources/views/layout/_popup_user.blade.php
Labels: area:user-profile

#11746 Fix contest admin download
  resources/views/admin/contests/show.blade.php
Labels: area:admin

#11642 Typescript BBCode auto preview class
  resources/js/core-legacy/post-preview.coffee
  resources/js/core/bbcode-auto-preview.ts
  resources/js/forum/post-box.coffee
  resources/js/main.coffee
  resources/js/osu-core.ts
Labels: type:code-quality

#11747 Fix profile page reorder not working without full reload
  resources/js/profile-page/main.tsx
Labels: area:user-profile

#11748 Use casting class for forum timestamps
  app/Casts/TimestampOrZero.php
  app/Jobs/Notifications/BroadcastNotificationBase.php
  app/Models/Forum/Forum.php
  app/Models/Forum/Post.php
  app/Models/Forum/Topic.php
  app/helpers.php
Labels: area:forum, type:code-quality

#11743 Require multiplayer api to join multiplayer room
  app/Singletons/OsuAuthorize.php
  tests/Controllers/Chat/ChannelsControllerTest.php
Labels: area:multiplayer

#11756 Explicit typescript types and rename webpack define const
  resources/js/globals.d.ts
  resources/js/legacy-api-key/form.tsx
  resources/js/oauth/new-client.tsx
  tsconfig.json
  webpack.config.js
Labels: type:code-quality

#11741 Add submission-relevant events to database via LIO endpoints
  app/Http/Controllers/InterOp/BeatmapsetsController.php
  app/Models/Event.php
  routes/web.php
Labels: area:beatmap-processing
