Repository ppy/osu-web, pull requests merged in 2025-02, with the labels that each got.

#11832 Update echeck status when rejected by Paypal
  app/Libraries/Payments/PaymentProcessor.php
  app/Libraries/Payments/PaypalPaymentProcessor.php
  app/Models/Store/Order.php
  resources/lang/en/store.php
  resources/views/store/orders/_status.blade.php
Labels: area:store

#11833 Create beatmap descriptions forum in forum seeder
  database/seeders/ModelSeeders/ForumSeeder.php
Labels: area:forum, type:testing

#11428 Add platform issue tags
  app/Http/Controllers/Forum/TopicsController.php
  app/Models/Forum/Topic.php
  app/helpers.php
  resources/css/bem/forum-issue-icon.less
  resources/lang/en/forum.php
  resources/views/forum/forums/_topic.blade.php
  resources/views/forum/topics/_issue_tag.blade.php
  resources/views/forum/topics/_issue_tag_osulazer.blade.php
  resources/views/forum/topics/_issue_tag_osustable.blade.php
  resources/views/forum/topics/_issue_tag_osuweb.blade.php
  resources/views/forum/topics/_nav.blade.php
Labels: area:forum

#11836 Better position of user rank tooltip
  resources/js/core-legacy/tooltip-default.coffee
  resources/js/profile-page/rank.tsx
Labels: area:user-profile, type:cosmetic

#11841 Reject submission of score 0
  app/Models/Solo/Score.php
  tests/Models/DailyChallengeUserStatsTest.php
Labels: area:scoring

#11810 Add ability to join team
  app/Http/Controllers/Teams/ApplicationsController.php
  app/Jobs/Notifications/TeamApplicationAccept.php
  app/Jobs/Notifications/TeamApplicationBase.php
  app/Jobs/Notifications/TeamApplicationReject.php
  app/Libraries/MorphMap.php
  app/Models/Notification.php
  app/Models/Team.php
  app/Models/TeamApplication.php
  app/Models/User.php
  app/Singletons/OsuAuthorize.php
  database/factories/TeamMemberFactory.php
  database/migrations/2025_01_15_000001_create_team_applications.php
  resources/css/bem/btn-circle.less
  resources/css/bem/team-action-button.less
  resources/js/models/notification-type.ts
  resources/js/notification-maps/category.ts
  resources/js/notification-maps/icons.ts
  resources/js/notification-maps/url.ts
  resources/lang/en/authorization.php
  resources/lang/en/notifications.php
  resources/lang/en/teams.php
  resources/views/layout/_popup_user.blade.php
  resources/views/teams/members/index.blade.php
  resources/views/teams/show.blade.php
  routes/web.php
  tests/Controllers/Teams/ApplicationsControllerTest.php
Labels: area:team

#11843 Add missing attribute quote
  resources/views/layout/_page_header_v4.blade.php
Labels: type:cosmetic

#11850 Fix store supporter tag slider not working
  resources/js/store/store-supporter-tag.tsx
Labels: area:store

#11840 Sort mods by type and acronym
  .eslintrc.js
  resources/js/cli/mod-names-generator.js
  resources/js/components/mod.tsx
  resources/js/interfaces/mod-json.ts
  resources/js/utils/score-helper.ts
Labels: area:beatmap-info

#11848 Allow user mods in multiplayer freestyle
  app/Models/Multiplayer/ScoreLink.php
Labels: area:multiplayer

#11863 Adjust json field name for team flag image url
  app/Transformers/TeamTransformer.php
  resources/js/components/flag-team.tsx
  resources/js/interfaces/team-json.ts
Labels: area:team

#11858 Better menu image padding
  resources/css/bem/menu-images.less
Labels: area:dashboard

#11861 Move menu images selector to be right at the border
  resources/css/bem/menu-images.less
Labels: area:dashboard

#11827 Team member leaderboard
  app/Http/Controllers/TeamsController.php
  app/helpers.php
  resources/css/bem-index.less
  resources/css/bem/team-members-leaderboard-item.less
  resources/css/bem/team-members-leaderboard.less
  resources/lang/en/beatmaps.php
  resources/lang/en/page_title.php
  resources/lang/en/teams.php
  resources/views/teams/_members_leaderboard.blade.php
  resources/views/teams/leaderboard.blade.php
  routes/web.php
Labels: area:team

#11865 Limit contest entry name display length
  resources/css/bem/contest-art-entry.less
  resources/js/contest-voting/art-entry.coffee
Labels: area:contests

#11855 Move team members section to its own page
  resources/css/bem/team-members.less
  resources/css/bem/team-summary.less
  resources/views/teams/show.blade.php
Labels: area:team

#11872 Remove commented out code
  resources/js/profile-page/chart.tsx
Labels: area:user-profile

#11864 Include user team in ranking json
  app/Http/Controllers/RankingController.php
  app/Transformers/UserStatisticsTransformer.php
Labels: type:api, area:rankings

#11873 Show more stuff on team info section
  resources/css/bem/team-info-entry.less
  resources/lang/en/model_validation.php
  resources/lang/en/teams.php
  resources/views/teams/edit.blade.php
  resources/views/teams/show.blade.php
Labels: area:team

#11876 Allow admin to view all scores
  app/Http/Controllers/ScoresController.php
Labels: area:admin

#11877 Fix attribute value check
  resources/views/teams/edit.blade.php
  resources/views/teams/show.blade.php
Labels: area:team

#11835 Add team creation page
  .env.example
  app/Http/Controllers/TeamsController.php
  app/Libraries/UsernameValidation.php
  app/Models/Team.php
  app/Singletons/ChatFilters.php
  app/Singletons/OsuAuthorize.php
  config/osu.php
  database/factories/TeamFactory.php
  resources/css/bem/team-settings.less
  resources/lang/en/authorization.php
  resources/lang/en/model_validation.php
  resources/lang/en/page_title.php
  resources/lang/en/teams.php
  resources/views/layout/_popup_user.blade.php
  resources/views/teams/create.blade.php
  routes/web.php
  tests/Controllers/TeamsControllerTest.php
  tests/Models/TeamTest.php
Labels: area:team

#11862 Update team header image size
  app/Models/Team.php
Labels: area:team

#11878 Add team delete interop
  app/Http/Controllers/InterOp/TeamsController.php
  routes/web.php
Labels: area:team

#11885 Rename team logo column to flag
  app/Http/Controllers/TeamsController.php
  app/Jobs/Notifications/TeamApplicationBase.php
  app/Models/Team.php
  app/Transformers/TeamTransformer.php
  database/migrations/2025_02_20_220000_rename_teams_logo_to_flag.php
  resources/lang/en/teams.php
  resources/views/forum/topics/_post_info.blade.php
  resources/views/objects/_flag_team.blade.php
  resources/views/teams/edit.blade.php
Labels: area:team

#11888 Remove mail notification for team join/reject
  app/Jobs/Notifications/TeamApplicationBase.php
Labels: area:team

#11879 Make deleted Beatmapset visible to moderators
  app/Http/Controllers/BeatmapsetsController.php
  resources/js/beatmap-discussions/header.tsx
Labels: area:beatmap-discussions

#11890 Allow separating file processing and uploading
  app/Libraries/Uploader.php
  app/Models/Team.php
Labels: type:reliability

#11894 Allow full printable ascii characters for team name and short name
  app/Models/Team.php
Labels: area:team

#11891 Show team flag in correct size in settings page
  resources/views/teams/edit.blade.php
Labels: area:team

#11893 Add link to team on mobile menu
  resources/views/layout/header_mobile/user.blade.php
Labels: area:team

#11889 Only allow image file type on team header/flag file dialog
  app/Libraries/ImageProcessor.php
  resources/views/teams/edit.blade.php
Labels: area:team

#11896 Delete pending applications when deleting team
  app/Models/Team.php
  tests/Models/TeamTest.php
Labels: area:team

#11897 Show team-related image size hint
  app/Models/Team.php
  resources/css/bem/team-settings.less
  resources/lang/en/teams.php
  resources/views/teams/edit.blade.php
Labels: area:team

#11895 Add check for team url length
  app/Models/Team.php
Labels: area:team

#11916 Hide image tag on team settings page if not exist
  resources/views/teams/edit.blade.php
Labels: area:team

#11917 Use correct user score stats
  app/Http/Controllers/TeamsController.php
  resources/lang/en/teams.php
  resources/views/teams/_members_leaderboard.blade.php
Labels: area:team

#11918 Show header nav link count badge on mobile
  resources/css/bem-index.less
  resources/css/bem/header-nav-item-count.less
  resources/views/layout/_page_header_v4.blade.php
Labels: area:team

#11920 Fix chat channel not displaying some new messages
  resources/js/chat/chat-state-store.ts
Labels: area:chat

#11922 Add maximum file size for team flag/header
  app/Models/Team.php
Labels: area:team

#11921 Enforce specified aspect ratio even on smaller image
  app/Libraries/ImageProcessor.php
Labels: type:behavioural

#11919 Ignore null file parameter
  app/Models/Team.php
Labels: type:reliability

#11923 Use correct dataprovider in ZalgoTest
  tests/ZalgoTest.php
Labels: type:testing

#11870 Remove maximum user card width
  resources/css/bem/store-supporter-tag.less
  resources/css/bem/team-members.less
  resources/css/bem/user-card.less
  resources/css/bem/user-cards.less
  resources/css/variables.less
Labels: area:user-profile

#11875 Check validity of mods wrt exclusivity on score submission
  app/Models/Multiplayer/PlaylistItem.php
  app/Models/Solo/Score.php
  app/Singletons/Mods.php
  tests/Controllers/Solo/ScoresControllerTest.php
  tests/Singletons/ModsTest.php
Labels: area:scoring

#11939 Apply effects on popups from blade template
  resources/js/core/blade-popup.ts
  resources/js/osu-core.ts
  resources/js/shared.coffee
  resources/js/utils/popup.ts
  resources/views/layout/popup-container.blade.php
Labels: type:cosmetic

#11938 Display osu! username for changelog entry user link
  resources/js/components/changelog-entry.coffee
Labels: area:changelog

#11946 Set fixed height for profile/team page buttons
  resources/css/bem/profile-detail-bar.less
  resources/css/bem/team-action-button.less
  resources/css/bem/user-action-button.less
Labels: area:team

#11947 Fix score ranking entry height
  resources/views/rankings/score.blade.php
Labels: type:cosmetic
