Repository ppy/osu-web, pull requests merged in 2025-03, with the labels that each got.

#11949 Unify team and user profile header specification
  app/Libraries/User/Cover.php
  app/Models/Team.php
  app/Models/User.php
  resources/lang/en/users.php
  resources/views/teams/edit.blade.php
Labels: area:user-profile, area:team

#11959 Fix team channel operation not being rolled back on error
  app/Http/Controllers/TeamsController.php
  app/Models/Team.php
  tests/Controllers/TeamsControllerTest.php
Labels: area:team

#11956 Skip image processing if already correct aspect ratio
  app/Libraries/ImageProcessor.php
Labels: type:behavioural

#11940 Add team statistics calculation
  .env.example
  app/Console/Commands/RankingsRecalculateTeamStats.php
  app/Console/Kernel.php
  app/Models/TeamStatistics.php
  config/osu.php
  database/migrations/2025_03_05_113355_create_team_statistics.php
  tests/Models/ModelCompositePrimaryKeysTest.php
Labels: area:team

#11961 Delete team channel if there's no message
  app/Models/Team.php
  tests/Models/TeamTest.php
Labels: area:team

#11950 Fix error when creating team with blank name
  app/Http/Controllers/TeamsController.php
  app/Models/Team.php
  database/factories/TeamFactory.php
Labels: type:reliability, area:team

#11962 Fix overflowing team and username
  resources/css/bem/profile-info.less
  resources/js/profile-page/cover.tsx
  resources/views/teams/show.blade.php
Labels: area:user-profile

#11967 Fix error when listing event of deleted beatmapset
  app/Models/BeatmapDiscussion.php
Labels: area:beatmap-discussions, type:reliability

#11964 Remove unused team model function
  app/Models/Team.php
Labels: area:team

#11963 Fix spoiler box height not reset
  resources/js/core/spoilerbox.ts
Labels: area:forum

#11944 Add team ranking page
  app/Http/Controllers/RankingController.php
  app/Models/TeamStatistics.php
  app/Transformers/TeamStatisticsTransformer.php
  resources/css/bem/ranking-page-table.less
  resources/css/variables.less
  resources/lang/en/rankings.php
  resources/views/rankings/team.blade.php
Labels: area:team

#11951 Include custom beatmap tags set by own user in response
  app/Http/Controllers/BeatmapsetsController.php
  app/Models/Beatmap.php
  app/Transformers/BeatmapCompactTransformer.php
  app/Transformers/BeatmapsetCompactTransformer.php
Labels: area:beatmap-info

#11952 Simplify beatmapset pack tags query
  app/Models/Beatmapset.php
Labels: area:beatmap-listing

#11954 Show session verification box for turbo requests
  app/Libraries/SessionVerification/Controller.php
  app/helpers.php
  resources/js/core/user/user-verification.ts
  resources/js/setup-turbo.ts
  resources/views/teams/show.blade.php
Labels: type:behavioural

#11968 Fix discussion page error with no visible beatmap
  resources/js/stores/beatmapset-discussions-show-store.ts
Labels: area:beatmap-discussions

#11975 Do additional sorting of user best scores
  app/Models/Traits/UserScoreable.php
Labels: area:user-profile

#11972 Skip checking for discussion updates if Beatmapset is deleted
  resources/js/beatmap-discussions/discussions-state-worker.ts
  resources/js/beatmap-discussions/main.tsx
Labels: area:beatmap-discussions

#11973 Filter out statistics of deleted teams
  app/Http/Controllers/RankingController.php
  app/Models/Team.php
  tests/Models/TeamTest.php
Labels: area:team

#11981 Specify chromium package for install
  Dockerfile.development
Labels: area:tooling

#11979 Show statistics on team page
  app/Http/Controllers/TeamsController.php
  app/Models/TeamStatistics.php
  resources/css/bem-index.less
  resources/css/bem/team-info-entries.less
  resources/css/bem/team-info-entry.less
  resources/css/bem/team-info.less
  resources/css/bem/team-summary.less
  resources/js/beatmapsets-show/scoreboard/table-row.tsx
  resources/lang/en/teams.php
  resources/views/objects/_ruleset_selector.blade.php
  resources/views/teams/show.blade.php
  routes/web.php
Labels: area:team

#11986 Fix es document reindex output
  app/Console/Commands/EsIndexDocuments.php
  app/Console/Commands/EsIndexWiki.php
  app/Models/Traits/Es/BaseDbIndexable.php
  app/Models/Wiki/Page.php
Labels: type:cosmetic

#11976 Use d3 builtin stack normalisation
  resources/js/charts/changelog-chart.ts
Labels: type:code-quality

#11987 Remove unused beatmap search blocklist
  .github/workflows/tests.yml
  app/Console/Commands/EsCreateSearchBlacklist.php
  app/Console/Commands/MigrateFreshAllCommand.php
  app/Libraries/Search/BeatmapsetSearch.php
Labels: area:search

#11983 Always require ruleset and beatmap id parameters for multiplayer plays
  app/Models/Multiplayer/Room.php
  tests/Controllers/Multiplayer/Rooms/Playlist/ScoresControllerTest.php
  tests/TestCase.php
Labels: area:multiplayer

#11980 Reset page title text direction
  resources/views/master.blade.php
Labels: type:cosmetic

#11989 Add per-beatmap team ranking
  app/Http/Controllers/BeatmapsController.php
  app/Libraries/Search/ScoreSearch.php
  app/Libraries/Search/ScoreSearchParams.php
  resources/js/beatmapsets-show/scoreboard/controller.ts
  resources/js/beatmapsets-show/scoreboard/scoreboard-type.ts
  resources/js/beatmapsets-show/scoreboard/tab.tsx
  resources/lang/en/beatmapsets.php
Labels: area:team

#11991 Update php code linter
  app/Http/Controllers/BeatmapsetsController.php
  app/Models/Wiki/Page.php
  app/Transformers/BeatmapsetCompactTransformer.php
  app/Transformers/Chat/MessageTransformer.php
  app/Transformers/UserContestEntryTransformer.php
  composer.lock
Labels: type:code-quality

#11996 Update `BeatmapDifficultyAttributes` documentation
  resources/views/docs/_structures/beatmap_difficulty_attributes.md
Labels: type:documentation

#12005 Adjust accuracy rounding for display
  resources/js/utils/score-helper.ts
Labels: area:scoring

#11995 Inherit default ruleset id from the leader when creating a team
  app/Models/Team.php
  tests/Models/TeamTest.php
Labels: area:team

#11999 Update setting beatmap tags to use path param
  app/Http/Controllers/BeatmapTagsController.php
  app/Models/Beatmap.php
  routes/web.php
  tests/Controllers/BeatmapTagsControllerTest.php
  tests/api_routes.json
Labels: type:api

#12003 Remove experimental pp statistics
  .env.example
  app/Http/Controllers/RankingController.php
  app/Models/Count.php
  app/Models/RankHistory.php
  app/Models/User.php
  app/Models/UserStatistics/Model.php
  app/Transformers/UserStatisticsTransformer.php
  config/osu.php
  database/migrations/2025_03_14_074457_remove_rank_exp_from_user_statistics.php
  resources/js/app-deps.ts
  resources/js/interfaces/user-statistics-json.ts
  resources/js/profile-page/pp.tsx
  resources/views/docs/_structures/user_statistics.md
  resources/views/layout/metadata.blade.php
  resources/views/rankings/performance.blade.php
  resources/views/teams/_members_leaderboard.blade.php
Labels: area:user-profile

#12009 Remove support for large json response of room listing api
  app/Http/Controllers/Multiplayer/RoomsController.php
Labels: area:multiplayer

#11993 Update migrate:fresh command
  app/Console/Commands/MigrateFreshAllCommand.php
  app/Providers/MigrationServiceProvider.php
  config/app.php
Labels: type:code-quality

#11992 Flatten filesystem configuration array
  app/Libraries/ReplayFile.php
  config/filesystems.php
  tests/Controllers/ScoresControllerTest.php
Labels: type:code-quality

#12010 Allow client grant token to access room listing api
  app/Http/Controllers/Multiplayer/RoomsController.php
  app/Models/Multiplayer/Room.php
  tests/api_routes.json
Labels: area:multiplayer

#11998 Add sort by score option for team ranking page
  app/Http/Controllers/RankingController.php
  resources/views/rankings/index.blade.php
  resources/views/rankings/team.blade.php
  routes/web.php
Labels: area:team

#12008 Add note on overflowing team member count
  resources/lang/en/teams.php
  resources/views/teams/members/index.blade.php
Labels: area:team

#12017 Include current user playcount in beatmap api responses
  app/Http/Controllers/BeatmapsController.php
  app/Models/Beatmap.php
  app/Transformers/BeatmapCompactTransformer.php
  resources/views/docs/_structures/beatmap.md
Labels: type:api, area:beatmap-info

#12029 Add space between note message and user
  resources/css/bem/profile-extra-recent-infringements.less
  resources/js/profile-page/account-standing.tsx
Labels: area:user-profile, type:cosmetic

#12020 Fix beatmap search documentation title
  app/Http/Controllers/BeatmapsetsController.php
Labels: type:documentation

#12018 Include score count in beatmap scores response
  app/Http/Controllers/BeatmapsController.php
  app/Libraries/Score/BeatmapScores.php
  app/Libraries/Score/UserRank.php
Labels: type:api, area:beatmap-info

#12019 Update phpunit
  composer.json
  composer.lock
  phpunit.dusk.xml
  phpunit.xml
  tests/Browser/SanityTest.php
  tests/SeederExtension.php
  tests/SeederExtension/SeederEndSubscriber.php
  tests/SeederExtension/SeederStartSubscriber.php
Labels: type:code-quality

#11988 Allow failed scores to display on results pages in realtime multiplayer
  app/Models/Multiplayer/PlaylistItemUserHighScore.php
  app/Models/Multiplayer/Room.php
  app/Models/Multiplayer/ScoreLink.php
  app/Models/Multiplayer/UserScoreAggregate.php
  app/Models/ScoreToken.php
  tests/Models/Multiplayer/UserScoreAggregateTest.php
Labels: area:multiplayer

#12022 Update Scribe
  composer.json
  composer.lock
  config/scribe.php
Labels: type:code-quality

#11763 Include user tags in Beatmapset search
  app/Jobs/EsDocument.php
  app/Jobs/EsDocumentUnique.php
  app/Libraries/Search/BeatmapsetQueryParser.php
  app/Libraries/Search/BeatmapsetSearch.php
  app/Libraries/Search/BeatmapsetSearchParams.php
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
  app/Models/Beatmap.php
  app/Models/Beatmapset.php
  app/Models/Traits/Es/BaseDbIndexable.php
  app/Models/Traits/Es/BeatmapsetSearch.php
  config/schemas/beatmapsets.json
  tests/Libraries/Search/BeatmapsetQueryParserTest.php
Labels: area:beatmap-listing

#12031 Update slack (discord) notification library
  app/Notifications/UserReportNotification.php
  composer.lock
Labels: type:code-quality

#12042 Separate user tags on beatmapset info
  resources/js/beatmapsets-show/info.tsx
  resources/js/beatmapsets-show/metadata-editor.tsx
  resources/lang/en/beatmapsets.php
Labels: area:tags

#12040 Update laravel js localisation library
  composer.lock
  resources/js/cli/generate-localizations.js
Labels: type:code-quality

#12044 Fix parsing multiple quoted search options
  app/Libraries/Search/BeatmapsetQueryParser.php
  resources/js/beatmapsets-show/header.tsx
  resources/js/beatmapsets-show/info.tsx
  resources/js/utils/beatmapset-helper.ts
  tests/Libraries/Search/BeatmapsetQueryParserTest.php
Labels: area:beatmap-listing

#12046 Fix SpotlightFactory state return type
  database/factories/SpotlightFactory.php
Labels: type:testing

#12030 Convert multiplayer match history event component to typescript
  app/Models/LegacyMatch/Score.php
  resources/js/interfaces/legacy-match-event-json.ts
  resources/js/interfaces/legacy-match-game-json.ts
  resources/js/interfaces/legacy-match-json.ts
  resources/js/interfaces/score-json.ts
  resources/js/mp-history/content.coffee
  resources/js/mp-history/event.coffee
  resources/js/mp-history/event.tsx
Labels: type:code-quality, area:multiplayer

#12053 Fix missing sort parameter on pagination link
  app/Http/Controllers/RankingController.php
Labels: area:rankings

#12049 Remove nonexistent route
  routes/web.php
Labels: type:code-quality

#12045 Don't send notification from blocked user
  app/Jobs/Notifications/BroadcastNotificationBase.php
  tests/Controllers/CommentsControllerTest.php
Labels: area:notifications

#12047 Use fully quoted tags for Beatmapset user tag links
  app/Libraries/Search/BeatmapsetSearch.php
  resources/js/beatmapsets-show/info.tsx
  resources/js/contest-judge-results/header.tsx
  resources/lang/en/beatmapsets.php
Labels: area:beatmap-info

#12012 Add country filter for score ranking
  app/Http/Controllers/RankingController.php
  database/migrations/2025_03_18_065831_add_country_ranked_score_index_to_stats_tables.php
  resources/views/rankings/score.blade.php
Labels: area:rankings

#12062 Fix testUsernameChangeCostWindow setup
  app/Models/User.php
  tests/Models/UserTest.php
Labels: type:testing

#12061 Show more accurate order state message after xsolla redirect
  app/Http/Controllers/Payments/XsollaController.php
Labels: area:store

#12055 Fix user card length on supporter store page
  resources/css/bem/store-supporter-tag.less
Labels: area:store, type:cosmetic
