Repository ppy/osu-web, pull requests merged in 2025-09, with the labels that each got.

#12372 Fix Beatmap search played filter sometimes not working
  app/Libraries/Search/BeatmapsetSearch.php
Labels: area:search

#12374 Ignore tag for topic title length check
  app/Models/Forum/Topic.php
  database/migrations/2025_09_01_140349_adjust_topic_title_length.php
  tests/Models/Forum/TopicTest.php
Labels: area:forum

#12370 Interface to add/remove totp verification
  app/Http/Controllers/UserTotpController.php
  app/helpers.php
  resources/css/bem-index.less
  resources/css/bem/btn-osu-big.less
  resources/css/bem/qr-svg.less
  resources/js/register-components.tsx
  resources/lang/en/accounts.php
  resources/lang/en/page_title.php
  resources/lang/en/user_totp.php
  resources/views/accounts/_edit_user_totp.blade.php
  resources/views/accounts/edit.blade.php
  resources/views/user_totp/create.blade.php
  resources/views/user_totp/edit.blade.php
  routes/web.php
  tests/Browser/SanityTest.php
  tests/Controllers/UserTotpControllerTest.php
Labels: area:user-profile

#12394 Improve team short name generator
  database/factories/TeamFactory.php
Labels: type:testing

#12375 Add beatmapset version and related models
  app/Models/Beatmapset.php
  app/Models/BeatmapsetFile.php
  app/Models/BeatmapsetVersion.php
  app/Models/BeatmapsetVersionFile.php
Labels: area:beatmap-info

#12400 Fix handling of invalid empty img bbcode tag
  app/Libraries/BBCodeForDB.php
  tests/Libraries/bbcode_examples/img_empty.base.txt
  tests/Libraries/bbcode_examples/img_empty.db.txt
  tests/Libraries/bbcode_examples/img_empty.html
Labels: area:forum

#12395 Split off plural translation
  resources/js/quick-search/main.tsx
  resources/lang/en/quick_search.php
Labels: type:localisation

#12408 Fix own maps search
  app/Libraries/Search/BeatmapsetSearch.php
Labels: area:beatmap-listing

#12411 Fix missing translation
  app/Http/Controllers/UserTotpController.php
Labels: type:localisation

#12422 Fix totp pages section
  app/Singletons/RouteSection.php
Labels: area:settings

#12424 Filter own beatmap in es directly
  app/Libraries/Search/BeatmapsetSearch.php
Labels: area:beatmap-listing

#12308 Add OAuth scope for pinning and locking topics
  app/Http/Controllers/Forum/TopicsController.php
  app/Models/OAuth/Client.php
  app/Models/OAuth/Token.php
  app/Models/User.php
  app/Providers/AuthServiceProvider.php
  app/Singletons/OsuAuthorize.php
  database/factories/Forum/ForumFactory.php
  database/factories/UserFactory.php
  resources/lang/en/api.php
  resources/lang/en/model_validation/token.php
  resources/views/docs/auth.blade.php
  routes/web.php
  tests/Controllers/Chat/ChannelsControllerTest.php
  tests/Controllers/Forum/PostsControllerTest.php
  tests/Controllers/Forum/TopicsControllerTest.php
  tests/Models/OAuth/GroupPermissionTest.php
  tests/Models/OAuth/TokenTest.php
  tests/OAuthClientCredentialsRequestTest.php
  tests/TestCase.php
  tests/api_routes.json
Labels: area:forum, type:api
