Repository ppy/osu-web, pull requests merged in 2025-10, with the labels that each got.

#12403 Add beatmap version history page
  app/Http/Controllers/BeatmapsetsController.php
  app/Models/Beatmapset.php
  app/Models/BeatmapsetVersion.php
  app/Transformers/BeatmapsetCompactTransformer.php
  database/factories/BeatmapsetVersionFileFactory.php
  public/images/icons/primitives/arrow-cycle.svg
  public/images/icons/primitives/plus.svg
  public/images/icons/primitives/trash.svg
  resources/css/bem-index.less
  resources/css/bem/beatmapset-versions.less
  resources/css/bem/header-nav-item-count.less
  resources/css/bem/header-v4.less
  resources/css/bem/osu-page.less
  resources/css/bem/svg-icon.less
  resources/js/beatmapsets-show/header-links.ts
  resources/js/components/header-v4.tsx
  resources/js/interfaces/beatmapset-extended-json.ts
  resources/js/interfaces/beatmapset-json.ts
  resources/js/interfaces/beatmapset-with-discussions-json.ts
  resources/js/interfaces/header-link.ts
  resources/lang/en/layout.php
  resources/lang/en/page_title.php
  resources/views/beatmapsets/versions.blade.php
  routes/web.php
  tests/Models/BeatmapsetVersionTest.php
Labels: area:beatmap-info

#12428 Reduce chance of model factory collision
  database/factories/BeatmapsetFileFactory.php
Labels: type:testing

#12437 Add length limit to team description field
  app/Models/Team.php
Labels: area:team

#12434 Add "main type" support for store products
  app/Models/Store/Product.php
Labels: area:store

#12436 Fix error on beatmap discussion with invalid beatmap id
  app/Singletons/OsuAuthorize.php
Labels: area:beatmap-discussions

#12425 Ignore user group pending flag
  app/Models/Forum/Authorize.php
  app/Models/User.php
  app/Models/UserGroupEvent.php
  database/factories/UserFactory.php
  tests/Controllers/InterOp/UserGroupsControllerTest.php
Labels: type:code-quality

#12442 Save Beatmapset nomination level
  app/Libraries/Beatmapset/NominateBeatmapset.php
  app/Models/Beatmapset.php
  app/Models/BeatmapsetNomination.php
  app/Models/User.php
  database/seeders/ModelSeeders/GroupSeeder.php
  tests/Models/BeatmapsetTest.php
Labels: area:beatmap-discussions
