Repository ppy/osu-web, pull requests merged in 2025-05, with the labels that each got.

#12146 Add team chat notification
  app/Jobs/Notifications/ChannelTeam.php
  app/Models/Chat/Message.php
  app/Models/Notification.php
  app/Models/UserNotificationOption.php
  resources/js/notification-maps/category.ts
  resources/js/notification-maps/icons.ts
  resources/js/notification-maps/url.ts
  resources/lang/en/accounts.php
  resources/lang/en/notifications.php
Labels: area:team

#12149 Simplify profile hue colour selector css
  resources/css/bem/profile-hue-selector.less
Labels: type:code-quality

#12151 Keep team leaderboard links sort/ruleset option
  resources/views/teams/leaderboard.blade.php
Labels: area:team

#12155 Use bpm data from beatmap when searching
  app/Libraries/Search/BeatmapsetSearch.php
  config/schemas/beatmapsets.json
Labels: area:beatmap-listing

#12160 Fix cursor for topic listing not working
  app/Http/Controllers/Forum/TopicsController.php
Labels: type:api

#12162 Adjust menu search button
  resources/css/bem/nav2.less
  resources/css/bem/quick-search.less
  resources/js/components/quick-search-button.tsx
Labels: area:search

#12158 Automate quick search json generation
  app/Http/Controllers/HomeController.php
  app/Libraries/Search/QuickSearch.php
  resources/js/quick-search/main.tsx
  resources/js/quick-search/worker.ts
Labels: area:search, type:code-quality

#12165 Don't display contest entries when judging period is over but results not available yet
  app/Http/Controllers/ContestsController.php
  app/Models/Contest.php
  resources/views/contests/voting.blade.php
Labels: area:contests

#12167 Add language and genre id to beatmapset json
  app/Transformers/BeatmapsetCompactTransformer.php
Labels: type:api, area:beatmap-listing

#12166 Simplify user channel notification mail key
  app/Jobs/Notifications/BeatmapsetDiscussionReviewNew.php
  app/Jobs/Notifications/BroadcastNotificationBase.php
  app/Jobs/Notifications/ChannelAnnouncement.php
  app/Jobs/Notifications/ChannelMessageBase.php
  app/Jobs/Notifications/ChannelTeam.php
  app/Mail/UserNotificationDigest.php
  resources/lang/en/notifications.php
Labels: area:notifications

#12170 Move Beatmapset SearchResponse interface to own file
  resources/js/beatmaps/beatmapset-search-controller.ts
  resources/js/beatmaps/beatmapset-search.ts
  resources/js/beatmaps/result-set.ts
  resources/js/beatmaps/search-sort.tsx
  resources/js/entrypoints/beatmaps.tsx
  resources/js/interfaces/beatmapset-search-response.ts
  resources/js/stores/root-data-store.ts
Labels: type:code-quality

#12157 Add API endpoint for retrieving lazer multiplayer room history
  app/Http/Controllers/Multiplayer/RoomsController.php
  app/Models/Multiplayer/RealtimeRoomEvent.php
  app/Models/Multiplayer/Room.php
  app/Transformers/Multiplayer/PlaylistItemTransformer.php
  app/Transformers/Multiplayer/RealtimeRoomEventTransformer.php
  database/migrations/2025_05_14_062018_add_index_to_room_id_on_multiplayer_realtime_room_events.php
  resources/js/interfaces/playlist-item-json.ts
  resources/js/interfaces/realtime-room-event-json.ts
  routes/web.php
  tests/api_routes.json
Labels: type:api, area:multiplayer

#12156 Add team search
  app/Console/Commands/EsIndexDocuments.php
  app/Libraries/Search/MultiSearch.php
  app/Libraries/Search/QuickSearch.php
  app/Libraries/Search/TeamSearch.php
  app/Libraries/Search/TeamSearchParams.php
  app/Libraries/Search/TeamSearchRequestParams.php
  app/Models/Team.php
  app/Models/Traits/Es/TeamSearch.php
  config/schemas/teams.json
  resources/css/base.less
  resources/css/bem-index.less
  resources/css/bem/btn-circle.less
  resources/css/bem/search-result.less
  resources/css/bem/team-card.less
  resources/css/bem/user-search-card.less
  resources/css/icons.less
  resources/fonts/extra/extra.eot
  resources/fonts/extra/extra.svg
  resources/fonts/extra/extra.ttf
  resources/fonts/extra/extra.woff
  resources/fonts/extra/extra.woff2
  resources/js/components/team-extra-menu.tsx
  resources/js/quick-search/main.tsx
  resources/js/quick-search/team.tsx
  resources/js/quick-search/worker.ts
  resources/lang/en/home.php
  resources/lang/en/quick_search.php
  resources/lang/en/sort.php
  resources/lang/en/teams.php
  resources/views/home/_search_result_team.blade.php
  resources/views/home/search.blade.php
  resources/views/objects/search/_team_sort.blade.php
Labels: area:team

#12159 Combine quick search other modes variable
  resources/js/quick-search/main.tsx
  resources/js/quick-search/worker.ts
Labels: area:search

#12171 Fix error deleting partial user notification
  app/Console/Commands/UserNotificationsCleanup.php
Labels: type:reliability

#12161 Simplify model es json generation
  app/Models/Traits/Es/ArtistTrackSearch.php
  app/Models/Traits/Es/BaseDbIndexable.php
  app/Models/Traits/Es/BeatmapsetSearch.php
  app/Models/Traits/Es/ForumPostSearch.php
  app/Models/Traits/Es/TeamSearch.php
  app/Models/Traits/Es/UserSearch.php
Labels: area:search, type:code-quality

#12179 Fix error on forum post search by username with blank query
  app/Libraries/Search/TeamSearch.php
Labels: area:search

#12172 Simplify score transformer format parameter
  app/Http/Controllers/BeatmapsController.php
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  app/Http/Controllers/ScoresController.php
  app/Http/Controllers/Solo/ScoresController.php
  app/Transformers/LegacyMatch/GameTransformer.php
  app/Transformers/Multiplayer/PlaylistItemTransformer.php
  app/Transformers/ScoreTransformer.php
Labels: type:code-quality

#12175 Use new score format for legacy match score
  app/Http/Controllers/ScoresController.php
  app/Models/LegacyMatch/Score.php
  app/Models/Score/Best/Model.php
  app/Models/Score/Model.php
  app/Transformers/LegacyMatch/GameTransformer.php
  app/Transformers/Score/CurrentUserAttributesTransformer.php
  app/Transformers/ScoreTransformer.php
  resources/js/beatmapsets-show/scoreboard/controller.ts
  resources/js/beatmapsets-show/scoreboard/table-row.tsx
  resources/js/beatmapsets-show/scoreboard/top-card.tsx
  resources/js/components/play-detail-menu.tsx
  resources/js/components/score-pin.tsx
  resources/js/components/score-value.tsx
  resources/js/core/user/score-pins.ts
  resources/js/interfaces/score-json.ts
  resources/js/interfaces/solo-score-json.ts
  resources/js/mp-history/content.tsx
  resources/js/mp-history/game.tsx
  resources/js/mp-history/score.tsx
  resources/js/profile-page/controller.tsx
  resources/js/profile-page/play-detail-list.tsx
  resources/js/profile-page/play-detail.tsx
  resources/js/scores-show/buttons.tsx
  resources/js/scores-show/info.tsx
  resources/js/scores-show/main.tsx
  resources/js/scores-show/player.tsx
  resources/js/scores-show/stats.tsx
  resources/js/scores/pp-value.tsx
  resources/js/utils/legacy-score-helper.ts
  resources/js/utils/score-helper.ts
  tests/Controllers/ScoresControllerTest.php
Labels: type:code-quality

#12181 Remove ScoreTransformer non-existent variable
  app/Transformers/ScoreTransformer.php
Labels: type:code-quality

#12182 Show Daycore scores on Half Time leaderboards
  app/Singletons/Mods.php
Labels: area:scoring

#12183 Rename match to legacy match (controller, react component)
  app/Http/Controllers/LegacyMatchesController.php
  resources/js/entrypoints/legacy-match.tsx
  resources/js/legacy-match/content.tsx
  resources/js/legacy-match/event.tsx
  resources/js/legacy-match/game-header.tsx
  resources/js/legacy-match/game.tsx
  resources/js/legacy-match/index.tsx
  resources/js/legacy-match/score.tsx
  resources/views/legacy_matches/show.blade.php
  routes/web.php
  tests/Controllers/LegacyMatchesControllerTest.php
  tests/api_routes.json
Labels: type:code-quality

#12186 Update mobx
  package.json
  resources/js/beatmap-discussions/user-filter.tsx
  resources/js/beatmapset-search-filters.ts
  resources/js/legacy-match/index.tsx
  resources/js/stores/channel-store.ts
  resources/js/utils/array.ts
  yarn.lock
Labels: type:code-quality

#12190 Fix legacy match page title
  resources/lang/en/page_title.php
Labels: type:cosmetic

#12191 Clean up multiplayer related ts interfaces
  app/Models/Multiplayer/PlaylistItem.php
  app/Transformers/Multiplayer/PlaylistItemTransformer.php
  resources/js/interfaces/legacy-match-event-json.ts
  resources/js/interfaces/legacy-match-game-json.ts
  resources/js/interfaces/legacy-match-json.ts
  resources/js/interfaces/playlist-item-json.ts
Labels: type:code-quality

#12200 Add per-beatmap user playcount to beatmapset detail response
  app/Http/Controllers/BeatmapsetsController.php
Labels: type:api
