Repository ppy/osu-web, pull requests merged in 2025-01, with the labels that each got.

#11776 Fix tag controller tests
  tests/TestCase.php
Labels: type:testing

#11774 Reset changelog chart before creating a new one
  resources/js/core-legacy/changelog-chart-loader.coffee
Labels: area:changelog

#11773 Force browser page refresh on locale change
  app/Http/Controllers/HomeController.php
  resources/views/layout/ujs_full_reload.blade.php
Labels: area:settings

#11750 Show custom user tags on beatmapset
  app/Http/Controllers/BeatmapTagsController.php
  app/Http/Controllers/BeatmapsetsController.php
  app/Http/Controllers/TagsController.php
  app/Models/Beatmap.php
  app/Models/BeatmapTag.php
  app/Models/Tag.php
  app/Providers/AppServiceProvider.php
  app/Singletons/Tags.php
  app/Transformers/BeatmapCompactTransformer.php
  app/Transformers/BeatmapsetCompactTransformer.php
  database/factories/TagFactory.php
  resources/js/beatmapsets-show/controller.ts
  resources/js/beatmapsets-show/info.tsx
  resources/js/interfaces/beatmap-json.ts
  resources/js/interfaces/beatmapset-extended-json.ts
  resources/js/interfaces/beatmapset-json.ts
  resources/js/interfaces/tag-json.ts
  routes/web.php
  tests/Controllers/BeatmapTagsControllerTest.php
  tests/Models/ModelCompositePrimaryKeysTest.php
  tests/api_routes.json
Labels: area:beatmap-info

#11784 Fix env file setup for dusk.local
  docker/development/prepare.sh
Labels: area:tooling

#11775 Rework score token validation
  app/Http/Controllers/Multiplayer/Rooms/Playlist/ScoresController.php
  app/Http/Controllers/ScoreTokensController.php
  app/Models/Multiplayer/Room.php
  app/Models/ScoreToken.php
  database/factories/ScoreTokenFactory.php
  tests/Controllers/Multiplayer/Rooms/Playlist/ScoresControllerTest.php
  tests/Controllers/ScoreTokensControllerTest.php
  tests/Models/Multiplayer/RoomTest.php
  tests/Models/Multiplayer/UserScoreAggregateTest.php
  tests/TestCase.php
Labels: area:multiplayer

#11760 Add support for "freestyle" in multiplayer
  app/Models/Multiplayer/PlaylistItem.php
  app/Models/Multiplayer/Room.php
  app/Transformers/Multiplayer/PlaylistItemTransformer.php
  database/migrations/2025_01_16_000000_add_freestyle_to_multiplayer_playlist_items.php
Labels: area:multiplayer

#11764 Exclude bot and no profile special groups from being set as guest mappers
  app/Http/Controllers/Users/LookupController.php
  app/Libraries/Beatmapset/ChangeBeatmapOwners.php
  app/Models/User.php
  resources/js/beatmap-discussions/beatmap-owner-editor.tsx
  resources/js/chat/create-announcement.tsx
  resources/js/components/username-input.tsx
  resources/js/store/store-supporter-tag.tsx
  resources/js/utils/user.ts
  tests/Libraries/Beatmapset/ChangeBeatmapOwnersTest.php
Labels: area:beatmap-discussions

#11780 Add completion marker to daily challenge profile counter
  resources/css/bem/daily-challenge.less
  resources/js/profile-page/daily-challenge.tsx
Labels: area:user-profile

#11794 Remove proxying option of blade background image
  app/helpers.php
  resources/views/follows/modding.blade.php
  resources/views/forum/topics/_post_info.blade.php
  resources/views/layout/_header_user.blade.php
  resources/views/layout/_page_header_v4.blade.php
  resources/views/layout/_popup_user.blade.php
  resources/views/objects/_flag_team.blade.php
Labels: type:performance

#11802 Flip order and only store display message for changelog entry
  app/Models/ChangelogEntry.php
  app/Transformers/ChangelogEntryTransformer.php
  tests/Models/ChangelogEntryTest.php
Labels: area:changelog

#11809 Adjust username change cost
  app/Models/User.php
  app/Models/UsernameChangeHistory.php
  database/factories/UsernameChangeHistoryFactory.php
  tests/Models/UserTest.php
Labels: area:store

#11811 Add support for parting rooms via interop + adjust responses
  app/Http/Controllers/InterOp/Multiplayer/RoomsController.php
  app/Http/Controllers/Multiplayer/RoomsController.php
  app/Models/Multiplayer/Room.php
  routes/web.php
Labels: area:multiplayer

#11814 Fix handling of github 404 error
  app/Libraries/OsuWiki.php
Labels: area:wiki

#11812 Fix setting null profile extras order
  app/Models/UserProfileCustomization.php
Labels: area:user-profile

#11808 Move js test related build file path
  docker-compose.yml
  docker/development/entrypoint.sh
  storage/.gitignore
Labels: area:tooling

#11821 Simpler username cost reduction
  app/Models/User.php
  tests/Models/UserTest.php
Labels: area:store

#11823 Support ruleset variants in "best of" contests
  app/Models/Contest.php
Labels: area:contests

#11824 Include beatmap owners in additional Beatmap API responses
  app/Http/Controllers/BeatmapsController.php
  resources/views/docs/_structures/beatmap.md
  resources/views/docs/_structures/beatmap_owner.md
Labels: type:api

#11825 Fix docs nav button resetting scroll position
  resources/js/docs/sidebar-toggle.ts
Labels: type:behavioural, type:documentation

#11783 Add ability to search by circle or slider count
  app/Libraries/Search/BeatmapsetQueryParser.php
  app/Libraries/Search/BeatmapsetSearch.php
  app/Libraries/Search/BeatmapsetSearchParams.php
  app/Libraries/Search/BeatmapsetSearchRequestParams.php
Labels: area:beatmap-listing

#11706 Automatically create beatmap set description topic on edit if missing
  .env.example
  app/Models/Beatmapset.php
  config/osu.php
Labels: area:beatmap-info

#11829 Remove empty blade php section
  resources/views/teams/edit.blade.php
Labels: type:code-quality, area:team

#11831 Support non-4k/7k mania variant in "best of" contests
  app/Models/Contest.php
Labels: area:contests
